<!-- component documentation -->

<p>
    This component does pangenome analysis. More documentation to follow.
</p>
<h3>references</h3>
<p>
    To be completed.
</p>
<h3>input</h3>
<p>
    Input is a binary file of merged and parsed all-vs-all blast results for a set of genomes. Usually this would
    include results from both BLASTP and TBLASTN.

</p>
<h3>bsml output</h3>
<div class='bsml_container'>
    no bsml output defined for this component
</div>
<h3>output</h3>
<p>
    To be completed.
</p>
