[parameters]
$;MATRIX$; = BLOSUM62
$;EXPECT$; = 1e-5
$;FILTER$; = T
$;DATABASE_MATCHES$; = 150
$;DESCRIPTIONS$; = 150
$;OTHER_OPTS$; = 
$;COMPRESS_RAW_OUTPUT$; = 0

[input]
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa
$;DATABASE_PATH$; = 

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;BSML_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bsml.list
$;BTAB_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.btab.list
$;RAW_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.raw.list

[component]
$;VERSION$; = $Name$
$;REVISION$;            = $Revision$
$;TAG$;                 = $Name$
$;COMPONENT_NAME$; = ncbi-blastp 
$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;GROUP_COUNT$; = 150
;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;NODISTRIB$;            = 0

[include]
$;PROJECT_CONFIG$;=


