;project configuration file.  These parameters will be used for all subflows.
;all these parameters are required.
[project]
;eg. chado_test
$;PROJECT$;=chado_test
;eg /usr/local/annotation/CHADO_TEST
$;REPOSITORY_ROOT$;=/usr/local/annotation/CHADO_TEST

$;TMP_DIR$;=/usr/local/scratch/$;DATABASE$;/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;

;; these must each be full paths - no variable references or tokens.
$;PROJECT_ID_REPOSITORY$;=/usr/local/annotation/BOOMANO/workflow/project_id_repository
$;ERGATIS_DIR$;=/usr/local/devel/ANNOTATION/ard/testing_manual
$;LIB_DIR$;=/usr/local/devel/ANNOTATION/ard/testing_manual/lib
$;BIN_DIR$;=/usr/local/devel/ANNOTATION/ard/testing_manual/bin
$;DOCS_DIR$;=/usr/local/devel/ANNOTATION/ard/testing_manual/docs
$;DEBUG$;=0

[include]
$;SOFTWARE_CONFIG$;=/usr/local/devel/ANNOTATION/ard/testing_manual/software.config
