;; This is the project configuration file.  All options are required unless specified optional.
[project]

;; Usually the name or abbreviation for a project.
$;PROJECT$;=new

;; The root of your project directory, under which should exist the 'workflow' directory
$;REPOSITORY_ROOT$;=/usr/local/projects/NEW

;; This area will be used as temporary space for the project.  It should be cleaned out
;;  regularly, usually by some cron job.
$;TMP_DIR$;=/usr/local/scratch/$;PROJECT$;/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;

;; SunGrid Engine supports grid usage monitoring by project codes, allowing admins to keep
;;  track of grid time across different groups.  This will cause Workflow Engine to utilize 
;;  SGE's -P directive.  Required: if you don't know what to put here, just use 'general'
$;PROJECT_CODE$;=general

;; All variables below must be full paths - no variable references or tokens.

;; This should be the path to the id repository under the 'workflow' directory for your project.
$;PROJECT_ID_REPOSITORY$;=/usr/local/projects/NEW/workflow/project_id_repository

;; The ergatis scripts and libraries should be found here.
$;ERGATIS_DIR$;=/opt/ergatis

;; Path to the ergatis lib directory, usually under the ERGATIS_DIR
$;LIB_DIR$;=/opt/ergatis/lib

;; Path to the ergatis bin directory, usually under the ERGATIS_DIR
$;BIN_DIR$;=/opt/ergatis/bin

;; Path to the ergatis docs directory, usually under the ERGATIS_DIR
$;DOCS_DIR$;=/opt/ergatis/docs

;; Default debug setting
$;DEBUG$;=0

[include]
;; Path to the software config file.  It contains the path to the binary for each component as
;;  well as common data paths.
$;SOFTWARE_CONFIG$;=/opt/ergatis/software.config
