;; This file contains any component configuration options that are common across 
;; all Ergatis components. Any components added here should be displayed in the interface
;; when adding any component to a pipeline

[dce]
;; These configuration options only apply to any distributed components 
$;GROUP$; = $;PROJECT_CODE$;
$;OS$; = linux
$;MEMORY$; = 
$;HOSTS$; = 
$;QUEUE$; = 
$;DURATION$; = 
$;PRIORITY$; =
$;PASSTHROUGH$; = 
