;Configuration file for third party software install locations and any
;software outside of the ergatis install path.

;Each section provides a set of variables corresponding to a component
;and so headers must correspond to component names. For example tokens
;under [wu-blastp] will only be evaluated when running the wu-blastp
;component.  Tokens under the shared section will be evaulated for all
;components

[install shared]

[install common_inputs]
$;FASTA_NR_PEPTIDE$;=/usr/local/db/panda/AllGroup/AllGroup.fasta
$;HMM_ALL$; = /usr/local/db/HMM_LIB/ALL_LIB_bin.HMM

[install formatdb]
$;FORMATDB_EXEC$; = /usr/local/bin/formatdb

[install hmmpfam]
$;HMMPFAM_EXEC$; = /usr/local/bin/hmmpfam
$;HTAB_EXEC$; = /usr/local/common/htab.pl

[install ncbi-blastp]
$;BLASTALL_EXEC$;=/usr/local/bin/blastall

[install wu-blastp]
$;BLASTP_EXEC$;=/usr/local/common/blastp

[install wu-tblastx]
$;TBLASTX_EXEC$;=/usr/local/common/tblastx

[install wu-blastx]
$;BLASTX_EXEC$;=/usr/local/common/blastx

[install wu-blastn]
$;BLASTN_EXEC$;=/usr/local/common/blastn

[install xdformat]
$;XDFORMAT_EXEC$;=/usr/local/common/xdformat
