; Configuration file for third party software install locations and any
; software outside of the ergatis install path.
; Each section provides a set of variables corresponding to a component
; and so headers must correspond to component names. For example tokens
; under [component wu-blastp] will only be evaluated when running the wu-blastp
; component.  Tokens under any 'common' section will be evaluated for all
; components
;; common stuff first
[common shared]
$;MOTHUR_EXEC$;=/usr/local/packages/mothur/mothur
$;HADOOP_EXEC$;=/opt/hadoop/bin/hadoop

[common inputs]
$;DB_DIR$;=/mnt/staging/db

;; Global non-redundant amino acid database
$;DB_NR_PEPTIDE$;=/mnt/staging/db/panda/AllGroup/AllGroup.niaa

;; Globally set non-redundant nucleotide database
$;DB_NR_NUCLEOTIDE$;=/usr/local/projects/db/panda/AllGroup/AllGroup.fasta

$;HMM_ALL$; = /usr/local/projects/db/coding_hmm/coding_hmm.lib.bin
$;SIMPLE_REPEAT_LIB$;=/usr/local/devel/ANNOTATION/RepeatMasker20020713/Libraries/simple.lib
$;RNA_LIB$;=/usr/local/projects/db/RDPII/release9_56_unaligned.fasta
$;PRIAM_PROFILES$;=/usr/local/projects/db/priam/profile_EZ
$;NCBI_BLAST_NUC_NR$;=/local/db/by_source/ncbi/blast/latest/nr
$;NCBI_BLAST_NT$; = /local/db/by_source/ncbi/blast/latest/nt
$;TIGR_ROLES_DB_DIR$; = /local/db/by_source/jcvi/tigr_roles
$;DB_UNIPROT_100$; = /local/scratch/kgalens/uniprot_cluster_fasta/uniref100.fasta

;; components below
[component aat_aa]
$;DPS_EXEC$;=/usr/local/devel/ANNOTATION/elee/bin/aat/dps
$;EXT_EXEC$;=/usr/local/bin/ext
$;EXT_COLLAPSE_EXEC$;=/usr/local/common/extCollapse.pl
$;FILTER_EXEC$;=/usr/local/common/filter.pl
$;NAP_EXEC$;=/usr/local/bin/nap
$;MATRIX$;=/usr/local/packages/AAT/matrices/BS

[component aat_aa_masked]
$;DPS_EXEC$;=/usr/local/devel/ANNOTATION/elee/bin/aat/dps
$;EXT_EXEC$;=/usr/local/bin/ext
$;EXT_COLLAPSE_EXEC$;=/usr/local/common/extCollapse.pl
$;FILTER_EXEC$;=/usr/local/common/filter.pl
$;NAP_EXEC$;=/usr/local/bin/nap

[component aat_na]
$;DDS_EXEC$;=/usr/local/devel/ANNOTATION/elee/bin/aat/dds
$;EXT_EXEC$;=/usr/local/bin/ext
$;EXT_COLLAPSE_EXEC$;=/usr/local/common/extCollapse.pl
$;FILTER_EXEC$;=/usr/local/common/filter.pl
$;GAP2_EXEC$;=/usr/local/bin/gap2

[component aat_na_masked]
$;DDS_EXEC$;=/usr/local/devel/ANNOTATION/elee/bin/aat/dds
$;EXT_EXEC$;=/usr/local/bin/ext
$;EXT_COLLAPSE_EXEC$;=/usr/local/common/extCollapse.pl
$;FILTER_EXEC$;=/usr/local/common/filter.pl
$;GAP2_EXEC$;=/usr/local/bin/gap2

[component aragorn]
$;ARAGORN_EXEC$;=/usr/local/devel/ANNOTATION/wnelson/aragorn

[component auto_gene_curation]
$;HMM_INFO_DB$;=/mnt/coding_hmm.lib.db
$;HMM_LIB_DB$;=$;DB_DIR$;/coding_hmm/coding_hmm.lib.db
$;NCBI_TAX_NAMES$;=$;DB_DIR$;/ncbi/taxonomy/names.dmp
$;NCBI_TAX_NODES$;=$;DB_DIR$;/ncbi/taxonomy/nodes.dmp

[component ber]
$;PRAZE_EXEC$;=/usr/local/bin/praze
$;CDBFASTA_PATH$;=/usr/local/packages/cdbtools
$;FORMATDB_PATH$;=/usr/local/bin
$;XDFORMAT_PATH$;=/usr/local/bin

[component clustalw]
$;CLUSTALW_EXEC$;=/usr/local/bin/clustalw

[component ec_assignment]
$;PSIBLAST_EXEC$;=/home/kgalens/blast-2.2.18/bin/blastpgp

[component fgenesh]
$;FGENESH_EXEC$;=/usr/local/devel/ANNOTATION/euk_genome_control/bin/fgenesh/Linux/fgenesh

[component formatdb]
$;FORMATDB_EXEC$;=/usr/local/bin/formatdb

[component fuzznuc]
$;FUZZNUC_EXEC$;=/usr/local/packages/EMBOSS/bin/fuzznuc

[component geneid]
$;GENEID_EXEC$;=/usr/local/packages/geneid/bin/geneid

[component genemark]
$;GMHMME3_EXEC$;=/usr/local/bin/gmhmme3

[component genezilla]
$;GENEZILLA_EXEC$;=/usr/local/devel/ANNOTATION/jorvis/opt/genezilla

[component genewise]
$;GENEWISE_EXEC$;=/usr/local/devel/ANNOTATION/EGC_utilities/WISE2/wise2.2.0/src/bin/genewise

[component gff_to_annotation_table]
$;XDFORMAT_EXEC$;=/usr/local/packages/VAM/bin/gff_to_annotation_table.pl

[component glimmer3]
$;GLIMMER3_EXEC$;=/usr/local/packages/glimmer3/bin/glimmer3
$;GLIMMER3_DIR$;=/usr/local/packages/glimmer3

[component glimmerHMM]
$;GLIMMERHMM_EXEC$;=/usr/local/devel/ANNOTATION/jorvis/glimmerHMM/glimmerhmm

[component hmmpfam]
$;HMMPFAM_EXEC$;=/usr/local/bin/hmmpfam
$;HTAB_EXEC$;=/usr/local/common/htab.pl
$;HMM_LIB_DB$;=$;DB_DIR$;/coding_hmm/coding_hmm.lib.db

[component hmmls]
$;HMMLS_EXEC$;=/usr/local/bin/hmmls

[component infernal]
$;CMSEARCH_EXEC$;=/usr/local/bin/cmsearch
$;RFAM_HMM_CM_MAP$;=/usr/local/projects/db/Rfam/current/hmm_cm_mapping
$;RFAM_STOCKHOLM_DIR$;=/usr/local/projects/db/Rfam/current/stockholm

[component iprscan]
$;IPRSCAN_EXEC$;=/usr/local/packages/iprscan/bin/iprscan.sh

[component jaccard]
$;CLUSTER_PATH$;=/usr/local/devel/ANNOTATION/EGC_utilities/bin/cluster

[component lipop]
$;LIPOP_EXEC$;=/usr/local/bin/LipoP

[component metagene]
$;METAGENE_EXEC$;=/usr/local/packages/metagene-2008-08-19/mga_linux_ia64

[component mothur_align_seqs]
$;SILVA_ALIGNMENT$;=/local/projects/clovr/test_data/16S/SilvaAlignment/silva.bacteria.align.fasta

[component mothur_classify_seqs]
$;SILVA_BACTERIA_DB$;=/local/projects/clovr/test_data/16S/SilvaTaxonomy/silva.bacteria.tax.fasta
$;SILVA_TAXONOMY$;=/local/projects/clovr/test_data/16S/SilvaTaxonomy/silva.slv.taxonomy

[component mothur_trim_seqs]
$;IGS_OLIGOS$;=/local/projects/clovr/test_data/16S/IGS.oligos

[component muscle]
$;MUSCLE_EXEC$;=/usr/local/bin/muscle

[component ncbi-blastp]
$;COGS_DB$;=$;DB_DIR$;/ncbi/COG/myva
$;BLASTALL_EXEC$;=/usr/local/bin/blastall

[component ncbi-blastn]
$;BLASTALL_EXEC$;=/usr/local/bin/blastall

[component ncbi-blastx]
$;BLASTALL_EXEC$;=/usr/local/bin/blastall

[component ncbi-blastn_compress]
$;BLASTALL_EXEC$;=/usr/local/bin/blastall

[component ncbi-tblastn]
$;BLASTALL_EXEC$;=/usr/local/bin/blastall

[component ncbi-blastall]
$;BLASTALL_EXEC$;=/usr/local/bin/blastall

[component open_reading_frames]

[component panther]
$;PANTHER_EXEC$;=/usr/local/devel/ANNOTATION/jorvis/opt/pantherScore1.0/pantherScore.pl
$;PANTHER_HMM_LIBRARY$;=/usr/local/db/common/PANTHER6.0
$;BLASTALL_EXEC$;=/usr/bin/blastall
$;HMMSEARCH_EXEC$;=/usr/local/bin/hmmsearch
$;GUNZIP_EXEC$;=/usr/bin/gunzip

[component phat]
$;FULLPHAT_EXEC$;=/usr/local/devel/ANNOTATION/jorvis/phat/fullphat

[component phobos]
$;PHOBOS_EXEC$;=/usr/local/bin/phobos_64bit

[component pipeline_summary]
$;COGS_LOOKUP$;=$;DB_DIR$;/ncbi/COG/whog

[component phylip_dnadist]
$;DNADIST_WORKER$;=/home/jcrabtree/bin/dnadist_worker
$;DNADIST_COMBINER$;=/home/jcrabtree/bin/dnadist_combiner
$;DNADIST_SORT$;=/bin/sort

[component predotar]
$;PREDOTAR_EXEC$;=/usr/local/bin/predotar

[component predict_prokaryotic_gene_function]
$;CHAR_DB$;=$;DB_DIR$;/tchar/tchar.db
$;HMM_LIB_DB$;=/usr/local/projects/db/coding_hmm/coding_hmm.lib.db

[component prepare_paired_ends_for_velvet]
$;VELVET_INSTALL_DIR$;=/opt/velvet

[component ps_scan]
$;PS_SCAN_EXEC$;=/usr/local/bin/ps_scan.pl
$;PROSITE_DAT_PATH$;=/usr/local/projects/db/prosite/prosite.dat
$;PFSCAN_EXEC$;=/usr/local/bin/pfscan
$;PSA2MSA_EXEC$;=/usr/local/bin/psa2msa

[component psiblast]
$;PSIBLAST_EXEC$;=/usr/local/bin/blastpgp

[component quicktree]
$;QUICKTREE_EXEC$;=/home/jinman/bin/quicktree

[component rdp_classifier]
$;RDP_CLASSIFIER_JAR_FILE$;=/usr/local/packages/rdp_classifier/rdp_classifier-2.0.jar
$;JAVA_EXEC$;=/usr/bin/java

[component repeatmasker]
$;REPEATMASKER_EXEC$;=/usr/local/bin/RepeatMasker

[component RNAmmer]
$;RNAMMER_EXEC$;=/usr/local/bioinf/rnammer/rnammer

[component rpsblast]
$;RPSBLAST_EXEC$;=/usr/local/bin/rpsblast

[component seg]
$;SEG_EXEC$;=/usr/local/bin/seg

[component sffinfo]
$;SFFINFO_EXEC$;=/usr/local/bin/sffinfo

[component signalp]
$;SIGNALP_EXEC$;=/usr/local/bin/signalp

[component snap]
$;SNAP_EXEC$;=/usr/local/devel/ANNOTATION/EGC_utilities/SNAP/SNAP/snap

[component stap_aligner]
$;STAP_ALIGNER_EXEC$;=/usr/local/packages/STAP/bin/align_to_rRNA_profile.pl

[component stap_classifier]
$;STAP_CLASSIFIER_EXEC$;=/usr/local/packages/STAP/bin/rRNA_pipeline_for_one.pl

[component start_site_curation]
$;CHAR_DB$;=$;DB_DIR$;/tchar/tchar.db

[component targetp]
$;TARGETP_EXEC$;=/usr/local/bin/targetp

[component tbl2asn]
$;TBL2ASN_EXEC$;=/usr/local/bin/tbl2asn

[component tmhmm]
$;TMHMM_EXEC$;=/usr/local/bin/tmhmm

[component train_for_glimmer3_iteration]
;; install directory for glimmer.  software expects a bin directory underneath this
$;GLIMMER3_DIR$;=/usr/local/packages/glimmer3
$;ELPH_BIN$;=/usr/local/packages/ELPH/bin/elph

[component translate_sequence]
$;TRANSEQ_EXEC$;=/usr/local/packages/EMBOSS/bin/transeq

[component transposonPSI]
$;TRANSPOSON_EXEC$;=/home/dliebke/TransposonPSI/transposonPSI.pl

[component trf]
$;TRF_EXEC$;=/usr/local/bin/trf

[component tRNAscan-SE]
$;TRNASCANSE_EXEC$;=/usr/local/packages/tRNAscan/tRNAscan-SE

[component tRNAscan-SE_compress]
$;TRNASCANSE_EXEC$;=/usr/local/packages/tRNAscan/tRNAscan-SE

[component velvet_optimiser]
$;VELVET_INSTALL_DIR$;=/opt/opt-packages/bioinf-v1r4b1/velvet

[component wu-blastp]
$;BLASTP_EXEC$;=/usr/local/packages/wu-blast2.linux26-x64/blastp
$;COGS_DB$;=$;DB_DIR$;/ncbi/COG/myva

[component wu-tblastn]
$;TBLASTN_EXEC$;=/usr/local/packages/wu-blast2.linux26-x64/tblastn

[component wu-tblastx]
$;TBLASTX_EXEC$;=/usr/local/packages/wu-blast2.linux26-x64/tblastx

[component wu-blastx]
$;BLASTX_EXEC$;=/usr/local/packages/wu-blast2.linux26-x64/blastx

[component wu-blastn]
$;BLASTN_EXEC$;=/usr/local/packages/wu-blast2.linux26-x64/blastn

[component xdformat]
$;XDFORMAT_EXEC$;=/usr/local/bin/xdformat

[component sff_to_CA]
$;SFFTOCA_EXEC$;=/usr/local/bioinf/celera-assembler/wgs-5.4/Linux-amd64/bin/sffToCA

[component celera2hawkeye]
$;TOAMOS_EXEC$;=/opt/opt-packages/bioinf-v1r4b1/AMOS/bin/toAmos
$;BANK_TRANSACT_EXEC$;=/opt/opt-packages/bioinf-v1r4b1/AMOS/bin/bank-transact

[component celera-assembler]
$;CELERA_ASSEMBLER_EXEC$;=/usr/local/bioinf/celera-assembler/wgs-5.4/Linux-amd64/bin/runCA

[component megablast]
$;MEGABLAST_EXEC$;=/usr/bin/megablast

[component fast_tree]
$;FASTTREE_EXEC$;=/home/carze/projects/clovr/bin/FastTree

[component hmmer]
$;HMMER_EXEC$;=/usr/local/bioinf/hmmer/hmmer/binaries/hmmsearch

[component bowtie]
$;BOWTIE_EXEC$;=/opt/opt-packages/bowtie-0.12.0/bowtie

[component tophat]
$;TOPHAT_EXEC$;=/usr/local/stow/tophat-1.0.12/bin/tophat

[component cufflinks]
$;CUFFLINKS_EXEC$;=/opt/opt-packages/cufflink/cufflinks

[component uclust]
$;UCLUST_EXEC$;=/usr/local/projects/clovr/bin/uclust1.0.50_linuxi86_64

[component crossbow]
$;CROSSBOW_EXEC$;=/opt/crossbow/local/crossbow.pl

[component mosaik]
$;MOSAIK_ALIGNER_EXEC$;=/usr/local/bin/MosaikAligner
$;MOSAIK_BUILD_EXEC$;=/usr/local/bin/MosaikBuild
$;MOSAIK_ASSEMBLER_EXEC$;=/usr/local/bin/MosaikAssembler
$;MOSAIK_SORT_EXEC$;=/usr/local/bin/MosaikSort
$;MOSAIK_TEXT_EXEC$;=/usr/local/bin/MosaikText

