a#save_control,
a#cancel_control {
    display: none;
}
div#add_menu_container {
    display: none;
    clear: both;
    padding: 10px;
}
div#add_menu_container h3 {
    clear: both;
}
div#build_area {
    /* this helps prevent screen wobble when a config is expanded that
       is longer than the visible page
    */
    margin-bottom: 1000px;
}
div.button_container {
    float: left;
    padding: 10px 0 0 15px;
}
div.button_container div.button {
    float: left;
    margin-right: 10px;
}
div.button_container div.edit {
    display: none;
}
div.button {
    border: 1px solid rgb(0,0,0);
    background-color: rgb(200,200,200);
    padding: 1px 5px 1px 5px;
}

div#comment_container label {
    color: rgb(73,81,92);
}

div#email_notification {
    margin-bottom: 2px;
}

div#email_notification label {
    font-weight: bold;
    color: rgb(73,81,92);
}

div#email_notification span {
    font-size: 80%;
    padding-left: 5px;
    color: #49515C;
    cursor: pointer;
}

div#email_notification #save_email {
    display: none;
    font-weight: bold;
}

div#email_notification input {
    display: none;
    border: none;
    width: 250px;
}

div.component {
    clear: both;
    border: 1px solid rgb(150,150,150);
    width: 700px;
    margin: 10px 0 10px 0;
    padding: 5px 5px 15px 5px;
    overflow: hidden;
}
div#component_list_container {
    display: none;
}
div.component_nav_buttons,
div.component_action_buttons {
    float: right;
    border-left: 1px dotted rgb(150,150,150);
    border-bottom: 1px dotted rgb(150,150,150);
}
div.component_nav_buttons img,
div.component_action_buttons img {
    cursor: pointer;
    padding-left: 3px;    
}
div.component_nav_buttons img.noclick,
div.component_action_buttons img.noclick {
    cursor: default;
}
div.component_action_buttons {
    margin-right: 30px;
    border-right: 1px dotted rgb(150,150,150);
    padding-right: 5px;
}
div.component_group {
    float: left;
    width: 220px;
}
div.component_status {
    float: right;
    font-weight: bold;
    color: rgb(225,0,0);
    font-size: 90%;
}
div#components_by_name {
    clear: both;
    /* this is toggled via javascript */
    display: none;
}
div.config_expander {
    border-bottom: 1px dotted rgb(150,150,150);
    margin-top: 15px;
}
div.config_expander img {
    margin-right: 5px;
}
div#input_controls_container {
    margin-bottom: 15px;
    font-size: 80%;
}
div#input_controls_container img {
    margin: 4px 1px 0 4px;
}
div#end_pipeline_marker {
    margin-top: 15px;
}
div.new_component_class_container {
    margin: 0 20px 5px 0;
    overflow: hidden;
}
div.new_component_class_container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div.new_component_class_container ul li {
    padding-right: 15px;
}
div#save_progress_label {
    display: none;
    position: fixed;
    opacity: 0.8;
    top: 0;
    left: 300px;
    border: 1px solid rgb(220,220,220); 
    background-color: rgb(150,150,150);
    padding: 2px 20px;
    color: rgb(255,255,255);
    font-weight: bold;
    letter-spacing: 1px;
}
div.serial,
div.parallel {
    clear: both;
    padding-left: 30px;
}
div.parallel {
    border-left: 1px solid rgb(73,81,92);
}
div#pipeline_choices h3 {
    margin-top: 15px;
}
div#pipeline_choices ul {
    margin-left: 40px;
    padding-left: 0;
}
div#pipeline_choices ul li {
    padding-bottom: 0.2em;
}
div#pipeline_choices p.pipeline_comment {
    margin-top: 0.3em;
    padding-left: 20px;
    color: rgb(100,100,100);
}
div#pipeline_name_container {
    display: none;
    clear: both;
    margin-bottom: 20px;
    padding: 10px 0 10px 10px;
    border-bottom: 3px solid rgb(73,81,92);
}
div#pipeline_name_container span {
    font-size: 80%;
    padding-left: 5px;
    color: rgb(73,81,92);
    font-weight: bold;
}
div#variables {
    display: none;
}
h3 {
    margin-top: 0;
    padding-top: 0;
}
h3 span.button {
    margin-left: 30px;
}
input.select_shadow {
    display: none;
}

.locator {
    font-weight: bold;
    color: rgb(100,100,100);
    /* comment this next line out if you want to see pointer boxes on each component/set */
    display: none;
}
span.component_name {
    font-weight: bold;
}
span#view_by_category {
    display: none;
}
table#input_list {
    border-collapse: collapse;
    border: 1px solid rgb(175,175,175);
    width: 95%;
    margin: 0;
    padding: 0;
}
table#input_list th {
    border-bottom: 1px solid rgb(175,175,175);
    color: rgb(73,138,92);
    text-align: left;
    padding-left: 10px;
}
table#input_list td {
    font-size: 85%;
    padding-left: 4px;
    border-top: 1px solid rgb(175,175,175);
}
th.action_icons {
    width: 25px;
}
tr#new_input_fields_row {
    display: none;
}
tr#new_input_fields_row input,
tr#new_input_fields_row select {
    border: 1px solid rgb(200,200,200);
    /* the following color needs to be synchronized with  the clearNewInput() function */
    background-color: rgb(230,230,230);
}
ul.add_panel {
    clear: both;
    margin: 0 0 0 15px;
    padding: 0;
    font-size: 85%;
}
ul.add_panel li {
    float: left;
    padding: 0 10px 0 0;
    margin: 0 10px 10px 15px;
}
ul.add_panel li.comp {
    list-style-image: url('../images/icon_component_add.png');
}
ul.add_panel li.pipe {
    list-style-image: url('../images/icon_pipeline_add.png');
}
ul.add_panel li.serial {
    list-style-image: url('../images/icon_serial.png');
}
ul.add_panel li.parallel {
    list-style-image: url('../images/icon_parallel.png');
}
ul.add_panel li.save_run_pipe {
    list-style-image: url('../images/icon_save_run.png');
}

/* WARNING: the following is temporary until the input types are supported */
.input_element_type {
    display: none !important;
}
