body {
    font: small verdana, sans-serif; 
    margin: 0px;
    padding: 0px;
    background-color: rgb(255,255,255);
    line-height: 150%;
}

table, td {
    font-size: 100%;
}

#bannertop {
    height: 36px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(76,109,143);
}

#bannertop img {
    border: none;
}

#bannerbottom {
    background-color: rgb(229,229,220);
    border-bottom: 1px solid rgb(131,150,145);
}

#bannerbottom div.buttons {
    margin-left: 5px;
}

#page_content {
    margin: 10px;
}

a {
    text-decoration: none;
    color: rgb(0,100,0);
    cursor: pointer;
}

div.button_container {
    padding-top: 15px;
    padding-bottom: 15px;
}

span.button {
    border: 1px solid rgb(131,150,145);
    background-color: rgb(230,230,230);
    padding: 0;
    margin-right: 0.3em;
}

span.button a {
    padding: 0.5em;
    font-weight: bold;
    color: rgb(0,0,0);
}

span.button:hover {
    cursor: pointer;
}

h2 {
    color: rgb(76,109,143);
    font-size: 110%;
    border-bottom: 1px dotted rgb(150,150,150);
    padding-bottom: 5px;
    margin-top: 0;
}

h3 {
    color: rgb(76,109,143);
    margin: 5px 0px 7px 0px;
    font-size: 110%;
}

h3.warning {
    margin-top: 30px;
    color: rgb(200,0,0);
}

input, select {
    border: 1px solid rgb(131,150,145);
    padding-left: 3px;
    font-family: verdana, sans-serif;
    font-size: 8pt;
}

img.navbutton {
    border: none;
    margin: 5px 3px 0px 0px;
    padding: 0px;
}

span.complete    { color: rgb(0,200,0); }
span.incomplete  { color: rgb(75,75,75); }
span.failed      { color: rgb(200,0,0); }
span.pending     { color: rgb(200,200,0); }
span.error       { color: rgb(200,0,0); }
span.running     { color: rgb(0,0,200); }
span.waiting     { color: rgb(200,200,0); }
span.interrupted { color: rgb(200,0,200); }
span.unknown     { color: rgb(0,0,0); }

table.pipeline_list {
    width: 100%;
}

table.pipeline_list th {
    text-align: left;
}
