div.bsml_container {
    white-space: pre;
    background-color: rgb(230,230,230);
}

dl {
    margin-left: 25px;
}

span.term {
    font-weight: bold;
}

li.disabled,
span.crossed {
    text-decoration: line-through;
}
