div.bsml_container,
div.code_container {
    white-space: pre;
    background-color: rgb(230,230,230);
}

div.doc_section_container {
    margin: 0 30px 5px 0;
    overflow: hidden;
}

div.doc_section_container ul.component_list {
    list-style-image: url('/ergatis/images/link.gif');
}

dl {
    margin-left: 25px;
}

span.term {
    font-weight: bold;
}

li.disabled,
span.crossed {
    text-decoration: line-through;
}

div.component_group {
    float: left;
    width: 250px;
}
span.term {
    font-weight: bold;
}
table.grid {
    border-collapse: collapse;
}

table.grid,
table.grid td,
table.grid th {
    border: 1px solid rgb(0,0,0);
}
table.grid th {
    padding: 0 5px 0 5px;
}

ul {
    list-style-image: url('/ergatis/images/link.gif');
}


/* this section for the component_creation.tmpl */

img#component_structure_types {
    float: right;
    margin: 0;
    padding: 0;
}
