#project_list_container {
    float: left;
    width: 100px;
}

dl#project_list dd {
    display: none;
    border: 1px solid rgb(100,100,100);
    width: 30em;
    background-color: rgb(230,230,230);
    padding: 0.8em;
    margin-left: 8em;
    margin-top: -3em;
    opacity: 0.9;
}

/* no chance of this working in IE 4-6.  too bad. */
dl#project_list dt:hover + dd.project_path {
    display: block;
}

dd.project_path:hover {
    display: block;
}

span.header_note {
    margin-left: 30px;
    font-size: 70%;
    color: rgb(0,100,0);
}


#watched_pipeline_container,
#running_pipeline_container,
#other_active_pipelines_container {
    margin-left: 120px;
}

#other_active_pipelines_container {
    margin-top: 30px;
}

