div#pipeline_comment_shadow {
    display: none;
}

/*
    some style overrides
*/

div#content_container {
    margin-top: 0;
    padding-top: 0;
}

div#info_container {
    padding-bottom: 0;
}

/*

    view pipeline modal window style

*/ 
#boxes .window {
    position:absolute;
    width:440px;
    height:200px;
    display:none;
    z-index:9999;
    padding:20px;
}

#boxes .reset-warning {
    color: red;
}

#boxes .actions {
    padding-top: 15px;
}

#boxes .actions a {
    margin: 0 5px 0 5px;
}

#boxes #dialog {
    width:375px; 
    height:203px;
    border: 2px solid #49515C;
    background-color: white;
}

#boxes #spinner {
    position: absolute;
    display: block;
    top: 190px;
    left: 205px;
}

#dialog #delete {
    text-decoration: underline;
}
