[interface]
classification = utility

[parameters]
;;Username, password, host for database server
$;DB_USERNAME$; = 
$;DB_PASSWORD$; = 
$;DB_HOST$; = 
$;DB_NAME$; = 

;;Path to the output directory for ber analysis.  Usually
;;the directory that contains the list file (do not include
;;the iterator directory (ie. i1/ == bad ))
$;BER_OUTPUT_DIRECTORY$; = 

;;The following options are for where the files will be copied
;;When copying, the local_directory will be removed from files (leaving a 
;;relative directory path) and will be copied to the destination
;;directory. (ex. /usr/local/project/file.txt -> /export/www/data/file.txt
;; local dir = /usr/local/project, destination = /export/www/data );
$;DESTINATION_DIRECTORY$; = 
$;LOCAL_DIRECTORY$; = 
$;BER_FILE_DESTINATION_SERVER$; = 


[input]
$;INPUT_FILE_LIST$; = 

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;BSML_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bsml.list
$;BTAB_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.btab.list
$;RAW_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.raw.list

[component]
$;COMPONENT_NAME$; = load_ber_for_manatee
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 4680 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


