div#pipeline_list {
    margin-bottom: 200px;
}

/*****************************
 * pipeline list table start */

table.pipeline_list {
    width: 98%; /* IE rendering bug when this is 100% */
}

table.pipeline_list th {
    text-align: left;
}
td.actions {
    width: 250px;
}
td.component_review div,
td.pipeline_state div {
    display: none;
    position: absolute;
    border: 1px solid rgb(100,100,100);
    width: 30em;
    background-color: rgb(230,230,230);
    padding: .8em;
    margin-left: 8em;
    margin-top: -2em;
    opacity: 0.9;
}

td.pipeline_state div {
    width: 50em;
    overflow: hidden;
}

td.component_review:hover div,
td.pipeline_state:hover div {
    display: block;
}
td.component_review div:hover,
td.pipeline_state div:hover {
    display: none;
}

span.component_review_header,
span.error_message_header {
    font-weight: bold;
}

/* pipeline list table end *
 ***************************/


/****************************
 * info element boxes start */

div#info_container {
/*    background-color: rgb(220,220,220);*/
    float: left;
    padding: 10px;
    margin-top: 5px;
}
li#starttime,
li#state,
li#project {
    clear: both;
}
li#pipeline_starttime {
    margin-top: 5px;
}
li#pipeline {
    font-weight: bold;
    border-bottom: 1px dotted rgb(150,150,150);
}
span.info_label {
    font-weight: bold;
    color: rgb(130,130,130);
}
ul#info_elements {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul#info_elements li {
    float: left;
    padding: 0;
    margin: 0 20px 0 0;
    white-space: nowrap;
}

/* info element boxes end *
 **************************/

/***********************************
 * instance overview section start */

div.component_progress_image div.complete    { background-color: rgb(0,200,0); }
div.component_progress_image div.incomplete  { background-color: rgb(75,75,75); }
div.component_progress_image div.failed      { background-color: rgb(200,0,0); }
div.component_progress_image div.pending     { background-color: rgb(200,200,0); }
div.component_progress_image div.error       { background-color: rgb(200,0,0); }
div.component_progress_image div.running     { background-color: rgb(0,0,200); }
div.component_progress_image div.waiting     { background-color: rgb(200,200,0); }
div.component_progress_image div.interrupted { background-color: rgb(200,0,200); }
div.component_progress_image div.unknown     { background-color: rgb(0,0,0); }

div.component_label {
    float: left;
}
div.component_progress_image {
    border: 1px solid black;
    height: 10px;
    width: 500px;
}
div.timer {
    float: right;
    color: rgb(150,150,150);
    margin-right: 5px;
    font-size: 90%;
}
div#pipeline_timer_label {
    position: relative;
    top: -50px;
}
div.status_bar_portion {
    border: none;
    padding: 0px;
    margin: 0px;
    height: 10px;
    float: left;
}
h1.commandset_type {
    font-size: 100%;
}
.actions a {
    display: block;
    float: left;
    border: 1px solid rgb(150,150,150);
    margin-right: 7px;
    padding: 0 7px 0 7px;
    background-color: rgb(220,220,220);
    color: rgb(73,81,92);
}
li.actions a.disabled,
td.actions a.disabled {
    background-color: rgb(255,255,255);
    color: rgb(150,150,150);
    cursor: default;
}
li.pass_values {
    display: none;
}
ul.component {
    width: 525px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    border: 1px solid rgb(150,150,150);
    margin-bottom: 15px;
    list-style: none;
    font-size: 90%;
}
ul.component li {
    clear: both;
}
ul.parallel {
    border-left: 1px solid rgb(0,100,0);
} 
 /* instance overview section end *
  *********************************/


/***********************************
 * component overview section start */

div.cmdinfo,
div.subflowdata,
div.subflowinfo,
div.subflowgroupdata {
    display: none;
}
div.subflowinfo,
div.cmdinfo {
    margin: 10px 0 10px 25px;
    padding: 5px;
}
div.cmdinfo,
div.messageblock,
div.subflowdata,
div.subflowgroupdata,
div.subflowinfo {
    clear: both;
}
div.command,
div.subflowbar,
div.subflowgroupbar {
    margin-bottom: 2px;
    width: 600px;
    padding-bottom: 2px;
    float: left;
    clear: left;
}
div#display_filters {
    clear: left;
    padding-left: 450px;
    font-size: 80%;
}
div.leftside {
    float: left;
}
div.rightside {
    float: right;
}
div.rightside span.run_time {
    color: rgb(150,150,150);
    font-size: 80%;
    margin-left: 20px;
}
div.subflow {
    margin: 15px 0 15px 0;
}
div.subflowgroupbar {
    border-bottom: 1px solid rgb(150,150,150);
}
div.subflowdata,
div.subflowgroupdata {
    float: left;
    margin: 5px 0 10px 25px;
}

h1.subflow_label,
h1.subflowgroup_label { 
    clear: both; 
    font-size: 100%;
    margin: 0 0 15px 0;
    padding-top: 10px;
}
img.status {
    margin-right: 5px;
}
span.hidden {
    display: none;
}
span.infolabel {
    color: rgb(0,0,200);
    font-size: 80%;
    cursor: pointer;
    margin-left: 20px;
}
table.cmd_stats {
    font-size: 90%;
    background-color: rgb(235,235,235);
    width: 500px;
    border-collapse: collapse;
    padding: 5px;
}
table.cmd_stats th {
    text-align: left;
}
ul#state_counts {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul#state_counts li {
    float: left;
    margin-left: 10px;
}
ul#state_counts li span {
    text-decoration: underline;
}
/* component overview section end *
*********************************/
