[interface]
classification = file / conversion

[parameters]
;;the feature type to assign annotations to
$;ANNOTATE_ON$; = transcript
;;list of gene describing bsml files for feature relationships 
;; [for prok pipeline, use start_site_curation output]
$;BSML_FEATURE_LOOKUP_LIST$; = $;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default/start_site_curation.bsml.list
;;Valid Evidence type (describes input format, ex. Lipoprotein, HMM, BER, etc.)
$;EVIDENCE_TYPE$; = PriamEC

[input]
;; Input list of lists
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/priam_ec_assignment/$;PIPELINEID$;_default/priam_ec_assignment.bsml.list
;; Input file is a list of input files (ex. /path/to/file.list )
$;INPUT_FILE$; = 
;; Directory of input lists
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa

[output]
$;OUTPUT_TOKEN$; = priam_ec
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;TAB_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.tab.list

[component]
$;COMPONENT_NAME$; = parse_evidence
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 4680 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


