[interface]
classification = sequence / manipulation

[input]
;; Path to a multi-FASTA file of nucleotide sequences from a 454 multiplex sequencing run.
;; Each sequence will be checked for the barcode and primer sequences specified below.
;; PLEASE NOTE: currently all input sequences MUST be in all-uppercase.
;;
$;INPUT_FILE$;= 

[parameters]
;; Path to a whitespace-delimited text file that specifies the barcodes used to identify 
;; sequences in the INPUT_FILE.  Each line of the file must have two columns: the first
;; specifies the (unique) DNA sequence barcode and the second specifies the well number
;; or sample id that corresponds to that barcode.  For example:
;;
;; ACACACTG    A01
;; ACACGTCA    A02
;; ACAGACAG    A03
;; ACAGCTCA    A04
;;
$;BARCODE_FILE$;=/usr/local/projects/16SrRNA_454Multiplex/barcodes/barcodes-v1.txt

;; The maximum sequence position at which the component will look for the (start of) a 
;; barcode sequence in each of the input sequences.  The default setting of 4 allows 
;; at most 4 nucleotides to appear at the beginning of the sequence before the barcode 
;; sequence  begins.  If multiple barcodes match within the specified range then the 
;; first (in order of occurrence) will be chosen.
;;
$;MAX_BARCODE_OFFSET$;=4

;; Reverse primer sequence (and optional dinucleotide linker).  The component will look
;; for this sequence immediately following the barcode in each sequence.  (Although note 
;; that the default setting; of the MAX_EDIT_DIST parameter allows for a small number of 
;; insertions between the barcode sequence and the reverse primer.)
;;
;; Default value = 'CA' dinucleotide linker sequence plus the broadly-conserved bacterial
;; 16S rRNA primer 338R.
;;
$;REVERSE_PRIMER$;=CATGCTGCCTCCCGTAGGAGT

;; Maximum number of insertions, deletions and/or substitutions to permit when matching
;; the beginning of each sequence (after the barcode) against REVERSE_PRIMER.
;; 
$;MAX_EDIT_DIST$;=2

;; Forward primer sequence.  The component will look for this sequence to appear anywhere
;; after the REVERSE_PRIMER.  Currently no mismatches are allowed when matching the forward
;; primer sequence.  If the forward primer sequence is not found this will not be considered
;; a serious error.
;;
;; Default value = reverse complement of the broadly-conserved bacterial 16S rRNA primer 27F.
;;
$;FORWARD_PRIMER$;=CTGAGCCAGGATCAAACTCT

;; Specifies what to trim off the sequences:
;;   'all' (the default) - trim both the barcode and the primer(s)
;;   'barcodes' - trim only the barcode but leave the primer(s) intact
;;   'none' - bin the sequences based on barcode but do not do any barcode or primer trimming
;; Note that the forward primer may not always be present (e.g., when the read length of the 
;; underlying sequencing technology is significantly shorter than the expected insert size.)
;;
$;TRIM$;=all

;; Minimum sequence length, AFTER trimming the barcode and/or primers.  Any sequence that
;; fails to meet this length threshold will be placed in a discard file (i.e., an output 
;; file with the suffix ".discarded".)
;;
$;MIN_LENGTH$;=200

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;RESULTS_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.results.list

[component]
$;COMPONENT_NAME$; = 454_mplex_seq_bin_trim
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = current
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 4680 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


