[parameters]
$;SEQS_PER_FILE$;=1
$;FILES_PER_DIRECTORY$; = 0

[input]
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.fsa.list

[component]
$;VERSION$; = 2.0
$;REVISION$;            = $Revision$
$;TAG$;                 = $Name$
$;COMPONENT_NAME$; = split_multifasta 
$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;GROUP_COUNT$; = 150
;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;NODISTRIB$;            = 0

[include]
$;PROJECT_CONFIG$;=


