[parameters]
;;Filter options for dps: -p = min_pct_cutoff
;;                        -C = min_coverage_cutoff
;; Note: These are used to speed up the subsequent searches, not filter on the final results
$;DPS_OPTS$; = -f 100 -i 30 -a 2000
;; full path to database for dps
$;MATRIX$; = /usr/local/common/BS
$;EXT_OPTS$; = 
$;FILTER_OPTS$; = -c 20
$;NAP_OPTS$; =
;; filter bsml output by % identity cutoff (optional)
$;CUTOFF_IDENTITY$; =
;; filter bsml output by % similarity cutoff (optional)
$;CUTOFF_SIMILARITY$; =
$;COMPRESS_BSML_OUTPUT$; = 1
$;COMPRESS_BTAB_OUTPUT$; = 1
$;COMPRESS_NAP_OUTPUT$; = 1

[input]
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa
;; the files here must have the same base names as the masked versions
$;UNMASKED_FASTA_DIRECTORY$; = 
$;DATABASE_PATH$; = 
;; full path to database for nap (allows for a different database than the dps step)
$;DATABASE_PATH_FOR_NAP$; = $;DATABASE_PATH$;

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;BSML_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bsml.list
$;BTAB_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.btab.list
$;NAP_OUTPUT_LIST$;  = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.nap.list

[component]
$;COMPONENT_NAME$; = aat_aa_masked
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


