[prepare_paired_ends_for_velvet default]
$;SHORT_INPUT_LIST$;=$;SHORT_READ_PAIRED_END_LIST$;
$;LONG_INPUT_LIST$;=$;LONG_READ_PAIRED_END_LIST$;

[velvet_optimiser assembly]
$;SHORT$;=$;SHORT_READ_SINGLE_END$;
$;LONG$;=$;LONG_READ_SINGLE_END$;

[global]
$;SHORT_READ_PAIRED_END_LIST$;=
$;LONG_READ_PAIRED_END_LIST$;=
$;SHORT_READ_SINGLE_END$;=
$;LONG_READ_SINGLE_END$;=
