[interface]
classification = LGT

[parameters]
;Location of the ncbi taxonomy files (nodes.dmp and names.dmp
$;NCBITAX$; = /local/db/repository/ncbi/blast/20120414_001321/taxonomy/taxdump/
;Location of the gi_taxid_nucl.dmp file for nucleotides or gi_taxid_prot.dmp file for proteins
$;GI2TAX$; = /local/db/repository/ncbi/blast/20120414_001321/taxonomy/gi_taxid_nucl.dmp
;Host name of the mongo database
$;HOST$; = revan.igs.umaryland.edu:10001
;Name of the gi database in mongo
$;TAXONDB$; = gi2taxon
;;Name of the gi collection in mongo.
$;TAXONCOLL$; = gi2taxonnuc
;A mapping file of clone/matepair to trace/read. If this is not present it will look for _1/_2 at the end of the name to determine pairs.
$;MAPPING_FILE$;=
;Reference lineage (Homo for instance). This is only necessary if you are looking for LGT within a trace/read. Also must provide a Donor lineage.
$;HOST_LINEAGE$;=Eukaryota
;Query lineage (Bacteria for instance). This is only necessary if you are looking for LGT within a trace/read. Also must provide a Host lineage.
$;DONOR_LINEAGE$;=Bacteria
;Lineage to filter out as bad (example would be 'vector', which would filter out anything that has a best hit to vector or where a hit overlaps vector by more than the filter_min_overlap).
$;FILTER_LINEAGE$;=
;Minimum overlap length between a trace/read hit and the filter_lineage. More than this and a clone/matepair will be filtered out. Only applicable if filter_lineage is set.
$;FILTER_MIN_OVERLAP$;=50
;Minimum hit length.
$;MIN_LENGTH$;=
;Maximum overlap between hits within a trace/read. (Only applicable if looking for LGT within a read/trace).
$;MAX_OVERLAP$;=0

[input]
$;INPUT_FILE_LIST$; =
$;INPUT_FILE$; = $;REPOSITORY_ROOT$;/output_repository/concatenate_files/$;PIPELINEID$;_fasta/blastn.out
$;INPUT_DIRECTORY$; =
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = raw

[output]
$;OUTPUT_TOKEN$; = lgt
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;LGT_LIST$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/lgt_finder.list
$;M8_LIST$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/filtered_m8.list

[component]
$;COMPONENT_NAME$; = blast_lgt_finder
$;DESCRIPTION$; = Take best blast hits and find LGT for the given donor/host lineages
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed
;;
;;To only produce raw blast output add;
;;$;SKIP_WF_COMMAND$;=add create bsml list,convert btab to bsml,store config params,dtd validation
;;
$;SKIP_WF_COMMAND$;=


;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 6529 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; =
$;COMPONENT_XML$; =
$;PIPELINE_XML$; =
$;PIPELINEID$; =

[include]
$;PROJECT_CONFIG$;=

[dce]
$;MEMORY$;=2048
