[interface]
classification = alignment / pairwise

[parameters]
; -task  Algorithm to use - choose from [megablast, dc-megablast, blastn, blastn-short]
$;ALGORITHM$; = blastn
;-evalue  Expectation value (E) default = 10.0
$;EXPECT$; = 1e-5
;-dust Filter query sequence with DUST (Format: 'yes', 'level window linker', or 'no' to disable
$;FILTER$; = no
;-max_target_seqs Maximum number of aligned sequences to keep default=150
$;MAX_TARGET_SEQS$; = 150
$;OTHER_OPTS$; =
$;COMPRESS_RAW_OUTPUT$; = 0
$;COMPRESS_BSML_OUTPUT$; = 0
;; Filter the HSPs for use in the %identity/similarity/coverage for each seq-pair-alignment in the output bsml. Setting this to 0 could show very low scores on the seq-pair-alignment despite having a very high scoring HSP.
$;FILTER_HSPS_FOR_STATS$;=1
;; Split output to one query sequence per file
$;SPLIT_BSML$;=0
$;SPLIT_BTAB$;=0

[input]
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_fasta/split_multifasta.fsa.list
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fasta
;-remote Set to 1 if you wish to query a remote database from NCBI servers
$;REMOTE$;=0
;; If $;REMOTE$; = 1, just add the database name
$;DATABASE_PATH$; = $;NCBI_BLAST_NT$;

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;BSML_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bsml.list
$;BTAB_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.btab.list
$;RAW_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.raw.list
$;M8_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.m8.list

[component]
$;COMPONENT_NAME$; = blastn_plus
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed
;;
;;To only produce raw blast output add;
;;$;SKIP_WF_COMMAND$;=add create bsml list,convert btab to bsml,store config params,dtd validation
;;
$;SKIP_WF_COMMAND$;=


;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; =
$;COMPONENT_XML$; =
$;PIPELINE_XML$; =
$;PIPELINEID$; =

[include]
$;PROJECT_CONFIG$;=

[dce]
$;MEMORY$;=5120
