[interface]
classification = LGT

[parameters]
;; Path to the query file or list to be aligned
$;QUERY_FILE$; = $;REPOSITORY_ROOT$;/output_repository/filter_dups_lc_seqs/$;PIPELINEID$;_mb/filter_dups_lc_seqs.bam.list
;;Input 1 to use bwa-mem instead of bwa-aln
$;USE_MEM$; = 0
;;Mismatch Penalty.
$;MISMATCH_PENALTY$; = 3
;;Maximum Gap Opens.
$;MAX_GAP_OPENS$; = 1
;;Maximum number of gap extensions.
$;MAX_GAP_EXTNS$; = -1
;;Gap Open Penalty.
$;GAP_OPEN_PENALTY$; = 11
;;Gap Extension Penality.
$;GAP_EXTN_PENALTY$; = 4
;;Maximum Number of Threads. Multi-threading mode.
$;MAX_THREADS$; = 1
;; This is the maximum number of alignments for each read.
$;MAX_ALIGN$; = 1
;; Set to 1 to keep SAM files
$;KEEP_SAM$; = 0
;; Minimum threshold length of soft-clipping in reads to keep read
$;SOFTCLIP_MIN$; = 24
;; Specify whether to filter out paired-end reads where both ends are mapped
$;KEEP_MM$; = 1
;; If input file is a BAM file, indicates if file is for paired-end or single-end reads
$;PAIRED$; =1

;; Argments for the various bwa utilities (aln, sampe, samse)
$;BWA_ARGS$; =
;; Argments for 'samtools view' utility
$;SAM_VIEW_ARGS$; =
;; Arguments for the 'samtools sort' utility
$;SAM_SORT_ARGS$; =

[input]
;; Input is a reference fasta that has been indexed by BWA.  Fasta reference must be in the same directory as the indexing files.  INPUT_FILE_LIST accepts a list of reference fasta files
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/lgt_build_bwa_index/$;PIPELINEID$;_refseq/lgt_build_bwa_index.fsa.list 
$;INPUT_FILE$; =
$;INPUT_DIRECTORY$; =
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; =

[output]
$;OUTPUT_TOKEN$; = mb
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;SAM_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.sam.list
$;BAM_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bam.list

[component]
$;COMPONENT_NAME$; = lgt_bwa
$;DESCRIPTION$; = Lateral Genome Transfer
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 5801 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; =
$;COMPONENT_XML$; =
$;PIPELINE_XML$; =
$;PIPELINEID$; =

[include]
$;PROJECT_CONFIG$;=

[dce]
$;MEMORY$;=5120
