[interface]
classification = LGT

[parameters]
;; Paths to list files containing filtered BAM files
$;DONOR_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/lgt_bwa/$;PIPELINEID$;_donor/lgt_bwa.bam.list
$;RECIPIENT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/lgt_bwa/$;PIPELINEID$;_recipient/lgt_bwa.bam.list

;; Alternative, just provide two BAM files
$;DONOR_FILE$;=
$;RECIPIENT_FILE$;=

[input]
$;INPUT_FILE_LIST$; =
$;INPUT_FILE$; =
$;INPUT_DIRECTORY$; =
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = 

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;MB_BAM_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.microbiome.bam.list
$;LGT_H_BAM_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.lgt_host.bam.list
$;SINGLE_BAM_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.single_map.bam.list
$;NO_MAP_BAM_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.no_map.bam.list
$;SINGLE_PAIRED_BAM_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.single_paired_map.bam.list

[component]
$;COMPONENT_NAME$; = lgt_bwa_post_process
$;DESCRIPTION$; = Post processing of aligned and filtered reads to detect LGT
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed
$;SKIP_WF_COMMAND$;= create single-map BAM file list,create no-map BAM file list,create single/paired-map BAM file list

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 5801 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; =
$;COMPONENT_XML$; =
$;PIPELINE_XML$; =
$;PIPELINEID$; =

[include]
$;PROJECT_CONFIG$;=

[dce]
$;MEMORY$;=5120
