[lgt_build_bwa_index donor]
$;INPUT_FILE$; = $;DONOR_REFERENCE$;

[lgt_build_bwa_index recipient]
$;INPUT_FILE$; = $;HOST_REFERENCE$;

[lgt_build_bwa_index refseq]
$;INPUT_FILES$; = $;REFSEQ_REFERENCE$;

[lgt_bwa_post_process default]
$;PREFIX$; = $;ABBR$;

[filter_dups_lc_seqs mb]
$;POSTPROCESS_PREFIX; = $;ABBR$;

[filter_dups_lc_seqs lgt]
$;POSTPROCESS_PREFIX$; = $;ABBR$;

[lgt_create_validated_bam lgt]
$;PREFIX$; = $;ABBR$;

[lgt_mpileup lgt]
$;FASTA_REF$; = $;HOST_REFERENCE$;

[global]
;; General abbreviation prefix to give the file (ex. post-process)
$;ABBR$; = post_process
;; Host/recipient fasta reference
$;HOST_REFERENCE$; = 
;; Donor fasta reference
$;DONOR_REFERENCE$; =
;; Refseq fasta sequence list
$;REFSEQ_REFERENCE$; = 
