[download_sra default]
$;RUN_ID$;=$;SRA_RUN_ID$;

[lgt_build_bwa_index donor]
$;INPUT_FILE$; = $;DONOR_REFERENCE$;

[lgt_build_bwa_index recipient]
$;INPUT_FILE$; = $;HOST_REFERENCE$;

[lgt_build_bwa_index refseq]
$;INPUT_FILES$; = $;REFSEQ_REFERENCE$;

[lgt_mpileup lgt]
$;FASTA_REF$; = $;HOST_REFERENCE$;

[global]
;; The run ID to be downloaded from the Sequence Read Archive (SRA) 
$;SRA_RUN_ID$;=
;; Host/recipient fasta reference
$;HOST_REFERENCE$; = 
;; Donor fasta reference
$;DONOR_REFERENCE$; =
;; Refseq fasta sequence
$;REFSEQ_REFERENCE$; = 
