[lgt_build_bwa_index donor]
$;INPUT_FILE$; = $;DONOR_REFERENCE$;

[lgt_build_bwa_index recipient]
$;INPUT_FILE$; = $;HOST_REFERENCE$;

[lgt_bwa_post_process default]
$;PREFIX$; = $;GENERAL_ABBR$;

[filter_dups_lc_seqs mb]
$;PREFIX$; = $;DONOR_ABBR$;

[filter_dups_lc_seqs lgt]
$;PREFIX$; = $;HOST_ABBR$;

[global]
;; General abbreviation prefix to give the file (ex. post-process)
$;GENERAL_ABBR$; =
;; Abbreviation prefix to give the file for the host 
$;HOST_ABBR$; =
;; Abbreviation prefix to give the file for the donor
$;DONOR_ABBR$; =
;; Host/recipient fasta reference
$;HOST_REFERENCE$; = 
;; Donor fasta reference
$;DONOR_REFERENCE$; =
