[interface]
classification = sequence / manipulation

[parameters]
$;SEQS_PER_FILE$;=100
;; optionally specify how many output fasta files you'd like. 
;; cannot be defined in conjunction with SEQS_PER_FILE.
$;TOTAL_FILES$; =
$;FILES_PER_DIRECTORY$;=0
;; optionally compress fasta output files
$;COMPRESS_OUTPUT$;=0

[input]
$;INPUT_FILE_LIST$;=
$;INPUT_FILE$;=
$;INPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/sam2fasta//$;PIPELINEID$;_fasta/
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$;=fasta

[output]
$;OUTPUT_TOKEN$;=fasta
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.fsa.list

[component]
$;COMPONENT_NAME$;=split_multifasta 
$;DESCRIPTION$;=none
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=$Name: ergatis-v2r4b2 $
$;RELEASE_TAG$;=$Name: ergatis-v2r4b2 $
$;REVISION$;=$Revision: 1.6 $

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$;=i1
$;ITERATOR1_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$;=150
$;NODISTRIB$;=0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=

[dce]
$;PASSTHROUGH$; = -l mem_free=100M
