[interface]
classification = unclassified

[parameters]
$;MIN_COVERAGE$; = 0.9
;; minimum coverage acceptable to determine an "organism" hit
$;MIN_PERC_ID$; = 0.9
;; The algorithm used to produce results; fasta, blast, or blasttable (for default blast)
$;ALGORITHM$; = nucmer

[input]
;; List of sequence files used in target alignments
$;FASTA_LIST$;=
;; List of output files from alignment against human genome
$;HUMAN_ALIGN$;=
;; List of output files from alignemnt against DACC reference genomes
$;REF_ALIGN$;=

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;READ_TAX_OUTPUT_FILE$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.read_tax.txt
$;REF_HITS_OUTPUT_FILE$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.refgeno.fsa
$;FORAMOS_OUTPUT_FILE$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.formamoscmp
$;SINGLETON_OUTPUT_FILE$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.singleton
$;SINGLETON_LIST_OUTPUT_FILE$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.singleton.list
$;UNCLASSIFIED_OUTPUT_FILE$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.unclassified.fsa
$;UNCLASS_ID_OUTPUT_FILE$; =  $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.forassembly.list

[component]
$;COMPONENT_NAME$; = identify_human_contaminants
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 5801 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; =
$;COMPONENT_XML$; =
$;PIPELINE_XML$; =
$;PIPELINEID$; =

[include]
$;PROJECT_CONFIG$; =
