[interface]
classification = SNP

[input]
;; Path to merged table from SNP verify
$;INPUT_FILE$; =
;; Path to a list of merged table files from SNP verify. All of the merged tables should have the same query genomes as specified in the QUERY_LIST
$;INPUT_FILE_LIST$; =
;; Path to directory containing merged table files
$;INPUT_DIRECTORY$; =
;; Used only when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = txt
;; Mandatory. Path to list file consisting of paths to query genome FASTA files
$;QUERY_LIST$; = 

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;FILTERED_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.filtered.list
$;FASTA_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.fna.list

[component]
$;COMPONENT_NAME$; = filter_merged_table
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 6529 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


