[parameters]
$;PVALCUT$; = 1e-5
$;MAX_MULTI_ALIGNMENT$; = 30
$;PIDENTITY_CUTOFF$; = 80
$;LINKSCORE$; = .6

[input]
;; this should be a the legacy bsml data
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; this is only used when iterating over an input directory
$;INPUT_EXTENSION$; = bsml

;; this should be the all-vs-all blast data
$;MATCH_BSML_FILE_LIST$; = 

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;FASTA_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.fsa.list

[component]
$;COMPONENT_NAME$; = jaccard
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;

$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml


$;GROUP_COUNT$; = 150
;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;NODISTRIB$;            = 0

[include]
$;PROJECT_CONFIG$;=


