[parameters]
$;PVALCUT$; = 1e-5
$;MAX_MULTI_ALIGNMENT$; = 30
$;PIDENTITY_CUTOFF$; = 80
$;LINKSCORE$; = .6

[input]
$;QUERY_BSML_FILE_LIST$; = 
$;QUERY_BSML_FILE$; = 
$;QUERY_BSML_DIRECTORY$; = 

$;MATCH_BSML_FILE_LIST$; = 
$;MATCH_BSML_FILE$; = 
$;MATCH_BSML_DIRECTORY$; = 

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;FASTA_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;NAME$;.fsa.list

[component]
$;VERSION$; = $Name$
$;REVISION$;            = $Revision$
$;TAG$;                 = $Name$
$;COMPONENT_NAME$; = jaccard
$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;GROUP_COUNT$; = 150
;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;NODISTRIB$;            = 0

[include]
$;PROJECT_CONFIG$;=


