[interface]
classification = utility

[parameters]
$;SPLIT_LINES$; = 10000000
;See man sort
;Eg. Sort on 1st column alphanumeric, 2nd column numeric 
;-k1,1 -k2,2n
$;SORT_OPTS$; = -k1,1 -k2,2n

[input]
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = 

[output]
$;OUTPUT_TOKEN$; = default
;;note: an $;OUTPUT_EXTENSION$; of "out" or some other common extension for intermediate files may add unintended files to $;OUTPUT_LIST$;
$;OUTPUT_FILE$; = sorted.out
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.$;OUTPUT_TOKEN$;.$;OUTPUT_EXTENSION$;.list
;compressed input files handled in tabula_rasa
$;COMPRESS_OUTPUT$; = 1

[component]
$;COMPONENT_NAME$; = parallel_sort
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 4680 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

$;ITERATOR2$; = i2
$;ITERATOR2_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR2$;.xml

;Distributed options
$;GROUP_COUNT$; = 5
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
