[clean_fasta default]
$;INPUT_FILE$; = $;INPUT_FASTA$;

[create_pseudomolecules default]
$;ACSN_FILE$; = $;ACCESSION_FILE$;
$;CONTIG_INPUT$; = $;REPOSITORY_ROOT$;/output_repository/clean_fasta/$;PIPELINEID$;_default/clean_fasta.list
$;STRAIN_NAME$; = $;ABBREVIATION$; 

[pmarks2bsml default]
$;PROJECT_ABBREVIATION$; = $;ABBREVIATION$;

[global]
$;ABBREVIATION$; = 
$;INPUT_FASTA$; =
$;ACCESSION_FILE$; = 
