[clean_fasta default]
$;INPUT_FILE$; = $;INPUT_FASTA$;

[create_pseudomolecules default]
$;ACSN_FILE$; = $;ACCESSION_FILE$;
$;CONTIG_FILE$; = $;INPUT_FILE$;
$;STRAIN_NAME$; = $;ABBREVIATION$; 

[pmarks2bsml default]
$;PROJECT_ABBREVIATION$; = $;ABBREVIATION$;

[global]
$;ABBREVIATION$; = 
$;INPUT_FASTA$; =
$;ACCESSION_FILE$; = 
