[interface]
classification = RNA-Seq

[parameters]
$;BAM_FILE$; = /local/projects/ifx_core/rna_seq/tcreasy/rna_seq/output_repository/bowtie/37_default/test.sorted.bam
$;STRANDED$; = 0
$;OUTPUT_STUB$; = test
$;GFF3_FILE$; = /local/projects/ifx_core/rna_seq/tcreasy/rna_seq/output_repository/bowtie/37_default/gasalab49.gff
$;FEATURE_TYPE$; = CDS
$;GENOME_ONLY$; = 
$;FEATURES_ONLY$; = 
$;TOTAL_MAPPED_READS$; = 

$;OTHER_ARGS$; = 

[input]

[output]
;;use a unique sample name
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;BSML_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bsml.list
;;this can be used by later components that require the fasta file, like samtools pileup

[component]
$;COMPONENT_NAME$; = bam2coverage
$;DESCRIPTION$; = aligns reads against a single reference file contining one or more contigs
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;bam2coverage version
$;VERSION$; = N/A

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$; = 
