[interface]
classification = utility

[parameters]


[input]
;; Input list should be a list with 2 columns. The first column should be the path to a 
;; fastq file or fastq list (for paired end sets) and the second column should be the 
;; path to a file with a read name on each line. 
$;INPUT_PAIRED_LIST$; = 

;; Input 1 is fastq 
;; Input 2 is read name list
$;INPUT_FILE_LIST_1$; =
$;INPUT_FILE_LIST_2$; =
$;INPUT_FILE_1$; = 
$;INPUT_FILE_2$; = 

;; Only to be used with INPUT_FILE_LIST_1 and 2.
;; Path to a file which contains 2 columns of file names (no path) of pairs. Will attempt 
;; to look for file names in column 1 in INPUT_FILE_LIST_1 and column 2 in 
;; INPUT_FILE_LIST_2 and pair accordingly.
$;INPUT_MAPPING_FILE$;=

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;FASTQ_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.fq.list

[component]
$;COMPONENT_NAME$; = filter_fastq
$;DESCRIPTION$; = Filter fastq files
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 5801 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
