[interface]
classification = LGT

[parameters]
;; Abbreviation used to name post-processing tab file
$;PREFIX$;=
;; If flag is present, will remove dupliations of sequences
$;RM_DUPLICATES$;=1
;; If flag is present, will remove sequences deemed to have low complexity
$;RM_LOW_COMPLEXITY$;=1
;; Method used to filter out low complexity seq.  Default is 'dust'
$;LC_METHOD$;=dust
;; Threshold for filtering low complexity seqs. Default is 7
$;LC_THRESHOLD$;=7

[input]
$;INPUT_FILE_LIST$; = 
;; BAM file
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; =
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; =

[output]
$;OUTPUT_TOKEN$; = defaul
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;BAM_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bam.list

[component]
$;COMPONENT_NAME$; = filter_dups_lc_seqs
$;DESCRIPTION$; = Lateral Genome Transfer - filter duplicate and low_complexity seqs
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 5801 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; =
$;COMPONENT_XML$; =
$;PIPELINE_XML$; =
$;PIPELINEID$; =

[include]
$;PROJECT_CONFIG$;=
