[interface]
classification = LGT

[parameters]
;;Whether to output fastq instead of fasta
$;FASTQ$; = 0
;;Set to 1 if you have HLGT style combined sam files and you want to append
;; _human and _bac to the accessions of the output fasta file.
$;HLGT$; = 0
;;Hostname where files live. (Assumes you have passwordless ssh setup).
;;Leave this blank if the files are local
$;HOST$; = 
;;Set to 1 to concatenate mate pairs together
$;COMBINE_MATES$; = 0
;;Set to 0 if the mates are not paired end
$;PAIRED$; = 1
;;Set to 1 if you are processing a file that that does not contain the same read more than once.
$;ASSUME_UNIQ$; = 0

[input]
;; List of sam files to convert
$;INPUT_FILE$; = 

[output]
;; Name of the output file. Clear this parameter and set HLGT to 1 to get 1 file per run.
$;OUTPUT_FILE$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/sam2fasta.fasta
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_BASES$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/sam2fasta.base.list
$;OUTPUT_LIST$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/sam2fasta.out.list

[component]
$;COMPONENT_NAME$; = sam2fasta
$;DESCRIPTION$; = Lateral Genome Transfer sam2fasta converter
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 5801 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
