[interface]
classification = sequence / manipulation

[parameters]
;; In the ID files (defined below) this is the column number containing
;;  the IDs of interest.  (if tab delimited, else just one ID per line)
$;ID_COLUMN_NUM$; = 1
;; value here should be 'fasta' or 'fastq'
$;INPUT_FORMAT$; = 
;; Should the input files be filtered to include or excluded those entries in the ID file?
$;FILTER_MODE$; = exclude

[input]
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa
;; a single file of input IDs (if you have more than one file, specify a list below instead)
$;ID_FILE$; = 
;; a list of files containing IDs on which to filter
$;ID_FILE_LIST$; = 

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;SEQ_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.list

[component]
$;COMPONENT_NAME$; = filter_sequences_by_id
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed
;;
;;To skip any commands in the component, enter them here
;;
$;SKIP_WF_COMMAND$;=


;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 1.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 6682 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


