<!-- component documentation -->

<p>
    This component accepts FASTA or FASTQ input as well as one or more files containing 
    sequence identifiers, and can filter those sequence files based on the identifiers
    listed.  This filter can be inclusive or exclusive.
</p>
<h3>input</h3>
<p>
    FASTQ or FASTA formats are supported for the sequence files.  The ID files can be
    simple files with one ID per line or tab-delimited files where you specify the column
    to consider for IDs.
</p>

