<!-- component documentation -->

<p>
    USEARCH is a high-throughput sequence analysis tool used for clustering, searches, dereplication 
    and chimera filtering. This component uses the 32-bit version.
</p>
<h3>availability</h3>
<p>
    Distributed by the <a href='http://www.drive5.com/'>Robert Edgar</a>,
    the USEARCH 32-bit version is licensed at no charge. 
</p>
<h3>references</h3>
<p>
    Edgar,RC (2010) Search and clustering orders of magnitude faster than BLAST,<br>
    Bioinformatics 26(19), <a href=http://bioinformatics.oxfordjournals.org/content/26/19/2460>2460-2461.doi: 10.1093/bioinformatics/btq461</a><br>
    Edgar,RC, Haas,BJ, Clemente,JC, Quince,C, Knight,R (2011) UCHIME improves <br>
    sensitivity and speed of chimera detection, Bioinformatics doi: 10.1093/bioinformatics/btr381.<br>
    PMID: <a href='http://www.ncbi.nlm.nih.gov/pubmed/21700674'>21700674</a>
</p>
<h3>input</h3>
<p>
    This component accepts FASTA files as input.
</p>
<h3>implemented options</h3>
<p>
    All options of USEARCH can be used through "other args" 
</p>
<h3>output</h3>
<p>
    The native tool creates output in several formats including fasta and a tab-separated text 
    file with records for hits/clusters.
</p>
