[interface]
classification = alignment

[parameters]
;; Any other parameters passed directly to samtools mpileup command
$;OTHER_MPILEUP_PARAMETERS$;=-B -C50

[input]
;; Input list should be a list with 2 columns. The first column should be the reference
;; in fasta format and the second column should be a list of bam files.
;; Will index the fasta and bam files and then run mpileup on them
$;INPUT_PAIRED_LIST$; = 

;; Input 1 is reference (fasta)
;; Input 2 is bam alignment. Can be one file or list of files.
$;INPUT_FILE_LIST_1$; =
$;INPUT_FILE_LIST_2$; =
$;INPUT_FILE_1$; = 
$;INPUT_FILE_2$; = 

;; Only to be used with INPUT_FILE_LIST_1 and 2.
;; Path to a file which contains 2 columns of file names (no path or extension) of pairs. 
;; Will attempt to look for file names in column 1 in INPUT_FILE_LIST_1 and column 2 in 
;; INPUT_FILE_LIST_2 and pair accordingly. If a file is specified here, ALL_VS_ALL 
;; parameter will be set to 0.
$;INPUT_MAPPING_FILE$;=

;; If multiple references and multiple queries were entered, setting this to one will
;; compute all combinations of reference and query. Setting it to zero will pair up
;; the first ref with first query. Must have same number of input files if 0.
$;ALL_VS_ALL$; = 0

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;MPILEUP_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.pileup.list

[component]
$;COMPONENT_NAME$; = mpileup
$;DESCRIPTION$; = samtools mpileup
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 5801 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
