[interface]
classification = RNA-Seq

[parameters]
;; path to R statistical package binary directory [/usr/local/packages/R-2.15.2/bin]
$;R_BIN_DIR$; = $;R_BIN$;
;; additonal R parameters
$;R_PARAMS$; = 
;; path to R Script for CummeRbund Analysis. Optional [cummerbund_isoform_analysis.R]
$;R_SCRIPT$; =  $;R_SCRIPT_PATH$;
;; use --v for verbose summary
$;OTHER_ARGS$; = 

[input]
;; path to list file of cuffdiff files
;; format : filelist of "*isoform_exp.diff"
$;INPUT_FILE$; = 
;; path to list of tab-delimited sample information files
$;INPUT_FILE_LIST$; = 
;; path to directory of multiple tab-delimited sample information files
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = info


[output]
;; use a unique sample name
$;OUTPUT_TOKEN$; = default
;; output directory for component results
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; list of PDF figures for each instance
$;OUTPUT_PDF_FIGURES$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.pdf.list
;; list of PNG figures for each instance
$;OUTPUT_PNG_FIGURES$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.png.list

[component]
$;COMPONENT_NAME$; = cummerbund
$;DESCRIPTION$; = generates visualization PDF and png image for given cuffdiff analysis results
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;;CummeRbund version
$;VERSION$; = CummbeRbund2.11

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$; = 
