<!-- component documentation -->

<p>
    This component does pangenome analysis. More documentation to follow.
</p>
<h3>references</h3>
<p>
    To be completed.
</p>
<h3>input</h3>
<p>
    Input is a set of all-vs-all blast results for a set of genomes. Usually this would
    include results from both WU-BLASTP and WU-TBLASTN.

    Analysis can be performed on a subset of genomes without re-running the BLASTs by
    providing an optional list of genome-encoding BSML documents (eg: legacy2bsml output)
    for the set of genomes to analyze.
</p>
<h3>bsml output</h3>
<div class='bsml_container'>
    no bsml output defined for this component
</div>
<h3>output</h3>
<p>
    To be completed.
</p>
