[interface]
classification = alignment

[parameters]

;;location of the reference Bowtie Index
$;REFERENCE$;=$;REPOSITORY_ROOT$;/output_repository/bowtie_build/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/reference

;;location of the reads file
$;Q$;= $;REPOSITORY_ROOT$;/output_repository/fastx_tools_analysis/$;PIPELINEID$;_$;OUTPUT_TOKEN$;_left/trimmed.fastq

;;location of the reads mate file
$;Q2$;= $;REPOSITORY_ROOT$;/output_repository/fastx_tools_analysis/$;PIPELINEID$;_$;OUTPUT_TOKEN$;_right/trimmed.fastq

;;maximum insert size
$;X$;=300

;;maximum number of mismatches
$;V$;=2

;;maximum number of alignments per read...those with more alignments will be ignored
$;M$;=1

;;additional arguments
$;OTHER_OPTS$;=

[input]
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa

[output]
;;use a unique sample name
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;BSML_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bsml.list
$;SAM_OUTPUT$; = $;OUTPUT_DIRECTORY$;/aligned.sam

[component]
$;COMPONENT_NAME$; = bowtie
$;DESCRIPTION$; = aligns reads against a single reference file contining one or more contigs
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 5801 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
