[interface]
classification=file / indexing

[parameters]
;; enter T for protein, F for nucleotide
$;PROTEIN$;=F

[input]
;; space-separated list
$;INPUT_FILES$;=
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/clean_fasta/$;PIPELINEID$;_clean_fasta/clean_fasta.list

[output]
$;OUTPUT_TOKEN$;=genome
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; call it whatever you like
$;DATABASE_NAME$;=

[component]
$;COMPONENT_NAME$;=formatdb
$;DESCRIPTION$;=none
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/formatdb/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed
;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=2.0
$;RELEASE_TAG$;=$Name$
$;REVISION$;=$Revision: 6918 $;
$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=
