[initdb default]
$;DATABASE$; = $;DB$;
$;SERVER$; = $;HOST$;
$;ADMIN_USER$; = $;USER$;
$;ADMIN_PASS$; = $;PASS$;
$;PASSWORD_FILE$; = $;PASS_FILE$;

[bsml2chado pmarks]
$;USERNAME$; = $;USER$;
$;PASSWORD$; = $;PASS$;
$;SERVER$; = $;HOST$;
$;DATABASE$; = $;DB$;
$;PASSWORD_FILE$; = $;PASS_FILE$;

[bsml2chado pipeline_summary]
$;USERNAME$; = $;USER$;
$;PASSWORD$; = $;PASS$;
$;SERVER$; = $;HOST$;
$;DATABASE$; = $;DB$;
$;PASSWORD_FILE$; = $;PASS_FILE$;

[bsml2chado signalp]
$;USERNAME$; = $;USER$;
$;PASSWORD$; = $;PASS$;
$;SERVER$; = $;HOST$;
$;DATABASE$; = $;DB$;
$;PASSWORD_FILE$; = $;PASS_FILE$;

[bsml2chado lipop]
$;USERNAME$; = $;USER$;
$;PASSWORD$; = $;PASS$;
$;SERVER$; = $;HOST$;
$;DATABASE$; = $;DB$;
$;PASSWORD_FILE$; = $;PASS_FILE$;

[bsml2chado ps_scan]
$;USERNAME$; = $;USER$;
$;PASSWORD$; = $;PASS$;
$;SERVER$; = $;HOST$;
$;DATABASE$; = $;DB$;
$;PASSWORD_FILE$; = $;PASS_FILE$;

[bsml2chado hmm_pre]
$;USERNAME$; = $;USER$;
$;PASSWORD$; = $;PASS$;
$;SERVER$; = $;HOST$;
$;DATABASE$; = $;DB$;
$;PASSWORD_FILE$; = $;PASS_FILE$;

[bsml2chado hmm_post]
$;USERNAME$; = $;USER$;
$;PASSWORD$; = $;PASS$;
$;SERVER$; = $;HOST$;
$;DATABASE$; = $;DB$;
$;PASSWORD_FILE$; = $;PASS_FILE$;

[bsml2chado ber_pre]
$;USERNAME$; = $;USER$;
$;PASSWORD$; = $;PASS$;
$;SERVER$; = $;HOST$;
$;DATABASE$; = $;DB$;
$;PASSWORD_FILE$; = $;PASS_FILE$;

[bsml2chado ber_post]
$;USERNAME$; = $;USER$;
$;PASSWORD$; = $;PASS$;
$;SERVER$; = $;HOST$;
$;DATABASE$; = $;DB$;
$;PASSWORD_FILE$; = $;PASS_FILE$;

[bsml2chado tmhmm]
$;USERNAME$; = $;USER$;
$;PASSWORD$; = $;PASS$;
$;SERVER$; = $;HOST$;
$;DATABASE$; = $;DB$;
$;PASSWORD_FILE$; = $;PASS_FILE$;

[scp_files copy_ber_pre]
$;DATABASE$; = $;DB$;

[scp_files copy_ber_post]
$;DATABASE$; = $;DB$;

[pathway_tools_input default]
$;DATABASE$; = $;DB$;
$;ORGANISM_NAME$; = $;GENOME$;
$;DB_HOST$; = $;HOST$;
$;USERNAME$; = $;USER$;
$;PASSWORD$; = $;PASS$;
$;TAXON_ID$; = $;TAXID$;
$;PASSWORD_FILE$; = $;PASS_FILE$;

[formatdb nuc]
$;DATABASE_NAME$; = $;DB$;_dbn.fa

[formatdb prot]
$;DATABASE_NAME$; = $;DB$;_dbp.fa

[formatdb genome]
$;DATABASE_NAME$; = $;DB$;_genome_dbn.fa

[scp_files copy_formatdb_prot]
$;DATABASE$; = $;DB$;

[scp_files copy_formatdb_nuc]
$;DATABASE$; = $;DB$;

[scp_files copy_genome]
$;DATABASE$; = $;DB$;

[global]
$;GENOME$; = 
$;DB$; = 
$;HOST$; = 
$;USER$; = 
$;PASS$; = 
$;PASS_FILE$; = 
$;TAXID$; = 
