[interface]
classification = utility

[parameters]
$;DATABASE$;=
$;COPY_BER_FLAG$;=1

[input]
;;Directory from which files will be copied
$;INPUTDIR$; = $;REPOSITORY_ROOT$;/output_repository/formatdb/$;PIPELINEID$;_genome
;;Directory where files will be copied to
$;OUTDIR$; = /local/scratch/manatee_db_staging/blastn/$;DATABASE$; 
;;Server the files will be copied to
$;OUTPUT_HOST$; =
;;Comma separated list of file extensions to include
;;If not provided, will scp all files in the directory
$;FILE_EXTENSION_FILTERS$; = genome_dbn.fa.n.*

[output]
$;OUTPUT_TOKEN$; = copy_genome
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
[component]
$;COMPONENT_NAME$; = scp_files
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 6048 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


