<p>
     This component takes in a list of paired files and arranges them in the correct order- first pair then second.
</p>
<h3>input</h3>
<p>
     The input is a list file containing exactly two files.
</p>
<h3>output</h3>
<p>
     The output is a list file.
</p>

