[interface]
classification = functional prediction

[parameters]
;; On which feature type should annotation be assigned?
$;ANNOTATE_ON$;=transcript

;; Optional (unless --hmm_list defined) MLDBM file (tied hash) on disk that stores 
;;  attributes of HMM entries in your search database.  See the hmmlib_to_mldbm.pl 
;;  script for more info.
$;HMM_INFO$;=

[input]
$;INPUT_FILE_LIST$; = 
;; optional.  output list of HMM evidence in BSML format.  can specify more than one separated by commas
$;HMM_LIST$; = 
;; optional.  output list of BER evidence in BSML format.  can specify more than one separated by commas
$;BER_LIST$; = 

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;

[component]
$;COMPONENT_NAME$; = predict_prokaryotic_gene_function
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = current
$;RELEASE_TAG$; = $Name$
$;REVISION$; = $Revision: 4680 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


