[interface]
classification = cluster analysis

[parameters]
$;USERNAME$; = access
$;PASSWORD$; = access
;; PLEASE NOTE: the capitalization of the rdbms parameter MUST match the name 
;; of the corresponding Prism module (e.g., "Sybase" or "Mysql", not "sybase" or "mysql")
$;RDBMS$; = Sybase
$;SERVER$; = SYBPROD
$;DATABASE$; = $;PROJECT$;
$;ANALYSIS_ID1$; = 
$;ANALYSIS_ID2$; = 


[input]

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;REPORT_FILE$; = $;OUTPUT_DIRECTORY$;/cluster_mapping.txt


[component]
$;COMPONENT_NAME$; = cluster_mapping
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 5601 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 50
$;NODISTRIB$; = 1

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
