[parameters]
$;MASK_CHARACTER$;=X
;; REQUIRED: at least one analysis type must be specified (eg: aat_aa)
;; multiple values can be provided seperated by commas or whitespace
$;ANALYSIS_TYPES$;=
;; OPTIONAL: feature class(es) to mask on
;; multiple values can be provided seperated by commas or whitespace
$;FEATURE_CLASSES$;=
;; to soft mask (to lowercase) the sequence set SOFTMASK=1 
$;SOFTMASK$;=0
;; to mask NT sequence with random bases set RANDOM=1
$;RANDOM$;=0

[input]
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = bsml 

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;BSML_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bsml.list
$;FSA_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.fsa.list

[component]
$;COMPONENT_NAME$; = mask_by_analysis
$;DESCRIPTION$; = 
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = current
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


