[clean_fasta genecalls]
$;INPUT_FILE$; = $;INPUT_FASTA$;

[create_pseudomolecules genecalls]
$;ACSN_FILE$; = $;ACCESSION_FILE$;
$;STRAIN_NAME$; = $;ABBREVIATION$; 

[pmarks2bsml genecalls]
$;PROJECT_ABBREVIATION$; = $;ABBREVIATION$;

[pseudomolecule2glimmer3 genecalls]
$;PROJECT_ABBREVIATION$; = $;ABBREVIATION$;

[translate_sequence translate_prediction]
$;TABLE$; = $;TRANS_TABLE$;
$;PROJECT_NAME$; = $;ABBREVIATION$;

[promote_gene_prediction promote_prediction]
$;PROJECT_ABBREVIATION$; = $;ABBREVIATION$;

[global]
$;ABBREVIATION$; = 
$;INPUT_FASTA$; =
$;ACCESSION_FILE$; = 
$;TRANS_TABLE$; = 11
