[parameters]
$;BREAKLEN$; = 200
$;MINCLUSTER$; = 65
$;DIAGFACTOR$; = 0.12
$;MAXGAP$; = 90
$;MINMATCH$; = 20

[input]
$;INPUT_FILE_LIST$; = 
;$;INPUT_FILE$; = 
;$;INPUT_DIRECTORY$; = 
; input_extension is only used in combination with input_directory
;$;INPUT_EXTENSION$; = fsa

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;BSML_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bsml.list

[component]
$;COMPONENT_NAME$; = nucmer_snps 
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$; = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/nucmer_snps.xml

$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/nucmer_snps.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
