[interface]
classification = omnidexterous

[parameters]

;Should be able to either supply a workflow XML document
;or a pipeline.layout and directory of pipeline.config files
;The latter is not supported at the moment
[input]
$;WORKFLOW_XML$; = 

;$;PIPELINE_LAYOU$;=
;$;PIPELINE_CONFIG_DIR$;=


[output]

$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;

[component]
$;COMPONENT_NAME$; = run_workflow
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 4680 $

$;TEMPLATE_XML$; = $;WORKFLOW_XML$;

;$;ITERATOR1$; = i1
;$;ITERATOR1_XML$; = $;WORKFLOW_XML$;

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;USER_CONFIG$;=
$;PROJECT_CONFIG$;=
