[interface]
classification = functional prediction

[parameters]
;;BER Evidence (Directory)
$;BER_INPUT$;=$;REPOSITORY_ROOT$;/output_repository/ber/$;PIPELINEID$;_pre_overlap_analysis/
;;HMM Evidence (Directory)
$;HMM_INPUT$;=$;REPOSITORY_ROOT$;/output_repository/hmmpfam/$;PIPELINEID$;_pre_overlap_analysis/hmmpfam.bsml.list
;;hmm info mldbm file.  see perldoc on auto_gene_curation.pl for info
$;HMM_INFO_DB$; = $;HMM_ALL$;
;;NCBI Taxonomy *.dmp files
$;NAMES_DUMP$;=/usr/local/projects/db/ncbi/taxonomy/names.dmp
$;NODES_DUMP$;=/usr/local/projects/db/ncbi/taxonomy/nodes.dmp

[input]
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/promote_gene_prediction/$;PIPELINEID$;_promote_prediction/promote_gene_prediction.bsml.list
$;INPUT_FILE$;=
$;INPUT_DIRECTORY$;=
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$;=fsa

[output]
$;OUTPUT_TOKEN$;=overlap_analysis
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;BSML_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bsml.list

[component]
$;COMPONENT_NAME$;=auto_gene_curation
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed
$;DESCRIPTION$;=none

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=2.0
$;RELEASE_TAG$;=$Name: ergatis-v2r4b2 $
$;REVISION$;=$Revision: 1.2 $

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$;=i1
$;ITERATOR1_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$;=150
$;NODISTRIB$;=0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=


