[interface]
classification = unclassified

[parameters]
$;ADD_ASSEMBLY$;=1
;; Comma separated list of feature classes.  Will determine the order of the columns
;; in the output file.
$;OUTPUT_ORDER$;=polypeptide,CDS

[input]
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default/start_site_curation.changed.bsml.list
$;INPUT_FILE$;=
$;INPUT_DIRECTORY$;=

[output]
$;OUTPUT_TOKEN$;=post_overlap_analysis
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; OUTPUT_FILE should be null if FORMAT is 'single'

[component]
$;COMPONENT_NAME$;=bsml2featurerelationships
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed
$;DESCRIPTION$;=none

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=$Name: ergatis-v2r4b2 $
$;RELEASE_TAG$;=$Name: ergatis-v2r4b2 $
$;REVISION$;=$Revision: 1.2 $

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=


