[split_multifasta default]
$;INPUT_FILE$; = /usr/local/annotation/MOORE/organisms/Pelagibacter_HTCC7211/PB7211.assemblies.fsa

[wu-blastn All_RNA.db]
$;DATABASE_PATH$; = /usr/local/projects/db/RDPII/release9_56_unaligned.fasta

[tRNAscan-SE find_tRNA]
$;ID_ROOT$; = $;ABBREVIATION$;

[hmmpfam prok_Rfam.HMM]
$;DATABASE_PATH$; = /usr/local/projects/db/Rfam/HMMs/prok_Rfam.HMM

[infernal find_RNA]
$;HMM_CM_TABLE$;=/usr/local/db/RFAM/CMs

[glimmer3 iter1]
$;GLIMMER3_OPTS$; = -o50 -g110 -t30 -z$;TRANS_TABLE$; -l -X 

[glimmer3 iter2]
$;GLIMMER3_OPTS$; = -o50 -g110 -t30 -z$;TRANS_TABLE$; -l -X -b $;REPOSITORY_ROOT$;/output_repository/train_for_glimmer3_iteration/$;PIPELINEID$;_train_for_glimmer/all.motif

[hmmpfam pre_overlap_analysis]
$;DATABASE_PATH$; =

[wu-blastp pre_overlap_analysis]
$;DATABASE_PATH$; = /usr/local/db/panda/AllGroup/AllGroup.niaa

[ber pre_overlap_analysis]
$;PROTEIN_DB$; = /local/db/panda/AllGroup/AllGroup.niaa
$;PROTEIN_DB_FORMAT$; = xdformat

[pipeline_summary default]
$;LOCUS_PREFIX$; = $;ABBREVIATION$;
$;ORGANISM$; = $;GENOME$;
$;TRANSLATION_TABLE$; = $;TRANS_TABLE$;

[wu-blastp COGS]
$;DATABASE_PATH$;= /usr/local/devel/ANNOTATION/kgalens/cogs_blast_db/myva

[global]
$;GENOME$; = Pelagibacter HTCC7211
$;ABBREVIATION$; = PB7211
$;TRANS_TABLE$; = 11

;;This will be filled in later
[project]
$;REPOSITORY_ROOT$; = 
$;PIPELINEID$; =
