[split_multifasta default]
$;INPUT_FILE$; = /usr/local/annotation/MOORE/organisms/Pelagibacter_HTCC7211/PB7211.assemblies.fsa

[wu-blastn All_RNA.db]
$;DATABASE_PATH$; = /usr/local/projects/db/RDPII/release9_56_unaligned.fasta

[tRNAscan-SE find_tRNA]
$;ID_ROOT$; = $;ABBREVIATION$;

[glimmer3 iter1]
$;PROJECT_ABBREVIATION$; = 
$;GLIMMER3_OPTS$; = -o50 -g110 -t30 -z$;TRANS_TABLE$; -l -X 

[glimmer3 iter2]
$;PROJECT_ABBREVIATION$; = 
$;GLIMMER3_OPTS$; = -o50 -g110 -t30 -z$;TRANS_TABLE$; -l -X -b $;REPOSITORY_ROOT$;/output_repository/train_for_glimmer3_iteration/$;PIPELINEID$;_train_for_glimmer/all.motif

[pipeline_summary default]
$;LOCUS_PREFIX$; = $;ABBREVIATION$;
$;ORGANISM$; = $;GENOME$;
$;TRANSLATION_TABLE$; = $;TRANS_TABLE$;

[predict_prokaryotic_gene_function default]
$;HMM_INFO$; = /usr/local/projects/db/coding_hmm/coding_hmm.lib.db
$;BER_INFO$; = /usr/local/projects/db/tchar/tchar.db

[global]
$;GENOME$; = 
$;ABBREVIATION$; = 
$;TRANS_TABLE$; = 11
