[clean_fasta genecalls]
$;INPUT_FILE$; = $;INPUT_FASTA$;

[coords_to_glimmer3 genecalls]
$;INPUT_FILE$; = $;COORDS_FILE$;

[pmarks2bsml genecalls]
$;PROJECT_ABBREVIATION$; = $;ABBREVIATION$;

[translate_sequence translate_prediction]
$;TABLE$; = $;TRANS_TABLE$;
$;PROJECT_NAME$; = $;ABBREVIATION$;

[promote_gene_prediction promote_prediction]
$;PROJECT_ABBREVIATION$; = $;ABBREVIATION$;

[translate_sequence translate]
$;TABLE$; = $;TRANS_TABLE$;
$;PROJECT_NAME$; = $;ABBREVIATION$;

[ber pre_overlap_analysis]
$;PROJECT_ABBREVIATION$; = $;ABBREVIATION$;

[lipop default]
$;PROJECT_ABBR$; = $;ABBREVIATION$;

[p_func default]
$;OUTPUT_FILE_BASE_NAME$; = $;ABBREVIATION$;

[pipeline_summary default]
$;LOCUS_PREFIX$; = $;ABBREVIATION$;
$;ORGANISM$; = $;GENOME$;
$;TRANSLATION_TABLE$; = $;TRANS_TABLE$;

[global]
$;GENOME$; = 
$;ABBREVIATION$; =
$;COORDS_FILE$; =
$;INPUT_FASTA$; =
$;TRANS_TABLE$; = 11
