[parameters]
;; integer value from the set (0-6, 9-16, 21-23), or path to EMBOSS format translation table file
$;CODON_TABLE$;=11
;; translation frames (1,2,3,4,5,6; F (1-3), R (4-6), or 0 for all)
$;FRAMES$;=0
;; minimum length of predicted orfs (0 = no limit)
$;MIN_ORF_SIZE$;=60
;; maximum length of predicted orfs (0 = no limit)
$;MAX_ORF_SIZE$;=0
;; treat beginning of read as a start codon
$;BEGINNING_AS_START$;=1
;; treat end of read as a stop codon
$;END_AS_STOP$;=1
;; assume stop codon wherever codon has an ambiguous base that could be translated as a stop
$;ASSUME_STOPS$;=0
;; predicted ORFs will be from start to stop (0) or from stop to stop (1)
$;FULL_ORFS$;=0
;; force first codon in predicted ORFs to be translated as methionine
$;FORCE_METHIONINE$;=0
;; comma delimited list of key=value pairs to be added to the fasta headers of the output sequence
$;HEADER_ADDITIONS$;=
;; gzip output fasta files
$;GZIP_OUTPUT$;=1


[input]
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;FNA_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.fna.list
$;FAA_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.faa.list

[component]
$;COMPONENT_NAME$; = open_reading_frames 
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


