[interface]
classification = alignment

[parameters]
;;the feature definitions to count over
$;GTF_FILE$;=

;;scheme to decipher overlapping features and reads.  either union, intersection-strict, or intersection-nonempty
$;COUNT_MODE$;=union

;;feature type to extract from gtf file and count over
$;COUNTING_FEATURE$;=exon

;;minimum quality of alignment to count a read
$;MIN_ALIGN_QUAL$;=0

;;indicates whether or not the rna-seq library is strand-specific
$;IS_STRANDED$;=no

;;the attribute over the features that is used to group features.  for example, exons with the same gene_id will be grouped together for counting reads
$;ID_ATTRIBUTE$;=gene_id

[input]
;; Input SAM file(s) with header, sorted by read name
$;INPUT_FILE$; = 
$;INPUT_FILE_LIST$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = sam

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;COUNT_FILE_LIST$;=$;OUTPUT_DIRECTORY$;/count_file_list.txt

[component]
$;COMPONENT_NAME$; = htseq_count_reads
$;DESCRIPTION$; = uses the HTseq Python package to count reads aligning to features
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 5801 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
