[interface]
classification = sequence / manipulation

[parameters]
;;Maximum pairwise MUMi score defining cluster equivalence
$;CLUSTER_THRESHOLD$; = 0.3
;;Minimum length defining a maximal unique match when running MUMmer
$;MIN_MUM$; = 19

[input]
$;INPUT_FILE$; = 
$;INPUT_FILE_LIST$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fasta

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;

[component]
$;COMPONENT_NAME$; = mumi-reduce
$;DESCRIPTION$; = de-redundify a collection of reference sequences via pairwise alignment
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 1 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

$;ITERATOR1$; = 01_find_pairs
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

$;ITERATOR2$; = 02_run_MUMi
$;ITERATOR2_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR2$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=

[dce]
;; These configuration options only apply to any distributed components 
$;GROUP$;=
$;OS$;=
$;MEMORY$;=
$;HOSTS$;=
$;QUEUE$;=
$;DURATION$;=
$;PRIORITY$;=
$;PASSTHROUGH$;= -l mem_free=4G
