<p>
    Ergatis is a highly scalable and portable architecture for performing
    high throughput genome annotation and comparative analysis.  The architecture
    supports a large number of commonly used bioinformatics tools and predefines a
    number of integrated, multi-step pipelines for performing automated gene
    annotations and comparative analysis. The architecture utilizes a Java based
    workflow engine and integrates with a popular grid management packages, such as
    Sun Grid Engine and Condor, in addition to supporting pipeline execution on a
    stand-alone machine. A web based front-end provides an interface for configuring
    and monitoring pipelines.  The software provides detailed execution status,
    logging information for process auditing, and facilitates error recovery from
    point of failure.
</p>
<p>
    The links below provide documentation on a variety of topics.  We have just begun generating
    this public documentation, so many of these sections are not as complete as they should (and
    will) be.
</p>
<h3>for users</h3>
<dl>
    <dt><a href='./documentation.cgi?article=components'>component documentation</a></dt>
    <dd>
        Here you'll find the documentation for each of the components available within Ergatis,
        such as wu-blastp, glimmerHMM and signalP.
    </dd>
    <dt><a href='./documentation.cgi?article=directory_structure'>directory structure convention</a></dt>
    <dd>
        The layout of files supporting and created by the Ergatis interface is described here.
    </dd>
    <dt><a href='./documentation.cgi?article=pipeline_creation'>pipeline creation tutorial</a></dt>
    <dd>
        In this simple tutorial we walk the user through the creation of a pipeline with two
        components, xdformat and ncbi-blastp.  Sample input data is provided and screenshots of
        each step are used to guide the user.
    </dd>
</dl>
<h3>for developers</h3>
<dl>
    <dt><a href='./documentation.cgi?article=component_creation'>component creation tutorial</a></dt>
    <dd>
        This is a technical tutorial documenting how to create a component for Ergatis.  It is
        currently incomplete.
    </dd>
</dl>
