[interface]
classification = utility

[parameters]
;;Used in id generation when generating pmarks bsml
$;PROJECT_ABBREVIATION$; = $;PROJECT$; 

[input]
;;List of paths to pseudomolecules 
$;INPUT_FILE_LIST$; =
;;Pseudomolecule file
$;INPUT_FILE$; = 
;;Directory containing pseudomolecule files
$;INPUT_DIRECTORY$; =
;; The following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fasta
;; Tab-delimited file containing pmark positions corresponding to the input pseudomolecule
$;PMARKS_INPUT$; = 

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bsml.list

[component]
$;COMPONENT_NAME$; = pmarks2bsml
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$; = $Revision: 6048 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
