[interface]
classification = utility

[parameters]
;Name of the database server.
$;SERVER$;=jabba
;Database username 
$;USERNAME$;=
;Database password
$;PASSWORD$;=
;Optional. Read password from file if the password should not be publicly seen.
$;PASSWORD_FILE$;=
;URL of the Manatee delete_gene.cgi script that can be used to delete the offending gene(s).  You probably want to use 'http://manatee.igs.umaryland.edu/tigr-scripts/chado_prok_manatee/delete_gene.cgi'
$;DELETE_URL$;=http://manatee.igs.umaryland.edu/tigr-scripts/chado_prok_manatee/delete_gene.cgi
;Sequence on which to split sequences into contigs
$;LINKER_SEQUENCE$;=NNNNNCACACACTTAATTAATTAAGTGTGTGNNNNN
;Optional. String to use in constructing contig ids 
$;CONTIG_STRING$;=contig
;Optional. This corresponds to the db.name field for ID reference source.
$;DB_NAME$;=NCBI_locus_tag
;Optional. Perl-style substitution to apply to contig ids.
$;CONTIG_ID_REPLACEMENT$;=gene
;Optional. Specify other tbl2asn parameters. Defaults specified in the script currently are -p, -t, -r, -a, -V, -c, -Z, -j
$;OTHER_TBL2ASN_OPTS$;=
;Any other supported options for deleting overlapping genes.  Only applicable one is --no_delete (optional)
$;ARGS$;=
;Number of Ns to split the contig sequence. Default is 10 
$;SPLIT_NUM$;=10
;Minimum contig length allowed in fasta and tbl files. Contigs less than this length will be deleted. Default is 200
$;MIN_CONTIG_LEN$;=200

[input]
$;INPUT_FILE$;=
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/create_db_list_file/$;PIPELINEID$;_default/db.list
$;INPUT_DIRECTORY$;=
$;INPUT_EXTENSION$;=txt

[output]
$;OUTPUT_TOKEN$;=default
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;DB_OUTPUT_DIR_LIST$;=$;OUTPUT_DIRECTORY$;/genbank_submission.list

[component]
$;COMPONENT_NAME$;=dump_table
$;DESCRIPTION$;=Dump a database into a tbl file and prepares it for GenBank submission
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=0.0
$;RELEASE_TAG$;=$Name$
$;REVISION$;=$Revision: 4680 $

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$;=i1
$;ITERATOR1_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$;=150
$;NODISTRIB$;=0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=
;; This file contains any component configuration options that are common across 
;; all Ergatis components. Any components added here should be displayed in the interface
;; when adding any component to a pipeline

[dce]
;; These configuration options only apply to any distributed components 
$;GROUP$;=$;PROJECT_CODE$;
$;OS$;=linux
$;MEMORY$;=
$;HOSTS$;=
$;QUEUE$;=
$;DURATION$;=
$;PRIORITY$;=
$;PASSTHROUGH$;= -l mem_free=1G
