[interface]
classification = utility

[parameters]
$;HOST$;=jabba
$;USERNAME$;=
$;PASSWORD$;=
;Read password from file if the password should not be publicly seen. (optional)
$;PASSWORD_FILE$;=
;Can obtain ec_dat file from ftp://ftp.expasy.org/databases/enzyme/enzyme.dat
$;EC_DAT_FILE$;=
;If --no_change is supplied here, will not change the database
$;NO_CHANGE$;=

[input]
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/create_db_list_file/$;PIPELINEID$;_default/db.list
$;INPUT_FILE$;=
$;INPUT_DIRECTORY$;=
$;INPUT_EXTENSION$;=txt

[output]
$;OUTPUT_TOKEN$;=default
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_FILE$;=$;OUTPUT_DIRECTORY$;/$;OUTPUT_TOKEN$;.out

[component]
$;COMPONENT_NAME$;=update_ec_numbers
$;DESCRIPTION$;=Update EC numbers in the database
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=0.0
$;RELEASE_TAG$;=$Name$
$;REVISION$;=$Revision: 4680 $

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$;=i1
$;ITERATOR1_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$;=150
$;NODISTRIB$;=0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=


;; This file contains any component configuration options that are common across 
;; all Ergatis components. Any components added here should be displayed in the interface
;; when adding any component to a pipeline

[dce]
;; These configuration options only apply to any distributed components 
$;GROUP$;=$;PROJECT_CODE$;
$;OS$;=linux
$;MEMORY$;=
$;HOSTS$;=
$;QUEUE$;=
$;DURATION$;=
$;PRIORITY$;=
$;PASSTHROUGH$;=-l mem_free=1G
