[interface]
classification = database / manipulation

[parameters]
;; Name of the database for which the indices, unique and foreign key constraints should be restored.
$;DATABASE$; = $;PROJECT$;
;; Name of the server on which the database resides.
$;SERVER$; =
;; Relational database management system type e.g. sybase or postgresql
$;RDBMS$; = sybase
[input]

[output restore_indices_and_constraints]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;


[component]
$;COMPONENT_NAME$; = restore_indices_and_constraints
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 4952 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = restore_indices_and_constraints
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.sql.xml
$;ITERATOR2$; = restore_chado-mart_indices_and_constraints
$;ITERATOR2_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.sql.xml

;Distributed options
$;GROUP_COUNT$; = 1
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
