[interface]
classification = file / conversion

[parameters]
;; 'single' creates single-sequence fasta files, 'multi' creates one multi-sequence fasta file.
$;FORMAT$;=single
$;CLASS_FILTER$;=polypeptide
;; legal values for PARSE_ELEMENT are sequence and feature
$;PARSE_ELEMENT$;=sequence
;; exclude sequences with specific role type(s) defined in Link elements (eg: input_of)
;; (can be a comma separated list)
$;ROLE_EXCLUDE$;=
;; include only those sequences with the specified role type(s) defined in Link elements (eg: input_of)
;; (can be a comma separated list)
$;ROLE_INCLUDE$;=
;; if you need to extend the sequences
$;BP_EXTENSION$;=
$;OUTPUT_SUBDIR_SIZE$;=20000

[input]
$;INPUT_FILE$;=
$;INPUT_FILE_LIST$;=/usr/local/projects/angiuoli/plasmids/output_repository/genbank2bsml/795_default/genbank2bsml.bsml.list

[output]
$;OUTPUT_TOKEN$;=fastasingle
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; OUTPUT_FILE should be null if FORMAT is 'single'
$;OUTPUT_FILE$;=
$;OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.fsa.list

[component]
$;COMPONENT_NAME$;=bsml2fasta 
$;DESCRIPTION$;=none
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=$Name$
$;RELEASE_TAG$;=$Name$
$;REVISION$;=$Revision: 4680 $

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=


