[interface]
classification = file / indexing

[parameters]
;; p - protein, n - nucleotide
$;SEQ_TYPE$;=p
;; 4 for 4GB or less, else use 5
$;PRECISION$;=4
;; other options (eg: '-I' to index sequence identifiers, -k ignore (skip) any invalid letter codes in the FASTA input )
$;OTHER_OPTS$;=-I -k

[input]
;; space-separated list
$;INPUT_FILES$;=$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_fastamulti/searchdb.fsa

[output]
$;OUTPUT_TOKEN$;=default
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; call it whatever you like
$;DATABASE_NAME$;=searchdb

[component]
$;COMPONENT_NAME$;=xdformat
$;DESCRIPTION$;=none
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=2.0
$;RELEASE_TAG$;=$Name$
$;REVISION$;=$Revision: 4680 $

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=


