[interface]
classification = file / conversion

[parameters]
;; 'single' creates single-sequence fasta files, 'multi' creates one multi-sequence fasta file.
$;FORMAT$;=single
$;CLASS_FILTER$;=CDS

;; Optional: A class other than the class filter can be used as the header. This only works if the two classes have a 1:1 relationship and must be used int conjunction with a class filter.
$;HEADER_CLASS$;=
;; legal values for PARSE_ELEMENT are sequence and feature
$;PARSE_ELEMENT$;=feature 
;; exclude sequences with specific role type(s) defined in Link elements (eg: input_of)
;; (can be a comma separated list)
$;ROLE_EXCLUDE$; = 
;; include only those sequences with the specified role type(s) defined in Link elements (eg: input_of)
;; (can be a comma separated list)
$;ROLE_INCLUDE$; = 
;; if you need to extend the sequences
$;BP_EXTENSION$; = 
;; set to 1 if you'd like the coordinates in the header.
$;COORDS$; = 0
$;USE_FEATURE_IDS_IN_FASTA$; = 0
;; set this to 1 if the Seq-data-import.identifiers in the input BSML are not guaranteed to match the
;; ids of the corresponding sequence element (as in a genomic sequence with a genbank style header).
$;USE_SEQUENCE_IDS_IN_FASTA$; = 0
;; Output file suffix (default is fsa)
$;OUTPUT_SUFFIX$; = fsa
$;OUTPUT_SUBDIR_SIZE$;=20000

[input]
$;INPUT_FILE$; = 
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default/start_site_curation.bsml.list

[output]
$;OUTPUT_TOKEN$; = final_cds
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; OUTPUT_FILE should be null if FORMAT is 'single'
$;OUTPUT_FILE$; = 
$;OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.fsa.list

[component]
$;COMPONENT_NAME$; = bsml2fasta 
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 4680 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


