[interface]
classification = functional prediction

[parameters]
;;Valid organism type choices: 'euk', 'gram-', 'gram+'
$;ORGANISM_TYPE$;=euk
;;'best' to use transmembrane proteins in the method, 'notm' to not use them
$;PREDICTION_METHOD$;=best
;;Graphics output mode: 'png' or 'png+eps'
$;GRAPHICS_MODE$;=png+eps
;;Truncate each sequence maximally to the given number of N-terminal residues
;;(0 to disable, but signalP will fail on polypeptides >6000 residues)
;;[Author recommends running with a truncated length of 50-70 bases.]
$;TRUNCATED_LENGTH$;=70
;;Set the following to 1 to have most outputs compressed
$;COMPRESS_RAW_OUTPUT$; = 1
;;Any other supported options (do not define -T, it is already handled within the component)
$;ARGS$; = 

[input]
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/translate_sequence/$;PIPELINEID$;_final_polypeptides/translate_sequence.fsa.list
$;INPUT_FILE$;=
$;INPUT_DIRECTORY$;=
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$;=fsa

[output]
$;OUTPUT_TOKEN$;=default
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;BSML_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bsml.list
$;BTAB_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.btab.list
$;RAW_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.raw.list
$;GIF_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.gif.list
$;EPS_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.eps.list
$;PS_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.ps.list
$;GNU_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.gnu.list

[component]
$;COMPONENT_NAME$; = signalp 
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed
$;SKIP_WF_COMMAND$;=Rename signalp graphics files,compress gnuplot output,create eps list,create gnu list,create ps list,create gif list

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 7828 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=

[dce]
$;PASSTHROUGH$; = -l mem_free=100M
