[interface]
classification = clustering

[parameters]
$;MAX_MULTI_ALIGNMENT$; = 100

;; set this to 1 if the Seq-data-import.identifiers in the input BSML are not guaranteed to match the
;; ids of the corresponding linked features
$;USE_FEATURE_IDS_IN_FASTA$; = 1

;; blank for a normal report --cogformat=1 for a cog file --printalignments=1 to print a verbose output. 
$;OTHER_OPTS$; =

;; The minimum %coverage/identity values for mapping genes into clusters.
$;COVERAGE$; = 0.7 
$;IDENTITY$; = 0.6
$;QUERY_COVERAGE$; = 0

[input]
;; the mugsymap file
$;MUGSY_MAP_FILE$; =

;; alignment file (.maf) from mugsy
$;MUGSY_ALIGNMENT$; = 

;; a fasta file containing all of the genomic sequences
$;GENOMIC_MULTIFASTA$; =

;; a list of the bsml files so that the cog file can be converted to multifasta
$;BSML_FILE_LIST$; =

[output mugsycog]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;FASTA_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.fsa.list

;; feature and lcb index
$;MUGSY_INDEX$; = $;OUTPUT_DIRECTORY$;/mugsycog.index

[component]
$;COMPONENT_NAME$; = mugsycog
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 6107 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
