<!-- component documentation -->

<p>
    This component converts Genbank flat file formatted genome records into fasta.
	If the input genbank record contains no sequence information, the component will
	fail.
</p>
<h3>input</h3>
<p>
    Input to the component should be one or more genbank flat files.
</p>
<h3>implemented options</h3>
<p>
    There are no user configurable options.
</p>
<h3>fsa output</h3>
<p>
	>Sequence identifier
	ACTG...
</p>
