[sff_to_CA default]
$;LIBRARY$; = $;ABBREVIATION$;
$;LINKER$; = $;454_LINKER$;
$;TRIM$; = $;CELERA_TRIM$;
$;CLEAR$; = $;CELERA_CLEAR$;
$;INSERT_SIZE$; = $;READ_INSERT_SIZE$;
$;INPUT_FILE_LIST$; = $;INPUT_SFF_LIST$;
$;INPUT_FILE$; = $;INPUT_SFF_FILE$;

[celera-assembler assembly]
$;OUTPUT_PREFIX$; = $;ABBREVIATION$;
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/sff_to_CA/$;PIPELINEID$;_default/sff_to_CA.frg.list

[global]
$;INPUT_SFF_FILE$; =
$;INPUT_SFF_LIST$; = 
$;ABBREVIATION$; = 
$;454_LINKER$; = 
$;CELERA_TRIM$; = 
$;CELERA_CLEAR$; = 
$;READ_INSERT_SIZE$; = 
$;INPUT_FSA_LIST$; =
$;INPUT_FSA_FILE$; = 
