<!-- component documentation -->

<p>
    This is a testing component and doesn't serve any functional purpose.  It is usually used
    to make sure the file iteration, grid submission and monitoring aspects of Ergatis and
    Workflow are working correctly.  It allows the user to specify input (see below) and then
    each job just sits on the grid, sleeping, for some user-defined time period before 
    returning a success code.  This demonstrates that the input def can be parsed, groups
    created, jobs submitted to the grid, executed and successfully monitored.
</p>
<h3>input</h3>
<p>
    The standard methods of input for Ergatis components apply here.  This can include iteration
    over a list of files, a single file or a directory of files.
</p>
