<!-- component documentation -->
<h2>Description from the EMBOSS site</h2>

<p>fuzznuc uses PROSITE style patterns to search nucleotide sequences.</p>

</p>Patterns are specifications of a (typically short) length of sequence to be found. They can specify a search for an exact sequence or they can allow various ambiguities, matches to variable lengths of sequence and repeated subsections of the sequence.</p>

<p>fuzznuc intelligently selects the optimum searching algorithm to use, depending on the complexity of the search pattern specified.</p>