[interface]
classification = clustering

[parameters]
;; Maximum e-value to keep BLAST hits for (default 1e-5)
$;MAX_E_VALUE$; = 1e-5
;; Minimum percent identity to use as cutoff for BLAST hits (default 0.0)
$;MIN_PERCENT_ID$; = 0.0
;; Minimum percent of the sequence length (query or subject) that aligns to use as a cutoff for BLAST hits (default 0.0)
$;MIN_PERCENT_MATCH$; = 0.0
;; Inflation rate value to put into MCL.  Higher number seems to increase the number of clusters (default 1.5)
$;INFLATION$; = 1.5
;; Number of CPUs to use for BLASTP (default 1)
$;NUM_CPUS$; = 1
;; Enter 1 if each file in input contains multiple genomes.  Enter 0 if each genome is separated by file
$;MIXED_GENOMES$; = 1
;; String of additional options to append to FastOrtho run
$;OTHER_ARGS$; = ''

[input]
;; Either a list of protein FASTAs to iterate over or a single FASTA
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;

[component]
$;COMPONENT_NAME$; = fastortho
$;DESCRIPTION$; = Wrapper component for the FastOrtho tool
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 
;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

[include]
$;PROJECT_CONFIG$;=

