[interface]
classification = database / manipulation

[parameters]
$;USERNAME$;=
$;PASSWORD$;=
$;SERVER$;=
$;DATABASE$; = 
;; sybase or postgresql
$;DATABASE_TYPE$; = sybase
;; The NAMESPACE value will be passed to the OBO loader's respect_namespace parameter 
;; i.e. obov1p2tochado.pl --respect_namespace.  The OBO loader's default behavior is 
;; to always apply the default-namespace that is provided at the head of the .obo files.
;; If the user wants the individual Term stanza namespace values to override the 
;; default-namespace value, NAMESPACE should be set to 1.
$;NAMESPACE$; = 0
$;BATCHSIZE$; = 30000

[input]
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = obo

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;TMP_DIR$;

[component]
$;COMPONENT_NAME$; = obo2chado
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$; = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

; Iterator for processing and loading all OBO files
$;ITERATOR1$; = obo
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 1
; no-distrib = 0 ensures that all executes in series and never parallel
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
