<p>
    This tutorial shows how to create a pipeline using the Ergatis web interface.
</p>
<h2>outline</h2>
<p>
    We will start with an example FASTA file containing 10 polypeptide sequences and run, in
    parallel, blastp and SignalP on each sequence.  
</p>

