[interface]
classification = utility

[parameters]
$;SERVER$;=
$;USERNAME$;=
$;PASSWORD$;=
;Read password from file if the password should not be publicly seen. (optional)
$;PASSWORD_FILE$;=
;This corresponds to the db.name field for ID reference source.
$;DB_NAME$;=NCBI_locus_tag
;A map file containing molecule uniquename and id_prefixes.  (optional)
$;ID_PREFIX_MAP$;=
; Feature type on which to assign dbxref IDs. (optional)
$;FEATURE_TYPE$;=gene
;Only process a specific organism_id (optional)
$;ORGANISM_ID$;=
;Will search for the db name, version, prefix given and only assign features which don't have an entry for that db. (optional)
$;ASSIGN_MISSING$;=0
;Enter a value to represent the version of the ID set. (optional)
$;VERSION$;=public_locus
;Defines number of digits IDs will be zero-padded
$;ZERO_PAD$;=4
;Accessions are assigned sequentially along molecules of this passed type. (optional)
$;MOLECULE_TYPE$;=assembly

[input]
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$;=
$;INPUT_EXTENSION$;=txt

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_FILE$; = $;OUTPUT_DIRECTORY$;/$;OUTPUT_TOKEN$;.out

[component]
$;COMPONENT_NAME$; = assign_dbxref_ids
$;DESCRIPTION$; = Assign ID prefixes to dbxref table in database
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 0.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 4680 $

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$;=i1
$;ITERATOR1_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


