[interface]
classification = alignment

[parameters]

;;the reference fasta/multi-fasta file
$;REFERENCE$; =

;;additional arguments for gmap_setup
$;OTHER_GMAP_SETUP_OPTIONS$; = 


;;the reads in one or two (for paired-end data) fastq or fasta files 
$;READS$; =

$;MAX_MISMATCHES$; = 3
$;INDEL_PENALTY$; = 1000
$;INDEL_END_LENGTH$; = 3

$;MAX_PAIRED_LENGTH$; = 1000
$;EXPECTED_PAIRED_LENGTH$; = 200

$;THREADS$; = 1

;;the maximum number of alignments to print for a given read
$;MAX_PATHS$; = 100

$;OUTPUT_FORMAT$; = sam


[input]
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa

[output]
;;use a unique sample name
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;BSML_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bsml.list
$;SAM_OUTPUT$; = $;OUTPUT_DIRECTORY$;/aligned.sam

[component]
$;COMPONENT_NAME$; = gsnap
$;DESCRIPTION$; = runs the slice-aware GSNAP aligner after setting up a GMAP database
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 5801 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
