[interface]
classification = utility

[parameters]
$;TIME$; = 10

[input]
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; input_extension is only used in combination with input_directory
$;INPUT_EXTENSION$; = fsa

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;

[component]
$;COMPONENT_NAME$; = wait 
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$; = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/wait.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/wait.$;ITERATOR1$;.xml

;The following keys are as examples of multiple iterators and can be
;excluded by if using a single iterator
$;ITERATOR2$; = i2
$;ITERATOR2_XML$; = $;DOCS_DIR$;/wait.$;ITERATOR2$;.xml
$;ITERATOR3$; = undef
$;ITERATOR3_XML$; = undef

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=



