[interface]
classification = sequence manipulation

[parameters]
;; This component uses a blast (-m 8 output) list and a list of 
;; fasta files to produce a subset of sequences screening out those
;; that had hits in the blast seach ($;OTHER_OPTS$;=-r) or the opposite
;; ($;OTHER_OPTS$;= ).

[input]
$;INPUT_FILE_LIST$;=
$;BLAST_FILE_LIST$;=
$;OTHER_OPTS$;=

[output]
$;OUTPUT_TOKEN$;=default
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;FASTA_OUTPUT$;=$;OUTPUT_DIRECTORY$;/screened.fasta
$;RESULTS_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/screenedfastas.list

[component]
$;COMPONENT_NAME$;=blast_seq_screen
$;DESCRIPTION$;=none
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=current
$;RELEASE_TAG$;=$Name$
$;REVISION$;=$Revision: 4680 $

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=


