[interface]
classification = utility

[parameters]
$;SERVER$;=
$;USERNAME$;=
$;PASSWORD$;=
;Read password from file if the password should not be publicly seen. (optional)
$;PASSWORD_FILE$;=
;URL of the Manatee delete_gene.cgi script that can be used to delete the offending gene(s).  You probably want to use 'http://manatee.igs.umaryland.edu/tigr-scripts/chado_prok_manatee/delete_gene.cgi'
$;DELETE_URL$;=http://manatee.igs.umaryland.edu/tigr-scripts/chado_prok_manatee/delete_gene.cgi
;Any other supported options.  Only applicable one is --no_delete (optional)
$;ARGS$;=

[input]
$;INPUT_FILE_LIST$;=
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$;=
$;INPUT_EXTENSION$;=txt

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_FILE$; = $;OUTPUT_DIRECTORY$;/$;OUTPUT_TOKEN$;.out

[component]
$;COMPONENT_NAME$; = deleteOverlappingRNAs
$;DESCRIPTION$; = Delete CDS hypothetical features that overlap with RNA features
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 0.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 4680 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$;=i1
$;ITERATOR1_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


