[pangenome_make_graphs new_genes]
$;TITLE$; = $;GENOME$;

[pangenome_make_graphs core_genes]
$;TITLE$; = $;GENOME$;

[pangenome_make_graphs pangenome]
$;TITLE$; = $;GENOME$;

[formatdb nuc]
$;INPUT_FILE_LIST$; = $;INPUT_FNA_LIST$;

[formatdb prot]
$;INPUT_FILE_LIST$; = $;INPUT_FAA_LIST$;

[ncbi-blastp default]
$;INPUT_FILE_LIST$; = $;INPUT_FAA_LIST$;

[ncbi-tblastn default]
$;INPUT_FILE_LIST$; = $;INPUT_FAA_LIST$;

[global]
$;GENOME$; =
$;ABBREVIATION$; =
$;TRANS_TABLE$; = 11
$;INPUT_FAA_LIST$; =
$;INPUT_FNA_LIST$; =
