<p>
    I'm just throwing some notes here to get an idea of the sort of documents I want to be
    available.  The only one that is currently available is the component documentation.  Later
    versions of this page will probably not look much like this.
</p>
<dl>
    <dt><a>overview</a></dt>
    <dd>
        Not yet available. 
    </dd>
    <dt><a href='./documentation.cgi?article=components'>component documentation</a></dt>
    <dd>
        Here you'll find the documentation for each of the components available within ergatis,
        such as wu-blastp, glimmerHMM and signalP.
    </dd>
    <dt><a>component creation tutorial</a></dt>
    <dd>
        Not yet available.  This should be a technical tutorial demonstrating how to create a
        workflow component for ergatis.
    </dd>
    <dt><a href='./documentation.cgi?article=directory_structure'>directory structure convention</a></dt>
    <dd>
        The layout of files supporting and created by the ergatis interface is described here.
    </dd>
    <dt><a>pipeline creation tutorial</a></dt>
    <dd>
        Not yet available.  This should be a technical tutorial demonstrating how to create a
        pipeline with ergatis.
    </dd>
</dl>
