[interface]
classification = phylogeny

[parameters]
;; Please note: each input multi-FASTA file will be run as a single RDP classifier
;; job on a single grid slot.  To distribute an extremely large input file over 
;; multiple slots use split_multifasta in combination with rdp_classifier.  
;; (Typically this is not necessary because the rdp_classifier can easily classify 
;; over 10,000 sequences/minute on a single node with an up-to-date Java version.)

;; Property file to pass to the RDP classifier.  The property file is used to specify
;; the database/taxonomy against which the classifier will search.  Leave this parameter
;; blank to use the default training data from whichever RDP classifier version is 
;; specified in the software.config file.
;;
$;PROPERTY_FILE$;=

$;RDP_DIR$;=/usr/local/bioinf/rdp_classifier

;; Maximum memory (heap) size for the Java process running the RDP classifier.
;; The default setting should be adequate for the default training data.
$;JAVA_MX$;=400m

[input]
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;GROUPS_FILE$;=
$;META_FILE$;=
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa


[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;RESULTS_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.results.list
$;TABLE_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.tables.list
$;PAIRED_TABLE_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.pairedtables.list


[component]
$;COMPONENT_NAME$; = rdp_classifier
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = current
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 4680 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


