[interface]
classification = RNA-Seq

[parameters]
;; path to fastqc package binary directory
$;FASTQC_BIN_DIR$; = $;FASTQC_BIN$;
;; other arguments that can be passed to fastqc
$;OTHER_PARAMETERS$; = 

[input]
;; path to sequence file consisting of first mates
$;INPUT_FILE_1$; =
;; path to sequence file consisting of second mates (if paired-end sequencing)
$;INPUT_FILE_2$; =
;; path to list file consisting of tab separated first mate and second mate sequence files
$;INPUT_FILE_LIST$; = 
;; path to directory of multiple single mate sequence files
$;INPUT_DIRECTORY$; = 
;; file extension for single mate sequence files (to be used when iterating over an INPUT_DIRECTORY)
$;INPUT_EXTENSION$; = fastq
;; path to bowtie index directory

[output]
;; use a unique sample name
$;OUTPUT_TOKEN$; = default

;; output directory for component results
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; list of base png files
$;OUTPUT_ALIGNMENT_BASE_PNG$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.base.png.list
;; list of sequence length png files
$;OUTPUT_ALIGNMENT_SEQ_PNG$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.length.png.list


[component]
$;COMPONENT_NAME$; = fastqc_stats
$;DESCRIPTION$; = Generates stats on the fastq files used for input into an aligner
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 6089 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$; = 
