[interface]
classification = comparative

[input]
;; Output from Bsml 2 mugsymap
$;MUGSYMAP$; = 
$;MUGSYCOG_RAW$; = 
;; Output from mugsy_callsnps
$;SNPS$; = 
;; Input genomes genbank list
$;GENBANK_LIST$; =
;; Output concatenated fasta from phylomark
$;PHYLOMARK_FASTA$; =

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_SUMMARY_LIST$; = $;OUTPUT_DIRECTORY$;/gene_summary.list
$;SUMMARY_LIST$; = $;OUTPUT_DIRECTORY$;/major_gene_summary.list
$;SUMMARY_REPORT$; = $;OUTPUT_DIRECTORY$;/comparative_summary_report.txt

[component]
$;COMPONENT_NAME$; = summarize_mugsy_comparative_pipeline
$;DESCRIPTION$; = NA
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$; = $Revision: 5801 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; =
$;COMPONENT_XML$; =
$;PIPELINE_XML$; =
$;PIPELINEID$; =

; distrib options
$;NODISTRIB$; = 0

[include]
$;PROJECT_CONFIG$;=
