[interface]
classification = utility

[parameter]
;;Optional. Basename of the .svg file to be generated in the output directory. Default is figure.svg
$;SVG_BASENAME$; = 
;;Optional.Comma-separated list of desired output formats for the circleator figure (pdf, jpg, png). Default is pdf,jpg
$;OUTPUT_FORMAT$; = 
;;Optional.Height of the figure. Default is 3000
$;OUTPUT_HEIGHT$; =
;;Optional.Width of the figure. Default is 3000
$;OUTPUT_WIDTH$; =

[input]
;;Path to directory containing GenBank files (.gbf)
$;GENBANK_DIR$; = 

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;SVG_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.svg.list
$;PDF_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.pdf.list
$;JPG_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.jpg.list

[component]
$;COMPONENT_NAME$; = make_circleator_figure
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$; = $Revision: 6048 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
