[interface]
classification = utility

[parameters]
$;SERVER$;=
$;USERNAME$;=
$;PASSWORD$;=
;Sequence on which to split sequences into contigs
$;LINKER_SEQUENCE$;=NNNNNCACACACTTAATTAATTAAGTGTGTGNNNNN
;String to use in constructing contig ids  (optional)
$;CONTIG_STRING$;=contig
;This corresponds to the db.name field for ID reference source. (optional)
$;DB_NAME$;=TIGR_moore
;Perl-style substitution to apply to contig ids. (optional)
$;CONTIG_ID_REPLACEMENT$;=gene

[input]
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$;=
$;INPUT_EXTENSION$;=txt

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_FILE$; = $;OUTPUT_DIRECTORY$;/$;OUTPUT_TOKEN$;.out

[component]
$;COMPONENT_NAME$; = dump_table
$;DESCRIPTION$; = Dump a database into a TBL file
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 0.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 4680 $

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$;=i1
$;ITERATOR1_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


