[parameters cvtermpath_closure]
$;USERNAME$; = 
$;PASSWORD$; = 
;; cv_id can be a comma-separated list e.g. 2,13,6 which means cvtermpath records will only be generated
;; for the already loaded ontologies with those cv_id values
;; cv_id can be simply one value e.g. 12 which means cvtermpath records will only be generated for the
;; ontology with cv_id == 12
$;CV_ID$; = 
$;SERVER$; = SYBTIGR
$;DATABASE_TYPE$; = sybase

[input cvtermpath_closure]

[output cvtermpath_closure]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$;=$;TMP_DIR$;

[component]
$;COMPONENT_NAME$; = cvtermpath_closure
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;     = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;    = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

$;ITERATOR1$; = process
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 1
; no-distrib = 0 ensures that all executes in series and never parallel
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
