body {
    /* font: 11px courier, verdana, geneva, arial, sans-serif; */
    font-family: verdana, sans-serif;
    font-size: 8pt;
	margin: 0;
	padding: 0;
    min-width: 700px;
}

a {
    text-decoration: none;
    color: rgb(76,109,143);
    cursor: pointer;
    cursor: hand;
}

#bannertop {
    height: 36px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(76,109,143);
}

#bannerbottom {
    background-color: rgb(229,229,220);
    border-bottom: 1px solid rgb(131,150,145);
    margin: 0px;
    padding: 3px 0px 3px 10px;
}

#section2 {
	float: right;
	width: 320px;
	margin: 10px 10px 30px 10px;
}

#section1 {
	margin: 10px 350px 30px 10px;
    vertical-align: top;
}

#footer {
	clear: both;
	background-color: rgb(76,109,143);
    color: rgb(255,255,255);
}
#footer a {
    text-decoration: underline;
    color: rgb(255,255,255);
}
#footer img {
    padding: 3px;
}
img {
    border: none;
}
h1 {
    color: rgb(76,109,143);
    font-size: 1.2em;
    padding: 3px;
}
img.navbutton {
    border: none;
    margin: 8px 3px 0px 0px;
    padding: 0px;
}
div.figurecaption {
    margin-top: 5px;
    font-size: 0.9em;
}
#officiallinks {
    float: left;
    margin-left: 10px;
}
#license {
    float: right;
    margin-right: 10px;
}
div.screenshot {
    margin-left: 15px;
    width: 320px;
    margin-bottom: 15px;
}
#screenshots div.screenshot {
    float: left;
}
