<!-- component documentation -->

<p>
    This component performs basic count-based checking of BSML files.
</p>
<h3>input</h3>
<p>
    Input to the component should be a list of BSML files.
</p>
<h3>implemented options</h3>
<p>
    There are no user configurable options.
</p>
<h3>bsml output</h3>
<div class='bsml_container'>

    Example BSML to be added later.

</div>
