[interface]
classification = unclassified

[parameters]
;; Write gene lists for shared / core / new categories 
;; for each genome and for each comparison set performed
$;WRITE_LISTS$; = 0
;; The following two parameters are options that can be used to sample the 
;; blast data. Use only 1 of them if you want sampling and leave them blank if
;; you want all the data to be analyzed.
$;MULTIPLICITY$; = 
$;COMPARISONS$; = 

[input]
;; Blast stored file created using pangenome_parse_blast
$;BLAST_STORED_FILE$; =

;; A file listing database names to include in the analysis. a 'database name'
;; just means the uniquename prefix (for apx1.assembly.1.0 the database name
;; would be apx1).Leave blank for all organisms to be included.
$;DB_FILTER_LIST$; = 

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;NEW_CORE_GENE_TABLE$; = $;OUTPUT_DIRECTORY$;/pangenome.table.txt
$;PANGENOME_PROFILE$; = $;OUTPUT_DIRECTORY$;/pangenome.profile.txt
$;PANGENOME_OUTPUT$; = $;OUTPUT_DIRECTORY$;/pangenome.output

[component]
$;COMPONENT_NAME$; = pangenome_do_analysis
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = current
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 4680 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


