[interface]
classification = SNP

[parameters]
;-e  Expectation value (E) default = 10.0
$;EXPECT$;=0.0001
;-F  Filter query sequence (DUST with blastn, SEG with others) default = T
$;FILTER$;=F
$;OTHER_OPTS$;=-m 0 

[input]
;;List of paths of formatted databases
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/formatdb_snp/$;PIPELINEID$;_default/formatdb_snp.list 
$;INPUT_FILE$;=
$;INPUT_DIRECTORY$;=
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$;=nhr
;;List containing path to query files
$;QUERY_LIST$;=$;REPOSITORY_ROOT$;/output_repository/extract_snp_regions/$;PIPELINEID$;_default/extract_snp_regions.fna.list

[output]
$;OUTPUT_TOKEN$;=default
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;RAW_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.raw.list
$;PARSED_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.parsed.list

[component]
$;COMPONENT_NAME$;=blast_snp_regions 
$;DESCRIPTION$;=none
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=$Name$
$;RELEASE_TAG$;=$Name$
$;REVISION$;=$Revision: 6529 $

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$;=i1
$;ITERATOR1_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$;=150
$;NODISTRIB$;=0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=


