[interface]
classification = file / conversion

[parameters]
;; Setting this value to 1 will ensure that the "Note" attribute
;; will be inserted for every record that has either a "description"
;; or "gene_product_name" attribute.  The "Note" attribute is
;; required by GBrowse.
$;GBROWSE$; = 
;; This value allows for valid dbxrefs to be used in the Name parameter
;; rather than the default ID used by BSML.
;; 
;; The parameter takes a comma-delimited list of k=v pairs with the feature 
;; class set as the key (i.e. mRNA, tRNA, gene, contig) and the value set as
;; the dbxref database from which our new name should be populated (i.e. Genbank,
;; NCBILocus, etc)
;;
;; e.x. mRNA=GeneID,tRNA=NCBILocus,tRNA=NCBI_gi
;; 
$;GBROWSE_DBXREF_MAP$; =

[input]
;; This parameter can be a single file (or a comma-separated list of such files) containing a new-line separated list of .bsml documents to be loaded
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = bsml
;;
;; The user can provide a default translation_table value that will be applied to all output GFF3 files
;; only if bsml2gff3.pl cannot derive the value from the BSML files.
;; By specifying 'none' here, the user expects that the translation_table values can be derived from the
;; BSML files and if not, the execution of bsml2gff3.pl script may be aborted prematurely.
$;TRANSLATION_TABLE$; = none


[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;GFF3_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.gff3.list


[component]
$;COMPONENT_NAME$; = bsml2gff3
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
