[interface]
classification = database / manipulation

[parameters]
$;DATABASE$; = $;PROJECT$;
$;SERVER$; =
;; database user with DDL privileges, such as create/drop tables
$;ADMIN_USER$; =
;; password for admin user above.  shouldn't contain single quotes
$;ADMIN_PASS$; =
;; At this time, if the server is SYBIL, you should not partition the tables.
;; In other words, set $;PARTITION$;=0.
$;PARTITION$; = 1
$;RDBMS$; = [postgresql|mysql|oracle|sybase]
;; The NAMESPACE value will be passed to the OBO loader's respect_namespace parameter 
;; i.e. obov1p2tochado.pl --respect_namespace.  The OBO loader's default behavior is 
;; to always apply the default-namespace that is provided at the head of the .obo files.
;; If the user wants the individual Term stanza namespace values to override the 
;; default-namespace value, NAMESPACE should be set to 1.
$;NAMESPACE$; = 0
$;BATCHSIZE$; = 30000

;;If an obo file has duplicated term names, this component will fail 
;; to load unless this flag is set to 1
$;ALLOW_DUPLICATES$; = 1
 	
[input]
$;OBO_FILES$;=$;DOCS_DIR$;/obo/relationship.obo,$;DOCS_DIR$;/obo/relationship.aux.obo,$;DOCS_DIR$;/obo/annotation_attributes.obo,$;DOCS_DIR$;/obo/annotation_flags.obo,$;DOCS_DIR$;/obo/TIGR_roles.obo,$;DOCS_DIR$;/obo/component.obo,$;DOCS_DIR$;/obo/ec.obo,$;DOCS_DIR$;/obo/evidence_code.obo,$;DOCS_DIR$;/obo/gff3_attributes.obo,$;DOCS_DIR$;/obo/go.obo,$;DOCS_DIR$;/obo/go_properties.obo,$;DOCS_DIR$;/obo/output.obo,$;DOCS_DIR$;/obo/so.obo,$;DOCS_DIR$;/obo/so.aux.obo,$;DOCS_DIR$;/obo/ard.obo

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$;=$;TMP_DIR$;

[component]
$;COMPONENT_NAME$; = initdb
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

$;ITERATOR1$; = sqlforce
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml
$;ITERATOR2$; = sql
$;ITERATOR2_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR2$;.xml
; Iterator for processing and loading all OBO files
$;ITERATOR3$; = obo
$;ITERATOR3_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR3$;.xml
$;ITERATOR4$; = partition
$;ITERATOR4_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR4$;.xml


;Distributed options
$;GROUP_COUNT$; = 1
; no-distrib = 0 ensures that all executes in series and never parallel
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
