[interface]
classification = functional prediction

[parameters]
;; directory or list file of hmm bsml files
$;HMM_ANALYSIS$; = 
;; directory or list file of ber bsml files
$;BER_ANALYSIS$; = 
;; MLDBM dump of hmm info 
$;HMM_INFO_DB$; = 
;; Split_DB_File basename of panda header offset
$;PANDA_HEADER_OFFSETS$; = 
;; text file that above indexes if not basename_header
$;PANDA_HEADER_FILE$; = 
;; role id information BDB
$;ROLE_INFO_DB$; = 
;; Cutoffs for ber analysis 
$;PERCENT_ID_CUTOFF$; = 35
$;LENGTH_CUTOFF$; = 80
$;COMPRESS_BSML_OUTPUT$; = 0

[input]
;; List of BSML gene predictions files.
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = bsml

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;BSML_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bsml.list


[component]
$;COMPONENT_NAME$; = auto_annotate
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed
$;DESCRIPTION$; = none

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


