[interface]
classification = LGT

[parameters]
;; Set to 1 if paired alignment, or 0 if not
$;PAIRED$; = 1
;;Mismatch Penalty.
$;MISMATCH_PENALTY$; = 3
;;Maximum Gap Opens.
$;MAX_GAP_OPENS$; = 1
;;Maximum number of gap extensions.
$;MAX_GAP_EXTNS$; = -1
;;Gap Open Penalty.
$;GAP_OPEN_PENALTY$; = 11
;;Gap Extension Penality.
$;GAP_EXTN_PENALTY$; = 4
;;Maximum Number of Threads. Multi-threading mode.
$;MAX_THREADS$; = 1
;; This is the maximum number of alignments for each read.
$;MAX_ALIGN$; = 1
;; Set to 1 to keep SAM files
$;KEEP_SAM$; = 1
;;This is the 'bwa index' algorithm option (choose between "is" or "bwtsw").
;; 'btwsw' is better for long genomes while 'is' is better for short genomes
$;INDEX_ALGO$; = is
;; Argments for the various bwa utilities (aln, sampe, samse)
$;BWA_ARGS$; =
;; Argments for 'samtools view' utility
$;SAM_VIEW_ARGS$; =
;; Arguments for the 'samtools sort' utility
$;SAM_SORT_ARGS$; =

[input]
$;INPUT_FILE_LIST$; =
$;INPUT_FILE$; =
$;INPUT_DIRECTORY$; =
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = sra

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;SAM_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.sam.list


[component]
$;COMPONENT_NAME$; = lgt_bwa
$;DESCRIPTION$; = Lateral Genome Transfer
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 5801 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; =
$;COMPONENT_XML$; =
$;PIPELINE_XML$; =
$;PIPELINEID$; =

[include]
$;PROJECT_CONFIG$;=
