[interface]
classification = database / manipulation

[parameters]
$;DATABASE$; = $;PROJECT$;
;; The database type should describe the relational database management system e.g. sybase or postgresql
$;DATABASE_TYPE$; = sybase
;; Server is the name of the server on which the database resides.
$;SERVER$; =
;; For the time being the user does not have the ability to specify whether the delete SQL files will be
;; compressed.
;-no_modify
$;GZIP_SQL$; = 0
;; For the time being the user does not have the ability to specify whether the input BCP files are compressed.
;; The software expects the input BCP files to NOT be in a compressed state.
;-no_modify
$;GZIP_BCP$; = 0

[input]
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = bcp.out

[output delete_by_bcp]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;BCP_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bcp.list

[component]
$;COMPONENT_NAME$; = delete_by_bcp
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 4680 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = parse
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml
$;ITERATOR2$; = dropindices
$;ITERATOR2_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.sqlforce.xml
$;ITERATOR3$; = deleterecords
$;ITERATOR3_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR3$;.xml
$;ITERATOR4$; = restoreindices
$;ITERATOR4_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.sqlforce.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
