[interface]
classification = rnaseq

[parameters]
$;TOPHAT_MIN_ANCHOR$; = 8
$;TOPHAT_SPLICE_MISMATCHES$; = 0
$;TOPHAT_MIN_INTRON$; = 50
$;TOPHAT_MAX_INTRON$; = 500000
$;TOPHAT_MAX_MULTIHITS$; = 40
$;TOPHAT_MIN_ISOFORM_FRACTION$; = 0.15
$;BOWTIE_INDEX_DIR$; =

[input]
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_DIRECTORY$; = 
$;INPUT_EXTENSION$; = fq

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;TOPHAT_WIG_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.wig.list
$;TOPHAT_BED_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bed.list
$;TOPHAT_SAM_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.sam.list
$;TOPHAT_SAM_OUTPUT_FILE$; = $;OUTPUT_DIRECTORY$;/accepted_hits.sam

[component]
$;COMPONENT_NAME$; = tophat
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version of Tophat
$;VERSION$; = 1.0.12b

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
