[interface]
classification = RNA-Seq

[parameters]
;; path to bowtie package binary directory
$;BOWTIE_BIN_DIR$; = $;BOWTIE_BIN$;
;; path to samtools package binary directory
$;SAMTOOLS_BIN_DIR$; = $;SAMTOOLS_BIN$;
;; path to Tophat package binary directory
$;TOPHAT_BIN_DIR$; = $;TOPHAT_BIN$;

;; the expected (mean) inner distance between mate pairs. Default:200.
$;MATE_INNER_DIST$; = 200
;; The standard deviation for the distribution on inner distances between mate pairs. Default:20.
$;MATE_STD_DEV$; = 20
;; Tophat anchor length. Must be atleast 3. Default:8.
$;MIN_ANCHOR$; = 8
;; The maximum number of mismatches that may appear in the "anchor" region of a spliced alignment. Default:0.
$;SPLICE_MISMATCHES$; = 0
;; The minimum intron length. Default:50.
$;MIN_INTRON_LENGTH$; = 50
;; The maximum intron length. Default:500000.
$;MAX_INTRON_LENGTH$; = 500000
;; The maximum insertion length. Default:3.
$;MAX_INSERTION_LENGTH$; = 3
;; The maximum deletion length. Default:3.
$;MAX_DELETION_LENGTH$; = 3
;; The number of threads to be used to align reads. Default:1.
$;NUMBER_THREADS$; = 1
;; Allow up to this many alignments to the reference for a given read. Default:20.
$;MAX_MULTIHITS$; = 20
;; TopHat will treat the reads as strand specific (Valid Options : fr-unstranded, fr-firststrand, fr-secondstrand)
$;LIBRARY_TYPE$; = 
;; Bowtie mode for initial read mapping. Default:v
$;BOWTIE_MODE$; = v
;; Number of mismatches in initial read alignment. Default:2.
$;READ_MISMATCHES$; = 2
;; Number of mismatches in each segment alignment. Default:2.
$;SEGMENT_MISMATCHES$; = 2
;; Each read is cut up into segments, each at least this long. Default:25.
$;SEGMENT_LENGTH$; = 25
;; Final read alignments having more than these many total length of gaps are discarded (For TopHat2). Default:2.
$;READ_GAP_LENGTH$; = 
;; Final read alignments having more than these many edit distance are discarded (For TopHat2). Default:2.
$;READ_EDIT_DIST$; = 
;; The minimum intron length that may be found during coverage search. Default:50.
$;MIN_COVERAGE_INTRON$; = 50
;; The maximum intron length that may be found during coverage search. Default:20000.
$;MAX_COVERAGE_INTRON$; = 20000
;; The minimum intron length that may be found during split-segment search. Default:50.
$;MIN_SEGMENT_INTRON$; = 50
;; The maximum intron length that may be found during split-segment search. Default:500000.
$;MAX_SEGMENT_INTRON$; = 500000

;; List of raw junctions
$;RAW_JUNCS_FILE$; = 
;; Annotation file in GTF or GFF3 format
$;ANNOTATION_FILE$; = 
;; path to transcriptome index prefix
$;TRANSCRIPTOME_INDEX_PREFIX$; = 
;; List of insertions file
$;REF_INSERTIONS_FILE$; = 
;; List of deletions file
$;REF_DELETIONS_FILE$; = 

;; additional tophat parameters
$;OTHER_PARAMETERS$; = 
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[input]
;; path to sequence file consisting of first mates
$;INPUT_FILE_1$; =
;; path to sequence file consisting of second mates (if paired-end sequencing)
$;INPUT_FILE_2$; =
;; path to list file consisting of tab separated first mate and second mate sequence files
$;INPUT_FILE_LIST$; = 
;; path to directory of multiple single mate sequence files
$;INPUT_DIRECTORY$; = 
;; file extension for single mate sequence files (to be used when iterating over an INPUT_DIRECTORY)
$;INPUT_EXTENSION$; = txt
;; path to bowtie index directory
$;BOWTIE_INDEX_DIR$; = 
;; bowtie index prefix
$;BOWTIE_INDEX_PREFIX$; = 

[output]
;; use a unique sample name
$;OUTPUT_TOKEN$; = default
;; output directory for component results
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; list of alignment BAM files
$;OUTPUT_ALIGNMENT_BAM_FILE$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bam.list
;; list of alignment SAM files
$;OUTPUT_ALIGNMENT_SAM_FILE$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.sam.list

[component]
$;COMPONENT_NAME$; = tophat
$;DESCRIPTION$; = generates tophat alignment for the input sequence file(s) against the given reference index file.
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;;tophat version
$;VERSION$; = TopHat version 1.4.0

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$; = 
