<!-- component documentation -->

<p>
    This component does pangenome analysis. More documentation to follow.
</p>
<h3>references</h3>
<p>
    To be completed.
</p>
<h3>input</h3>
<p>
    Input is a profile matrix listing whether each gene in the set is a hit for a given pangenome (noted by 1), or not a hit (noted by 0).  Rows are genome/gene/[hit to each subj genome]

</p>
<h3>bsml output</h3>
<div class='bsml_container'>
    no bsml output defined for this component
</div>
<h3>output</h3>
<p>
    To be completed.
</p>
