[interface]
classification = alignment/classification/quality filtering

[parameters]
# minimum similarity requirement between parents, default 90
$;MINSIM$;= 90
# minimum coverage requirement of closest matches found in template and query, default 70
$;MINCOV$;= 70
# bootstrap iterations
$;BOOTITERS$;= 100
# min bootstrap support for a chimera
$;MINBOOTSUPPORT$; = 90
# cutoff for chimera determination
$;DIVERGENCE$;= 1.007
# the split parameter is used to help detect tri-/quadmeras. If a seq comes back as non-chimeric
# mothur will test the two sides to see if they are chimeric T or F
$;SPLIT$;=T

[input]
$;INPUT_FILE_LIST$; =
$;INPUT_FILE$; =
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa 
;; Alignment database
$;TEMPLATE_FILE$; = 

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;CHIMERA_FILE_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.chimera.list
$;CHIMERA_REPORT_FILE_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.chimera.report.list

[component]
$;COMPONENT_NAME$; = mothur_chimera_slayer
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$; = $Revision: 5801$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 3000
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; =
$;COMPONENT_XML$; =
$;PIPELINE_XML$; =
$;PIPELINEID$; =

[include]
$;PROJECT_CONFIG$;=

