[interface]
classification = LGT

[parameters]
;Location of the ncbi taxonomy files (nodes.dmp and names.dmp
$;NCBITAX$; = /local/db/repository/ncbi/blast/20120414_001321/taxonomy/taxdump/
;Location of the gi_taxid_nucl.dmp file for nucleotides or gi_taxid_prot.dmp file for proteins
$;GI2TAX$; = /local/db/repository/ncbi/blast/20120414_001321/taxonomy/gi_taxid_nucl.dmp
;Host name of the mongo database
$;HOST$; = revan.igs.umaryland.edu:10001
;Name of the gi database in mongo
$;TAXONDB$; = gi2taxon
;;Name of the gi collection in mongo.
$;TAXONCOLL$; = gi2taxonnuc

[input]
;; List containing BAM file after BWA alignment
$;INPUT_FILE_LIST$; =
$;INPUT_FILE$; =
$;INPUT_DIRECTORY$; =
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = raw

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.lca.list

[component]
$;COMPONENT_NAME$; = sam2lca
$;DESCRIPTION$; = Find lowest common ancestor through a filtered BAM alignment file
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 5801 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; =
$;COMPONENT_XML$; =
$;PIPELINE_XML$; =
$;PIPELINEID$; =

[include]
$;PROJECT_CONFIG$;=
