[interface]
classification = feature prediction / genes

[parameters]
;;If $;ICM$; option does not exist, a new training file will be made from training seqs.
;;If no training seqs are included, glimmer will self train.
$;TRAINING_SEQ$;=
$;ICM$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.icm
;; if self-training (using long-orfs), include long-orfs parameters/options here (Optional)
$;LONG_ORFS_OPTS$;=-n -t 1.15
;; If using a coordinates masking file, set this to at least include:
;;    -i <masking_file>
$;GLIMMER3_OPTS$;=-o50 -g110 -t30 -z11 -l -X
$;START_CODON_USAGE$;=
;;Used in id generation
$;PROJECT_ABBREVIATION$; = $;PROJECT$;

[input]
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_default/split_multifasta.fsa.list
$;INPUT_FILE$;=
$;INPUT_DIRECTORY$;=
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$;=fsa


[output]
$;OUTPUT_TOKEN$;=iter1
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;BSML_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bsml.list
$;RAW_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.raw.list

[component]
$;COMPONENT_NAME$;=glimmer3
$;DESCRIPTION$;=none
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=2.0
$;RELEASE_TAG$;=$Name: ergatis-v2r4b2 $
$;REVISION$;=$Revision: 1.5 $

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$;=i1
$;ITERATOR1_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$;=150
$;NODISTRIB$;=0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=


