[interface]
classification = alignment / pairwise

[parameters]
$;MATRIX$; = BLOSUM62
;-e  Expectation value (E) default = 10.0
$;EXPECT$; = 1e-5
;-F  Filter query sequence (DUST with blastn, SEG with others) default = T
$;FILTER$; = T
;-b  Number of database sequence to show alignments for (B) default=250
$;DATABASE_MATCHES$; = 150
;-v Number of database sequences to show one-line descriptions for default=500
$;DESCRIPTIONS$; = 150
$;OTHER_OPTS$; = 
$;COMPRESS_RAW_OUTPUT$; = 0

[input]
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_create_blastx_pre_input/bsml2fasta.fsa.list
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa
$;DATABASE_PATH$; = $;DB_UNIPROT_100$;

[output]
$;OUTPUT_TOKEN$; = pre_overlap_analysis
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;BSML_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bsml.list
$;BTAB_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.btab.list
$;RAW_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.raw.list

[component]
$;COMPONENT_NAME$; = ncbi-blastx 
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 4680 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


