[split_multifasta default]
$;INPUT_FILE$; = 

[tRNAscan-SE find_tRNA]
$;ID_ROOT$; = $;ABBREVIATION$;

[RNAmmer default]
$;PROJECT_ABBREVIATION$;=$;ABBREVIATION$;

[glimmer3 iter1]
$;PROJECT_ABBREVIATION$; = $;ABBREVIATION$;
$;GLIMMER3_OPTS$; = -o50 -g110 -t30 -z$;TRANS_TABLE$; -l -X 

[glimmer3 iter2]
$;PROJECT_ABBREVIATION$; = $;ABBREVIATION$;
$;GLIMMER3_OPTS$; = -o50 -g110 -t30 -z$;TRANS_TABLE$; -l -X -b $;REPOSITORY_ROOT$;/output_repository/train_for_glimmer3_iteration/$;PIPELINEID$;_train_for_glimmer/all.motif

[pipeline_summary default]
$;LOCUS_PREFIX$; = $;ABBREVIATION$;
$;ORGANISM$; = $;GENOME$;
$;TRANSLATION_TABLE$; = $;TRANS_TABLE$;

[translate_sequence translate_prediction]
$;TABLE$; = $;TRANS_TABLE$;
$;PROJECT_NAME$; = $;ABBREVIATION$;

[translate_sequence translate]
$;TABLE$; = $;TRANS_TABLE$;
$;PROJECT_NAME$; = $;ABBREVIATION$;

[translate_sequence translate_new_models]
$;TABLE$; = $;TRANS_TABLE$;
$;PROJECT_NAME$; = $;ABBREVIATION$;

[translate_sequence final_polypeptides]
$;TABLE$; = $;TRANS_TABLE$;
$;PROJECT_NAME$; = $;ABBREVIATION$;

[lipop default]
$;PROJECT_ABBR$; = $;ABBREVIATION$;

[p_func default]
$;OUTPUT_FILE_BASE_NAME$; = $;ABBREVIATION$;

[initdb default]
$;DATABASE$; = $;DB$;
$;SERVER$; = $;HOST$;
$;ADMIN_USER$; = $;USER$;
$;ADMIN_PASS$; = $;PASS$;

[bsml2chado pipeline_summary]
$;USERNAME$; = $;USER$;
$;PASSWORD$; = $;PASS$;
$;SERVER$; = $;HOST$;
$;DATABASE$; = $;DB$;

[bsml2chado signalp]
$;USERNAME$; = $;USER$;
$;PASSWORD$; = $;PASS$;
$;SERVER$; = $;HOST$;
$;DATABASE$; = $;DB$;

[bsml2chado lipop]
$;USERNAME$; = $;USER$;
$;PASSWORD$; = $;PASS$;
$;SERVER$; = $;HOST$;
$;DATABASE$; = $;DB$;

[bsml2chado ps_scan]
$;USERNAME$; = $;USER$;
$;PASSWORD$; = $;PASS$;
$;SERVER$; = $;HOST$;
$;DATABASE$; = $;DB$;

[bsml2chado hmm_pre]
$;USERNAME$; = $;USER$;
$;PASSWORD$; = $;PASS$;
$;SERVER$; = $;HOST$;
$;DATABASE$; = $;DB$;

[bsml2chado hmm_post]
$;USERNAME$; = $;USER$;
$;PASSWORD$; = $;PASS$;
$;SERVER$; = $;HOST$;
$;DATABASE$; = $;DB$;

[bsml2chado ber_pre]
$;USERNAME$; = $;USER$;
$;PASSWORD$; = $;PASS$;
$;SERVER$; = $;HOST$;
$;DATABASE$; = $;DB$;

[bsml2chado ber_post]
$;USERNAME$; = $;USER$;
$;PASSWORD$; = $;PASS$;
$;SERVER$; = $;HOST$;
$;DATABASE$; = $;DB$;

[bsml2chado tmhmm]
$;USERNAME$; = $;USER$;
$;PASSWORD$; = $;PASS$;
$;SERVER$; = $;HOST$;
$;DATABASE$; = $;DB$;

[scp_files copy_ber_pre]
$;OUTDIR$; = $;COPY_PRE_OUTPUT_DIR$;

[scp_files copy_ber_post]
$;OUTDIR$; = $;COPY_POST_OUTPUT_DIR$;

[pathway_tools_input default]
$;DATABASE$; = $;DB$;
$;ORGANISM_NAME$; = $;GENOME$;
$;DB_HOST$; = $;HOST$;
$;USERNAME$; = $;USER$;
$;PASSWORD$; = $;PASS$;
$;TAXON_ID$; = $;TAXID$;

[global]
$;GENOME$; = 
$;ABBREVIATION$; = 
$;TRANS_TABLE$; = 11
$;DB$; = 
$;HOST$; = 
$;USER$; = 
$;PASS$; = 
$;TAXID$; = 
$;COPY_POST_OUTPUT_DIR$; =
$;COPY_PRE_OUTPUT_DIR$; =