[interface]
classification = file / indexing

[parameters]
;; Minimum sequence length to filter sequences (default 10)
$;MIN_LENGTH$; = 10
;; Maxiumum percentage of stop codons to filter by (default 20)
$;MAX_PERCENT_STOP$; = 20

[input]
;; Mapping file that maps fasta basename to a unique prefix to use in the output FASTA header
;; If not provided, each organism's proteome file prefix will be "ID" + an incremented number
$;MAPPING_FILE$; = 
;; Either a list of protein FASTAs to iterate over or a single FASTA
;; Each file needs an entry in the MAPPING_FILE parameter
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.list

[component]
$;COMPONENT_NAME$; = orthomcl_prep_taxa_for_blast
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


