[interface]
classification = RNA-Seq

[parameters]
;; Whether the data is from a strand-specific assay (firststrand or secondstrand)
$;STRANDED$; = 
;; path to ucsc utilities directory
$;UCSC_UTIL_DIR$; = $;UCSC_UTIL$;
;; path to bedtools package binary directory
$;BEDTOOLS_BIN_DIR$; = $;BEDTOOLS_BIN$;
;; path to samtools package binary directory
$;SAMTOOLS_BIN_DIR$; = $;SAMTOOLS_BIN$;
;; use --w to include WIG format files in the output and --v for verbose execution
$;OTHER_ARGS$; = --v

[input]
;; path to alignment file
$;INPUT_FILE$; = 
;; path to list of alignment files
$;INPUT_FILE_LIST$; = 
;; path to directory of multiple alignment files
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = bam
;; path to reference FastA file
$;REFERENCE_FASTA$; = 

[output]
;; use a unique sample name
$;OUTPUT_TOKEN$; = visualization
;; output directory for component results
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; list of alignment BedGraph files
$;OUTPUT_BEDGRAPH$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bedgraph.list
;; list of alignment BigWig files
$;OUTPUT_BIGWIG$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bigwig.list
;; list of alignment WIG files
$;OUTPUT_WIG$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.wig.list

[component]
$;COMPONENT_NAME$; = bam2bigwig
$;DESCRIPTION$; = converts alignment BAM files to BedGraph and BigWig formats for visualization
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;;ucsc utilities version
$;UCSC_UTILS_VERSION$; = ucsc utilities update 06.14.2011

;;bedtools version
$;BEDTOOLS_VERSION$; = bedtools version 2.15.0

;;samtools version
$;SAMTOOLS_VERSION$; = samtools version 0.1.18

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$; = 
