[interface]
classification = RNA-Seq

[parameters]
;; path to bowtie package binary directory
$;BOWTIE_BIN_DIR$; = $;BOWTIE_BUILD_BIN$;
;; bowtie index prefix
$;BOWTIE_INDEX_PREFIX$; = ref
;; additional bowtie-build parameters
$;OTHER_PARAMETERS$; = 
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[input]
;; path to reference FastA file
$;INPUT_FILE$; = 
;; path to list of reference FastA files
$;INPUT_FILE_LIST$; = 
;; path to directory of multiple reference FastA files
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fa

[output]
;; use a unique sample name
$;OUTPUT_TOKEN$; = reference
;; output directory
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; output index for single reference file input
$;INDEX_FILE$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/$;ITERATOR1$;/g1/$;BOWTIE_INDEX_PREFIX$;

[component]
$;COMPONENT_NAME$; = bowtie_build
$;DESCRIPTION$; = generates bowtie index files for the given reference fasta file
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;;bowtie-build version
$;VERSION$; = bowtie-build version 0.12.7

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$; = 
