[interface]
classification = RNA-Seq

[parameters]
;; path to bedtools package binary directory
$;BEDTOOLS_BIN_DIR$; = $;BEDTOOLS_BIN$;
;; path to samtools package binary directory
$;SAMTOOLS_BIN_DIR$; = $;SAMTOOLS_BIN$;

;; other arguments that can be passed to percent_mapped_stats
$;OTHER_PARAMETERS$; = 

[input]
;; path to reference file 
$;REFERENCE_FASTA$; =
;; path to sorted by name bam file
$;INPUT_FILE$; =
;; path to annotation file 
$;ANNOTATION_FILE$; =
;; The annotation file format (GFF3/GTF)
$;ANNO_FORMAT$; =
;; Feature type from column 3 of annotation file 
$;FEATURE_TYPE$; =
;; Attribute id from column 9 of the annotation file to be used as region id
$;ATTRIBUTE_ID$; =
;; Group_by id from column 9 of the annotation file 
$;GROUPBY_ID$; =
;; Organism type (prok/euk)
$;ORG_TYPE$; =
;; path to list file 
$;INPUT_FILE_LIST$; = 
;; path to directory of multiple files
$;INPUT_DIRECTORY$; = 
;; file extension for single mate sequence files (to be used when iterating over an INPUT_DIRECTORY)
$;INPUT_EXTENSION$; = 
;; path to bowtie index directory

[output]
;; use a unique sample name
$;OUTPUT_TOKEN$; = percent_mapped

;; output directory for component results
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; list of stats txt files
$;OUTPUT_ALIGNMENT_TXT_FILE$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.txt.list


[component]
$;COMPONENT_NAME$; = percent_mapped_stats
$;DESCRIPTION$; = Calculates percentage of reads mapping to exonic/intronic/intergenic region for euk and genic/intergenic for prok.
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 6089 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$; = 
