
[bowtie_build]
;; path to bowtie package binary directory
$;BOWTIE_BIN_DIR$; = $;BOWTIE_BUILD_BIN$;
;; bowtie index prefix
$;BOWTIE_INDEX_PREFIX$; = 
;; additional bowtie-build parameters
$;OTHER_PARAMETERS$; = 
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[fastx_quality_stats]
;; path to fastx toolkit binary directory
$;FASTX_BIN_DIR$; = $;FASTX_BIN$;
;; use --z if input file is gzipped and --v for verbose summary
$;OTHER_ARGS$; = --v

[fastx_trimming]
;; path to fastx toolkit binary directory
$;FASTX_BIN_DIR$; = $;FASTX_BIN$;
;; first_base in trimming
$;FIRST_BASE$; = 
;; last_base in trimming
$;LAST_BASE$; = 
;; use --qs if 'trim length' to be derived from quality stats. use --z if input file is gzipped and --v for verbose summary
$;OTHER_ARGS$; = --v

[bowtie]
;; path to bowtie package binary directory
$;BOWTIE_BIN_DIR$; = $;BOWTIE_BIN$;
;; path to samtools package binary directory
$;SAMTOOLS_BIN_DIR$; = $;SAMTOOLS_BIN$;
;; bowtie alignment mode ('v' or 'n'). Default:v.
$;MODE$; = v
;; allowed number of mismatches limited to 3 for 'n' alignment mode. Default:2.
$;NUM_MISMATCHES$; = 
;; input file type ('fastq' or 'fasta'). Default:fastq
$;FILE_TYPE$; = fastq
;; seed length. Minimum:5. Default:28
$;SEED_LENGTH$; = 
;; minimum insert size for valid paired-end alignments. Default:0.
$;MIN_INSERT$; = 
;; maximum insert size for valid paired-end alignments. Default:250.
$;MAX_INSERT$; = 
;; The upstream/downstream mate orientations for a valid paired-end alignment ('fr', 'rf' or 'ff'). Default:fr.
$;LIBRARY_TYPE$; = 
;; maximum valid alignments per read or pair. Default:1.
$;NUM_HITS$; = 
;; Suppress all alignments for a particular read or pair if more than defined threshold of reportable alignments exist for it. Default:off
$;MAX_MULTIHITS$; = 
;; Report one hit for a particular read or pair if more than defined threshold of reportable alignments exist for it. Default:off.
$;REPORT_MULTIHITS$; = 
;; filename to write all reads that could not be aligned.
$;UNMAPPED_READS$; = 
;; number of parallel search threads . Default:1.
$;NUM_THREADS$; = 
;; '--sam' for SAM alignment output and other additional bowtie parameters.
$;OTHER_PARAMETERS$; = --sam
;; use --gzip if input files are gzipped and --v for verbose summary
$;OTHER_ARGS$; = --v

[percent_mapped_stats]
;; Feature type from column 3 of annotation file. Required if used --alignment 
$;FEATURE_TYPE$; =
;; Attribute id from column 9 of the annotation file to be used as region id. Required if used --alignment
$;ATTRIBUTE_ID$; =
;; Group_by id from column 9 of the annotation file 
$;GROUPBY_ID$; =
;; path to bedtools package binary directory
$;BEDTOOLS_BIN_DIR$; = $;BEDTOOLS_BIN$;
;; path to samtools package binary directory
$;SAMTOOLS_BIN_DIR$; = $;SAMTOOLS_BIN$;
;; other arguments that can be passed to percent_mapped_stats
$;OTHER_PARAMETERS$; = 

[rpkm_coverage_stats]
;; feature type from column 3 of GTF or GFF3 file. Required if used --rpkm_analysis
$;FEATURE_ID$; = 
;; attribute id from column 9 of GTF or GFF3 file to be used as region ID. Required if used --rpkm_analysis
$;ATTRIBUTE_ID$; = 
;; group_by id from column 9 of GTF or GFF3 file to be used to group regions by (use NONE for proks)
$;GROUPBY_ID$; = NONE
;; path to bedtools package binary directory
$;BEDTOOLS_BIN_DIR$; = $;BEDTOOLS_BIN$;
;; path to samtools package binary directory
$;SAMTOOLS_BIN_DIR$; = $;SAMTOOLS_BIN$;
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[bam2bigwig]
;; Whether the data is from a strand-specific assay (firststrand or secondstrand)
$;STRANDED$; = 
;; path to ucsc utilities directory
$;UCSC_UTIL_DIR$; =  $;UCSC_UTIL$;
;; path to bedtools package binary directory
$;BEDTOOLS_BIN_DIR$; = $;BEDTOOLS_BIN$;
;; path to samtools package binary directory
$;SAMTOOLS_BIN_DIR$; = $;SAMTOOLS_BIN$;
;; use --w to include WIG format files in the output and --v for verbose execution
$;OTHER_ARGS$; = --v

[htseq]
;; path to Python binary directory
$;PYTHON_BIN_DIR$; = 
;; path to Python library directory
$;PYTHON_LIB_DIR$; = 
;; Mode to handle reads overlapping more than one feature. [Values: union, intersection-strict or intersection-nonempty]
$;MODE$; = union
;; Feature type (3rd column in GFF file) to be used
$;TYPE$; = exon
;; Skip all reads with alignment quality lower than the given minimum value
$;MIN_QUAL$; = 
;; Whether the data is from a strand-specific assay
$;STRANDED$; = no
;; GFF attribute ID to be used as feature ID
$;ATTRIBUTE_ID$; = gene_id
;; additonal htseq parameters
$;OTHER_PARAMS$; = 
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[deseq]
;; path to annotation file in tab-delimited format
;; First column of annotation file must be same as ID used for read counting.
$;ANNOTATION_FILE$; = 
;; path to R statistical package binary directory
$;R_BIN_DIR$; = 
;; additonal R parameters
$;R_PARAMS$; = --slave --vanilla
;; path to R Script for DESeq Analysis. Optional [deseq.R]
$;R_SCRIPT$; = 
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[edgeR]
;; First column of annotation file must be same as ID used for read counting.
$;ANNOTATION_FILE$; = 
;; path to R statistical package binary directory 
$;R_BIN_DIR$; = 
;; additonal R parameters
$;R_PARAMS$; = 
;; path to R Script for edgeR Analysis. Optional [edgeR.v1.1.R]
$;R_SCRIPT$; = 
;; use --v for verbose summary
$;OTHER_ARGS$; = --v


[filter_deseq]
;; Filters FDR=0.5,RC=10:FDR=0.3,RC=5:FDR=0.05,RC=15,P=0.05,UFC=1,DFC=-1
$;FILTERS_VAL$; =  FDR=0.05,RC=10,UFC=1,DFC=-1:FDR=0.01,RC=10,UFC=1,DFC=-1:FDR=0.1,RC=10,UFC=1,DFC=-1:P=0.05,RC=10,UFC=1,DFC=-1:P=0.01,RC=10,UFC=1,DFC=-1
;; Project name
$;PROJECT_NAME$; = test


[filter_edgeR]
;; Filters FDR=0.5,RC=10:FDR=0.3,RC=5:FDR=0.05,RC=15,P=0.05,UFC=1,DFC=-1
$;FILTERS_VAL$; = FDR=0.05,RC=10,UFC=1,DFC=-1:FDR=0.01,RC=10,UFC=1,DFC=-1:FDR=0.1,RC=10,UFC=1,DFC=-1:P=0.05,RC=10,UFC=1,DFC=-1:P=0.01,RC=10,UFC=1,DFC=-1
;; Project name
$;PROJECT_NAME$; = test


[expression_plots]
;; log fold change cutoff for cuffdiff/deseq
$;LFC$; = 
;; false discovery rate cutoff/deseq
$;FDR$; = 
;; gene column number for rpkm analysis
$;GENE_COL$; = 
;; rpkm column number for rpkm analysis
$;RPKM_COL$; = 

