[interface]
classification = RNA-Seq

[parameters]
;; path to bedtools package binary directory
$;BEDTOOLS_BIN_DIR$; = $;BEDTOOLS_BIN$;
;; path to samtools package binary directory
$;SAMTOOLS_BIN_DIR$; = $;SAMTOOLS_BIN$;
;; feature type from column 3 of GTF or GFF3 file
$;FEATURE_ID$; = 
;; attribute id from column 9 of GTF or GFF3 file to be used as region ID
$;ATTRIBUTE_ID$; = 
;; group_by id from column 9 of GTF or GFF3 file to be used to group regions by
$;GROUPBY_ID$; = NONE
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[input]
;; path to alignment BAM file
$;INPUT_FILE$; = 
;; path to list of alignment BAM files
$;INPUT_FILE_LIST$; = 
;; path to directory of multiple BAM alignment files
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = bam
;; path to reference FastA file
$;REFERENCE_FASTA$; = 
;; path to annotation file (BED or GTF or GFF3 format file)
$;ANNOTATION_FILE$; = 
;; annotation file format (bed/gtf/gff3)
$;ANNOTATION_FILE_TYPE$; = 
;; region to determine coverage for (genomic:genic:exonic) separated by ':' or ',' or ';'
$;REGION_TYPE$; = 

[output]
;; use a unique sample name
$;OUTPUT_TOKEN$; = rpkm_cvg
;; output directory for component results
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; list of RPKM statistics files for each input alignment BAM file
$;OUTPUT_RPKM_STATS$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.rpkm.stats.list

[component]
$;COMPONENT_NAME$; = rpkm_coverage_stats
$;DESCRIPTION$; = generates RPKM coverage stats for the given BAM alignment file
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;;samtools version
$;VERSION$; = samtools version 0.1.18

;;bedtools version
$;BEDTOOLS_VERSION$; = bedtools version 2.15.0

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$; = 
