[interface]
classification = phylogeny

[input]
;; Path to a file containing aligned sequence data in the format accepted by dnadist, e.g.
;; 
;;    3   6
;; seq1      AACGTG
;; seq2      AGGGTC
;; seq3      CAGCCC
;;
;; The first number (3) is the number of sequences, the second (6) is the aligned sequence
;; length.  The id of each sequence must fit into 10 characters.  See the dnadist documentation
;; for more details..
;;
$;INPUT_FILE$; = 

[parameters]
;; Control file to pass to dnadist.  Note that the control file (which is simply a way to
;; specify noninteractive responses to the dnadist program's interactive menu) must not
;; include either: 1. an initial line setting the input file name, or 2. a "Y" on the final
;; line (used to tell dnadist to accept the inputs and start running.)  These initial and
;; final portions of the control file will be generated automatically by the component, and
;; a control file will be generated automatically if none is provided.
;;
$;CONTROL_FILE$;=

;; Number of pairwise comparisons to be performed by each distributed dnadist worker process.
;; 
$;GROUP_SIZE$; = 1000000

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;RESULTS_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.results.list

[component]
$;COMPONENT_NAME$; = phylip_dnadist
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = current
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 4680 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


