[interface]
classification=SNP

[parameters]
;; Path to the reference fasta sequence file
$;REF_SEQUENCE$;=
;; recommended filter value is 0.7 (GRC uses 0.9)
$;FILTER$;=
;; recommened minimum coverage is 10 (GRC uses 10)
$;MIN_COVERAGE$;=
;; recommended minimum base quality is 17 (GRC uses 5)
$;MIN_BASE_QUALITY$;=

[input]
$;INPUT_FILE_LIST$;=
$;INPUT_FILE$;=
$;INPUT_DIRECTORY$;=
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$;=bam

[output]
$;OUTPUT_TOKEN$;=default
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;VCF_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.vcf.list

[component]
$;COMPONENT_NAME$;=solsnp
$;DESCRIPTION$;=none
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=$Name$
$;RELEASE_TAG$;=$Name$
$;REVISION$;=$Revision: 6081 $

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$;=i1
$;ITERATOR1_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$;=150
$;NODISTRIB$;=0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=
