[interface]
classification = utility

[parameters]
;; Name of the NCBI FTP server (do not include the ftp:// part)
$;FTP_PATH$;=ftp-trace.ncbi.nih.gov
;; NCBI SRA compatible 9-character ID (multiple IDs separated by commas)
;; --Study IDs begin with SRP
;; --Experiment IDs begin wtih SRX
;; --Run IDs begin with SRR
;; --Sample IDs begin with SRS
$;RUN_ID$;=
;; (Optional)
$;USERNAME$;=
;; (Optional)
$;PASSWORD$;=
;; (Optional) Number of retries to download a file with 'wget'.  Default is 20
$;NUM_RETRIES$;=

[input]
$;INPUT_FILE_LIST$; =
$;INPUT_FILE$; =
$;INPUT_DIRECTORY$; =
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_LIST$; = 

[component]
$;COMPONENT_NAME$; = download_sra
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; =
$;COMPONENT_XML$; =
$;PIPELINE_XML$; =
$;PIPELINEID$; =

[include]
$;PROJECT_CONFIG$;=


