[download_sra default]
$;RUN_ID$;=$;SRA_RUN_ID$;

[sra2fastq default]
$;DATA_DIRECTORY$;=$;DATA_DIR$;

[global]
;; The run ID to be downloaded from the Sequence Read Archive (SRA) 
$;SRA_RUN_ID$;=
;; A directory to store important output files.  Files will be symlinked back to the original output directory
$;DATA_DIR$; = 
