[interface]
classification = phylogenetic

[parameters]
;; This runs a large script from the QIIME package
;; Outputs several different analysis files

$;QIIME_PATH$;=/opt/opt-packages/bioinf-v1r4b1/qiime

[input]
$;INPUT_FILE$;=
$;CUSTOM_PARAMETERS_FILE$;=
$;MAPPING_FILE$;=
$;META_FILE$;=

[output]
$;OUTPUT_TOKEN$;=default
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OTU_TABLE_LIST$;=$;OUTPUT_DIRECTORY$;/results/OTU_Table.list
$;FASTTREE_FILE_LIST$;=$;OUTPUT_DIRECTORY$;/results/Fasttree.list
$;RESULTS_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/results/Taxa.results.list
$;TABLE_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/results/Taxa.tables.list
$;PAIRED_TABLE_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/results/Taxa.pairedtables.list


[component]
$;COMPONENT_NAME$;=core_qiime
$;DESCRIPTION$;=none
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=current
$;RELEASE_TAG$;=$Name$
$;REVISION$;=$Revision: 4680 $

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;Distributed options
$;GROUP_COUNT$;=1
$;NODISTRIB$;=0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=


