[interface]
classification = RNA-Seq

[parameters]
;; path to sample info file with information on all samples to be analyzed
$;SAMPLE_INFO$; =
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[input]
;; path to list file of input file 1s
$;LIST_FILE_1$; = 
;; path to list file of input file 2s
$;LIST_FILE_2$; = 

[output]
;; use a unique sample name
$;OUTPUT_TOKEN$; = default
;; output directory for component results
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; list of paired input files for paired input file component
$;OUTPUT_PAIRED_LIST_FILE$; = $;OUTPUT_DIRECTORY$;/paired_input_file.list

[component]
$;COMPONENT_NAME$; = create_paired_list_file
$;DESCRIPTION$; =  Generates a paired list file from two associated list files
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;;script version
$;VERSION$; = create_paired_list_file version 1.0.0

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$; = 
