[parameters]
;;Filter options for dds: -p = min_pct_cutoff
;;                        -C = min_coverage_cutoff
;; Note: These are used to speed up the subsequent searches, not filter on the final results
$;DDS_OPTS$; = -f 100 -i 30 -o 75 -p 70 -a 2000
;; database to use for dds step
$;DATABASE_PATH$; = 
;; database to use for gap2 step
$;GAP2_DATABASE_PATH$; = $;DATABASE_PATH$;
$;EXT_OPTS$; = 
$;FILTER_OPTS$; = -c 10
$;GAP2_OPTS$; = 
$;COMPRESS_BSML_OUTPUT$; = 1
$;COMPRESS_BTAB_OUTPUT$; = 1
$;COMPRESS_GAP2_OUTPUT$; = 1

[input]
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;BSML_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bsml.list
$;BTAB_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.btab.list
$;GAP2_OUTPUT_LIST$;  = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.gap2.list

[component]
$;COMPONENT_NAME$; = aat_na 
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


