[global]
$;REFERENCE_GENBANK_FILE$;=
$;QUERY_FSA_LIST$;=

[genbank2fasta reference]
$;INPUT_FILE$;=$;REFERENCE_GENBANK_FILE$;

[nucmer default]
$;INPUT_FILE_LIST$;=$;QUERY_FSA_LIST$;

[snp-add-gene-info default]
$;REFERENCE_GENBANK$;=$;REFERENCE_GENBANK_FILE$;
$;QUERY_FASTA_LIST$;=$;QUERY_FSA_LIST$;