[interface]
classification = utility

[parameters]
;; Path of the GeneTorrent tools 
$;GENETORRENT_BIN$;=/home/ksieber/bin/
;; Path to your personal CGHub key
$;CGHUB_KEY$;=/local/projects-t3/HLGT/TCGA/key_dir/cghub.key
;; TCGA Ids should look like this "00007994-abeb-4b16-a6ad-7230300a29e9"
;; Alphanumeric <8#>-<4#>-<4#>-<4#>-<12#>
$;TCGA_ID$;=
;; (Optional) Number of retries to download a file with 'wget'.  Default is 20
$;NUM_RETRIES$;=
;; (Options). Transfer rate limiter in Mb/s. Default is 200
$;RATE_LIMIT$;=200

[input]
$;INPUT_FILE_LIST$; =
$;INPUT_FILE$; =
$;INPUT_DIRECTORY$; =
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_LIST$; = 

[component]
$;COMPONENT_NAME$; = download_sra
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; =
$;COMPONENT_XML$; =
$;PIPELINE_XML$; =
$;PIPELINEID$; =

[include]
$;PROJECT_CONFIG$;=


