[interface]
classification = file / indexing

[parameters]
;; Maximal number of ambiguities to count
$;MAX_AMBIGUITIES$; = 0
;; Word size to use
$;WORD_SIZE$; = 18
;; The amount of memory required (in MB).  The documentation states:
;;  Programs run from this script (bmfilter, srprism) require about 8.5Gb
;;  memory and three times as much harddisk space for index data.
$;MEMORY_REQUIRED$;=8704

[input]
;; A single multi-FASTA input file
$;INPUT_FILE$; = 

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; Using this base name, files will be created called $label.bitmask and $label.srprism
$;OUTPUT_LABEL$; = reference

[component]
$;COMPONENT_NAME$; = bmtagger_index
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$; = $Revision: 6918 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


