<!-- component documentation -->

<p>
    This component generates a set of indexes on a reference file for use
    with thed bmtagger component.
</p>
<h3>references</h3>
<p>
    <a href='ftp://ftp.ncbi.nlm.nih.gov/pub/agarwala/bmtagger/README.bmtagger.txt'>ftp://ftp.ncbi.nlm.nih.gov/pub/agarwala/bmtagger/README.bmtagger.txt</a>
</p>
<h3>input</h3>
<p>
    This program accepts a single FASTA file as input.
</p>
