[interface]
classification = RNA-Seq

[parameters]
;; path to annotation file in tab-delimited format
;; First column of annotation file must be same as ID used for read counting.
$;ANNOTATION_FILE$; = 
;; path to R statistical package binary directory [/usr/local/packages/R-2.14.1/bin]
$;R_BIN_DIR$; = $;R_BIN$;
;; additonal R parameters[--vanilla]
$;R_PARAMS$; = 
;; path to R Script for edgeR Analysis. Optional [edgeR.R]
$;R_SCRIPT$; = $;R_SCRIPT_PATH$;
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[input]
;; path to tab-delimited sample information file
;; format : #Sample_Name    Group_Name
$;INPUT_FILE$; = 
;; path to list of tab-delimited sample information files
$;INPUT_FILE_LIST$; = 
;; path to directory of multiple tab-delimited sample information files
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = info
;; path to list file of HTSeq alignment count files
$;LIST_FILE$; = 

[output]
;; use a unique sample name
$;OUTPUT_TOKEN$; = default
;; output directory for component results
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; list of TIFF images for each comparison instance
$;OUTPUT_PDF_IMAGES$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.pdf.list
;; list of table files for each comparison instance
$;OUTPUT_TABLES$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.table.list

[component]
$;COMPONENT_NAME$; = edgeR
$;DESCRIPTION$; = generates edgeR analysis for given sample info and counts filelist
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;;edgeR version
$;VERSION$; = edgeR version 1.1

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$; = 
