<p>
    This document describes the paths and directories used by Ergatis.  This includes component
    output, workflow XML, paths to scripts, interface files and more.
</p>
<h3>within project areas</h3>
<p>
    Each time you build and run a pipeline with Ergatis it creates a few files and directories,
    including workflow XML to keep track of task status as well as the output from each component.
    The details of the composition of these files are not described here. This is meant
    to serve as a guide to the layout of the system.
</p>
<dl>
    <dt>output_repository</dt>
    <dd>
        Although each component's output is configurable, all will write here by default.  The
        directory structure under this directory is carefully organized to be highly scalable
        and easily navigable, allowing to user to easily find the output type desired.
    </dd>
    <dt>workflow</dt>
    <dd>
        Each project defined in the ergatis.ini file contains this directory.  It serves as the
        container for all the project-specific files used by Ergatis.
    </dd>
    <dt>workflow/lock_files</dt>
    <dd>
        This is an area that can be used by multiple processes for locking.  As a primary use, the
        interface puts a .lock file here when a pipeline is started.  This helps prevent 
        double-execution of the same pipeline.  Other uses of the directory are at each component
        developer's discretion, but lock files should be cleaned up after they are no longer needed.
    </dd>
    <dt>workflow/pending_load</dt>
    <dd>
        The output lists from component runs representing data needing to be loaded into the
        database should be copied here.  Once they are processed, they can simply be deleted since
        the original output lists still exist within the output_directory of each component run.
    </dd>
    <dt>workflow/project.config</dt>
    <dd>
        A standard INI file, any parameters specific to a project go here.  These includes variables
        such as project name, software area, temp directory area and ID repository.
    </dd>
    <dt>workflow/project_id_repository</dt>
    <dd>
        Ergatis uses a file-based system for creating IDs for features generated by computational
        runs.  The perl module Ergatis::IdGenerator provides this functionality and requires a
        directory in which to store available IDs.  This directory serves as the location where
        the next available IDs for each feature type are kept.  It is specific to each project so
        that both aa1.gene.1.1 and bca1.gene.1.1 are valid identifiers (both aa1 and bca1 projects
        can have a gene number 1.1)
    </dd>
    <dt>workflow/project_saved_templates</dt>
    <dd>
        Here we store pipeline templates built by the user that are specific to a given project.
        The interface will display these templates first, then those in the global_saved_templates
        directory, then those within other registered project directories.
    </dd>
    <dt>workflow/runtime</dt>
    <dd>
        All of the XML, INI and log files created by the Workflow engine as it processes a
        pipeline are stored here.  This provides a history of every single command and pipeline 
        executed within a project
    </dd>
</dl>
<h3>within apache</h3>
<p>
    Beginning with ergatis-v2r7b2 and above Ergatis no longer has a fixed installation path.  The
    CGI scripts are contained within the html/htdocs area, so you can place it anywhere within
    your apache installation.  For the paths below, I'll assume an installation base of
    /var/www/html for apache, which is common in many linux distributions.
</p>
<dl>
    <dt>/var/www/html/ergatis</dt>
    <dd>
        The root of the interface, this contains the images, javascript and CSS supporting Ergatis.
    </dd>
    <dt>/var/www/html/ergatis/cgi</dt>
    <dd>
        This contains the CGI scripts and HTML templates supporting the Ergatis interface.
    </dd>
    <dt>/var/www/html/ergatis/cgi/ergatis.ini</dt>
    <dd>
        Parameters go here that involve customizations of the interface as well as 'global'
        Workflow Engine settings.  A list of registered projects goes here, along with pointers
        to the global_id_repository and global_saved_templates directories.
    </dd>
</dl>
<h3>other</h3>
<dl>
    <dt>global_saved_templates</dt>
    <dd>
        Pipeline templates can be stored here that are globally available to all projects.  The
        path to this is set in the ergatis.ini file under the cgi-bin.
    </dd>
    <dt>global_id_repository</dt>
    <dd>
        Ergatis uses a file-based system for creating IDs for features generated by computational 
        runs. The perl module Ergatis::IdGenerator provides this functionality and requires a 
        directory in which to store available IDs.  The IDs stored here are those that must be
        globally unique, such as pipeline IDs.
    </dd>
</dl>
