[interface]
classification = feature prediction / genes

[parameters]
;; --local for local alignment
;; Include a cutoff for cmsearch (defaults to --tc: trusted cutoff)
$;OTHER_OPTS$;= --tc
;;Input sequence list used for hmmpfam run (fasta file list)
$;SEQUENCE_LIST$; =
;;Annotation BSML list - Used to add the genome tag to the output bsml. 
;;If this is left blank the genome tag will not be added to the bsml.
;;Leaving it blank is appropriate if used with the prokaryotic
;;annotation pipeline where the output will be collated with pipeline_summary.
;; However if this output is to be loaded directly into an existing database then
;;this parameter must be set.
$;ANNOT_BSML_LIST$; = 

;;HMM->CM lookup file, or directory to CMs (see documentation for specifics).
$;HMM_CM_TABLE$; = $;RFAM_HMM_CM_MAPPING$;
;;Location of the stockholm alignment files used to generate the
;; HMMs. These files need to be individually named by their Rfam ID.
$;STOCKHOLM_PATH$; = $;RFAM_STOCKHOLM_DIR$;
;;Default sequence type to use if a suitable SO type is not found
$;DEFAULT_TYPE$; = 

[input]
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;BSML_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bsml.list
$;RAW_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.raw.list
$;COMPRESS_BSML_OUTPUT$; = 0

[component]
$;COMPONENT_NAME$; = infernal
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


