[interface]
classification = database modification

[parameters]
;; Username account to access and update the legacy annotation database
$;USERNAME$; = access
;; Password for the corresponding username account to access and update the legacy annotation database
$;PASSWORD$; = access
;; Server on which all of the database cited in the control file reside
$;SERVER$; = SYBTIGR
;; Relational database management system type (for sql2DB.pl)
$;RDBMS$; = sybase

[input]
;; updateupdate_euk_model_sequences control file:
$;UPDATE_EUK_MODEL_SEQUENCES_CONTROL_FILE$; = 

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;FASTA_DIRECTORY$;  = $;OUTPUT_DIRECTORY$;/fasta
$;UPDATE_SQL_FILE_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.sql.list

[component]
$;COMPONENT_NAME$; = update_euk_model_sequences
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 4942 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml
$;ITERATOR2$; = update_sequences
$;ITERATOR2_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.sql.xml
$;ITERATOR3$; = update_proteins
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.sql.xml

;Distributed options
$;GROUP_COUNT$; = 50
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
