[interface]
classification = file / indexing

[parameters]
;; Bitscore threshold - only keep "exclude" BLAST hits above this threshold. Default 100
$;BITSCORE_THRESH$;=100
;; H-score threshold - only keep hits where H-score is above this threshold. Default 30
$;HSCORE_THRESH$;=30

[input]
;; Blast result where the database is only the taxa in question
$;ONLY_FILE$;= $;REPOSITORY_ROOT$;/output_repository/concatenate_files/$;PIPELINEID$;_only/blastn.out
;; Blast result where the database excludes the taxa in question
$;EXCLUDE_FILE$;= $;REPOSITORY_ROOT$;/output_repository/concatenate_files/$;PIPELINEID$;_exclude/blastn.out

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.list

[component]
$;COMPONENT_NAME$; = filter_lgt_class_c_genes
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


