[parameters legacy2bsml]
$;USERNAME$; = access
$;PASSWORD$; = access
$;SERVER$; = SYBTIGR
;; Mode:
;; 1 = produce only gene models 
;; 2 = produce gene models and extract legacy computational analyses 
;; 3 = only extract legacy computational analyses
$;MODE$; = 2
;; email:
;; Valid EMAIL values are comma-separated list of TIGR UNIX email accounts with or without the @tigr.org suffix 
;; and even other external fully qualified accounts e.g. youraddress@someplace.com
$;EMAIL$; =
$;NO_DIE_NULL_SEQUENCES$; = 1
$;BSML_DTD$; = $DOCS_DIR$;/bsml3_1.dtd

[input]
;; legacy2bsml control file:
;; Should contain a listing of organisms and corresponding asmbl_ids, organism_types, sequence_types.  
;; Please see bugzilla case 2557 for a complete description.
$;LEGACY2BSML_CONTROL_FILE$; = 

[output legacy2bsml]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;FASTA_DIRECTORY$;  = $;OUTPUT_DIRECTORY$;/fasta
$;BSML_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bsml.list
$;FASTA_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.fsa.list


[component]
$;COMPONENT_NAME$; = legacy2bsml
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
