[parameters legacy2bsml]
$;USERNAME$; = access
$;PASSWORD$; = access
;; Mode:
;; 1 = produce only gene models 
;; 2 = produce gene models and extract legacy computational analyses 
;; 3 = only extract legacy computational analyses
$;MODE$; = 2
;; The IdGenerator identifier version value to be appended to the sequence and feature identifiers
$;IDGEN_IDENTIFIER_VERSION$; = 0
;; email:
;; Valid EMAIL values are comma-separated list of TIGR UNIX email accounts with or without the @tigr.org suffix 
;; and even other external fully qualified accounts e.g. youraddress@someplace.com
$;EMAIL$; =
$;NO_DIE_NULL_SEQUENCES$; = 1
$;BSML_DTD$; = $;DOCS_DIR$;/bsml3_1.dtd
;;
;; ID mapping input directories is a comma-separated list of directories which may contain ID mapping files
;; that have file extension .idmap.  These files's contents will be loaded into the ID mapping lookup.
;; The ID mapping scheme is how we ensure consistent naming of features/sequences coming out of the legacy
;; annotation databases and being written to BSML.
;; Note that each and every instance of legacy2bsml.pl launched by this workflow will scan the directories
;; and each will load the ID mappings into their own hash lookups.
$;INPUT_ID_MAPPING_DIRECTORIES$;
;;
;; ID mapping input file is a comma-separated list of files with .idmap file extensions.  The files'
;; contents will be loaded into the ID mapping lookup.
;; Note that each and every instance of legacy2bsml.pl launched by this workflow will read in all of the
;; ID mapping files specified here and each will load the ID mappings into their own hash lookups.
$;INPUT_ID_MAPPING_FILES$;


[input]
;; legacy2bsml control file:
;; Should contain a listing of organisms and corresponding asmbl_ids, organism_types, sequence_types.  
;; Please see bugzilla case 2557 for a complete description.
$;LEGACY2BSML_CONTROL_FILE$; = 

[output legacy2bsml]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;FASTA_DIRECTORY$;  = $;OUTPUT_DIRECTORY$;/fasta
$;BSML_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bsml.list
$;FASTA_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.fsa.list


[component]
$;COMPONENT_NAME$; = legacy2bsml
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
