[interface]
classification = alignment

[parameters]
;;Mismatch Penalty.
$;MISMATCH_PENALTY$; = 3
;;Maximum Gap Opens.
$;MAX_GAP_OPENS$; = 1
;;Maximum number of gap extensions.
$;MAX_GAP_EXTNS$; = -1
;;Gap Open Penalty.
$;GAP_OPEN_PENALTY$; = 11
;;Gap Extension Penality.
$;GAP_EXTN_PENALTY$; = 4
;;Maximum Number of Threads. Multi-threading mode.
$;MAX_THREADS$; = 1 
;; This is the maximum number of alignments for each read.
$;MAX_ALIGN$; = 1
;; Set to 1 to remove sai (alignment) files after searches are complete
$;CLEANUP$;=1
;; Set to 1 to have the output bam sorted and indexed
$;INDEX_BAM$;=1

;; Optional: Input list of query fasta sequences. Used to create
;; output mapping file in the format of:
;;   query_sequence.fasta	output_bwa.bam
$;QUERY_INPUT_LIST$;=

[input]

;; Input list should be a list with 2 columns. The first column should be reference file 
;; in fasta format and the second column should be query sequences, expected in fastq 
;; format. Will index the fasta and align to fastq files create a bam file. The second 
;; column can be either a path to a fastq file or a list of 2 fastq files (in the case 
;; of paired end reads).
$;INPUT_PAIRED_LIST$; = 

;; Input 1 is reference (fasta)
;; Input 2 is query (fastq)
;; Can provide a list of references and a list of queries. 
;; A query file can be a path to a fastq file or a list to 2 fastq files (for paired end)
$;INPUT_FILE_LIST_1$; =
$;INPUT_FILE_LIST_2$; =
$;INPUT_FILE_1$; = 
$;INPUT_FILE_2$; = 

;; Only to be used with INPUT_FILE_LIST_1 and 2.
;; Path to a file which contains 2 columns of file names (no path or extension) of pairs. 
;; Will attempt to look for file names in column 1 in INPUT_FILE_LIST_1 and column 2 in 
;; INPUT_FILE_LIST_2 and pair accordingly. If a file is specified here, ALL_VS_ALL 
;; parameter will be set to 0.
$;INPUT_MAPPING_FILE$;=

;; If multiple references and multiple queries were entered, setting this to one will
;; compute all combinations of reference and query. Setting it to zero will pair up
;; the first ref with first query. Must have same number of input files if 0.
$;ALL_VS_ALL$; = 1

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;BAM_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bam.list
$;OUTPUT_QUERY_BAM_MAP$;=$;OUTPUT_DIRECTORY$;/query_bam.map

[component]
$;COMPONENT_NAME$; = bwa
$;DESCRIPTION$; = BWA aligner
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 5801 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
