<!-- component documentation -->

<p>
    This is a component used to convert BSML to NCBI tbl format.
</p>
<h3>references</h3>
<p>
    <a href='http://www.ncbi.nlm.nih.gov/Sequin/table.html#Table%20Layout'>tbl format</a>
</p>
