[interface]
classification = rnaseq

[parameters]
;;optional file containing the transcript id and associated functional annotation
$;ANNOTATION_FILE$;=

;;a tab-delimeted file with columns like replicate id, phenotype group, prefix used to map the read count files to the appropriate phenotype and replicate.
$;SAMPLE_MATCHING_FILE$;=

[input]
;;the file containing paths to read count files
$;INPUT_FILE$; = 

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;ALL_COUNTS_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/all_counts_file_list.txt
$;COUNT_STAT_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/count_stat_file_list.txt
$;TIFF_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/tiff_file_list.txt

[component]
$;COMPONENT_NAME$; = deseq
$;DESCRIPTION$; = Runs the DESeq R package to calculate differential expression for RNA-seq count data
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

$;VERSION$; = 1.0.12b

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
