[interface]
classification = utility

[parameters]
$;MAXIMUM_LENGTH$; =
$;MINIMUM_LENGTH$; = 
$;FLIP$; = 
$;MAXIMUM_HOMOPOLYMER_LENGTH$; = 
$;MAXIMUM_AMBIGUOUS_BASES$; =
$;Q_AVERAGE$; = 
$;CONFIG_OPTIONS$; = 


[input]
$;INPUT_FILE_LIST$; =
$;INPUT_FILE$; =
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa
;; The oligo file contains the sequences of the forward and reverse primers and barcodes and their sample identifier.
$;OLIGOS_FILE$; =
;; 454-generate quality file
$;QUALITY_FILE$; = 

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;TRIM_FASTA_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.trim.fasta.list
$;GROUPS_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.groups.list
$;SCRAPS_FASTA_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.scraps.fasta.list

[component]
$;COMPONENT_NAME$; = mothur_trim_seqs
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$; = $Revision: 5801$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; =
$;COMPONENT_XML$; =
$;PIPELINE_XML$; =
$;PIPELINEID$; =

[include]
$;PROJECT_CONFIG$;=
