<!-- component documentation -->
<p>
hmmls is part of the old hmmer 1.8.5 package. The reason for it's inclusion 
here is that hmmer 1.8.5 had support and was tested for DNA sequences where
as hmmer 2 (and also perhaps hmmer 3) are designed primarily for proteins.
</p>