[interface]
classification = alignment / model

[parameters]
;; use -c for complement searching and any other parameters for hmmls
$;OTHER_OPTS$; = -c
$;COMPRESS_BSML_OUTPUT$; = 0
$;THRESHOLD_CUTOFF$; = 0
$;SEARCH_WINDOW$; = 1000

;; Uniquename of model (to be used in BSML)
$;MODEL_NAME$; = 
;; The following are the molecule types for the model and query.
$;MODEL_MOL_TYPE$; = aa
$;MODEL_MOL_CLASS$; = polypeptide
$;QUERY_MOL_TYPE$; = aa
$;QUERY_MOL_CLASS$; = polypeptide

;; hmmls will truncate long fasta headers. Leave this at 0 if you would like those headers replaced.
$;LEAVE_FASTA_HEADERS$; = 0

[input]
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa
$;DATABASE_PATH$; = $;HMM_ALL$;
;; this is a tied has (MLDBM file) containined parsed information for the database defined
;;  just above.  it should be created with the hmmlib_to_mldbm.pl script.  optional.
$;HMM_INFO_FILE$; = $;DATABASE_PATH$;.db

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;RAW_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.raw.list
$;HTAB_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.htab.list
$;BSML_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bsml.list

[component]
$;COMPONENT_NAME$; = hmmls 
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 5519 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


