[interface]
classification = sequence / assembly

[parameters]
;; AMOScmp Command-line arguments
$;CONFIG_OPTIONS$; =
;; Reference genome to aid in assembly
$;REFERENCE_GENOME$; = 
;; A tab-delimited mapping of input fasta/qual to reference genome
;; e.x. /home/foo/seqa.fasta\t/home/references/refgenome.fasta
$;REFERENCE_GENOME_MAP$; = 

[input]
;; Sequence files and qual files should carry the same filename 
;; in order for them to be paired together correctly for assembly.
;; i.e. seqa.fasta and seqa.qual 
;;
;; A list of sequences files to be assembled. One sequence per line.
$;SEQUENCE_FILE_LIST$; =
;; A list of qual files for use in assembly. One qual file per line.
$;QUALITY_FILE_LIST$; =

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;CONTIG_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.contig.list
$;FASTA_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.fasta.list

[component]
$;COMPONENT_NAME$; = amoscmp
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$; = $Revision: 5801$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; =
$;COMPONENT_XML$; =
$;PIPELINE_XML$; =
$;PIPELINEID$; =

[include]
$;PROJECT_CONFIG$;=
