[interface]
classification = rnaseq

[parameters]
$;CUFFLINKS_INNER_DIST_MEAN$; = 45
$;CUFFLINKS_INNER_DIST_STD_DEV$; = 20
$;CUFFLINKS_COLLAPSE_ROUNDS$; = 1
$;CUFFLINKS_MIN_ISOFORM_FRACTION$; = 0.05
$;CUFFLINKS_PRE_MRNA_FRACTION$; = 0.05
$;CUFFLINKS_MAX_INTRON_LENGTH$; = 300000
$;CUFFLINKS_MIN_MAP_QUAL$; = 0
$;CUFFLINKS_LABEL$; = CUFF

[input]
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_FILE$; =

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;CUFFLINKS_GTF_OUTPUT_LIST$; =$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.gtf.list
$;CUFFLINKS_EXPR_OUTPUT_LIST$; =$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.expr.list

[component]
$;COMPONENT_NAME$; = cufflinks
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version of Cufflinks
$;VERSION$; = 0.7.0

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
