[interface]
classification = assembly

[parameters]
;; soapdenovo package binary
$;SOAPDENOVO_BIN$; = $;SOAPDENOVO_EXEC$;
;; assembly process to run ('all','pregraph','contig','map' or 'scaff'). Default:all.
$;PROCESS$; = all
;; K-mer size. Default:23.
$;KMER_SIZE$; = 23
;; output file prefix
$;OUTPUT_PREFIX$; = output
;; other arguments 
$;OTHER_ARGS$; = -R -M 3 -d 1


[input]
;; path to config file
$;INPUT_FILE$; =
;; path to config list file
$;INPUT_FILE_LIST$; = 
;; path to directory of multiple single mate sequence files
$;INPUT_DIRECTORY$; = 
;;the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = config 

[output]
;; use a unique sample name
$;OUTPUT_TOKEN$; = default
$;OUTPUT_EXTENSION$; =
;; output directory for component results
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; list of output files
$;OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.out.list
;; compressed input files
$;COMPRESS_OUTPUT$; = 0

[component]
$;COMPONENT_NAME$; = soapdenovo
$;DESCRIPTION$; = novel short-read assembly method that builds denovo draft assembly for large genomes.
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;;soapdenovo 
$;VERSION$; = SOAPdenovo version 1.04
$;SOAPDENOVO_EXEC$; = /usr/local/packages/SOAPdenovo-V1.04/SOAPdenovo
$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$; = 
