[interface]
classification=utility

[parameters]
;; The base parameter is required and should be either 'nuc' for nucleotide bases or 'prot' for polypeptide bases
$;BASE$;=
;; The cutoff parameter is required and is the ratio of unknown bases (N's in nucleotides or X's in polypeptides) to the whole sequence length that determines if this sequence should be thrown out as bogus
$;CUTOFF$;=0.5

[input]
$;INPUT_FILE_LIST$;=
$;INPUT_FILE$;=
$;INPUT_DIRECTORY$;=
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$;=fsa

[output]
$;OUTPUT_TOKEN$;=default
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;FSA_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.fsa.list

[component]
$;COMPONENT_NAME$;=filter_bogus_genes
$;DESCRIPTION$;=none
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=$Name$
$;RELEASE_TAG$;=$Name$
$;REVISION$;=$Revision: 6081 $

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$;=i1
$;ITERATOR1_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$;=150
$;NODISTRIB$;=0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=
