[interface]
classification = SNP

[parameters]
;; Optional. Number of bases on *each side* of the SNP positions in the reference genome
$;FLANKING_BASES$; = 20

[input]
;; Mandatory. Path to list file consisting of paths to reference genome GenBank files
$;REF_GBK_LIST$; = 
;; Mandatory. Path to list of files of predicted SNP positions (SNP panel) in the reference genome(s)
$;SNP_PANEL_LIST$; = 
;; Mandatory. Path to list file consisting of paths to raw BLAST results
$;RAW_BLAST_LIST$; = 
;; Mandatory. Path to list file consisting of paths to query genome FASTA files
$;QUERY_LIST$; = 

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.verified.list

[component]
$;COMPONENT_NAME$; = snp_verify 
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 6529 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


