<!-- component documentation -->

<p>
    This component generates the organism prefix information; used for pangenome,JOC and mugsy pipelines;
</p>
<h3>input</h3>
<p>
    Input to the component should be a file that lists out the path of genbank files.
</p>
<h3>implemented options</h3>
<p>
    There are no user configurable options.
</p>
<h3>create_map_file output</h3>
<div>
	organism name suffix suffix
</div>
