[interface]
classification = RNA-Seq

[parameters]
;; Label Ids for each sample to be analyzed
$;LABEL$; = 
;; Use # threads to compare isoforms. [1]
$;NUM_THREADS$; = 
;; The minimum number of alignments in a locus for needed to conduct significance testing on changes in that locus observed between samples. [10]
$;MIN_ALIGNMENT_COUNT$; = 
;; FDR threshold. [0.05]
$;FDR$; = 
;; Cuffdiff will treat the reads as strand specific (Valid Options : fr-unstranded, fr-firststrand, fr-secondstrand)
$;LIBRARY_TYPE$; = 
;; sets the number of iterations allowed during maximum likelihood estimation of abundances. [5000]
$;MAX_MLE_ITERATIONS$; = 
;; filters out transcripts with very low abundance. [.00001]
$;MIN_ISOFORM_FRACTION$; = 
;; Sets the maximum number of fragments a locus may have before being skipped. [1000000]
$;MAX_BUNDLE_FRAGS$; = 
;; path to Cufflinks package binary directory
$;CUFFLINKS_BIN_DIR$; = $;CUFFDIFF_BIN$;
;; additonal Cufflinks parameters
$;OTHER_PARAMS$; = -q
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[input]
;; path to listfile of aligmment SAM file(s) for each condition
;; format : Sample#1_Replicate#1,Sample#1_Replicate#2,Sample#1_Replicate#3
;;          Sample#2_Replicate#1,Sample#2_Replicate#2,Sample#2_Replicate#3
$;INPUT_FILE_1$; =
;; path to annotation file in GTF format (from Cuffcompare or reference model)
$;INPUT_FILE_2$; =
;; path to list of tab-delimited lists of aligmment SAM file(s) and respective annotation GTF files
$;INPUT_FILE_LIST$; = 
;; path to directory of multiple tab-delimited lists of aligmment SAM file(s) and respective annotation GTF files
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = list

[output]
;; use a unique sample name
$;OUTPUT_TOKEN$; = default
;; output directory for component results
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; list of differentially expressed CDS files for each comparison instance
$;OUTPUT_CDS_DIFF$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.cds.diff.list
;; list of differentially expressed gene files for each comparison instance
$;OUTPUT_GENE_DIFF$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.gene.diff.list
;; list of differentially expressed isoforms files for each comparison instance
$;OUTPUT_ISOFORM_DIFF$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.isoform.diff.list
;; list of differentially expressed promoters files for each comparison instance
$;OUTPUT_PROMOTERS_DIFF$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.promoters.diff.list
;; list of differentially expressed splicing files for each comparison instance
$;OUTPUT_SPLICING_DIFF$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.splicing.diff.list
;; list of differentially expressed TSS files for each comparison instance
$;OUTPUT_TSS_DIFF$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.tss.diff.list

[component]
$;COMPONENT_NAME$; = cuffdiff
$;DESCRIPTION$; = generates cuffdiff analysis for the given annotation GTF file and sam filelist
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;;Cufflinks version
$;VERSION$; = Cufflinks version 1.3.0

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$; = 
