[interface]
classification = clustering

[parameters]
;; Distance format (phylip or column)
$;DIST_FORMAT$;= [ phylip|column ]
;; Clustering method
$;METHOD$; = [ furthest|nearest|average ]
$;CUTOFF$; = 
;; Any other configuration parameters to be passed to mothur
$;CONFIG_OPTIONS$; =

[input]
$;INPUT_FILE_LIST$; =
$;INPUT_FILE$; =
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa
;; Name file from unique.seqs execution
$;NAME_FILE$; = 

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;SABUND_FILE_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.sabund.list
$;RABUND_FILE_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.rabund.list
$;LIST_FILE_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.list.list

[component]
$;COMPONENT_NAME$; = mothur_cluster
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$; = $Revision: 5801$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; =
$;COMPONENT_XML$; =
$;PIPELINE_XML$; =
$;PIPELINEID$; =

[include]
$;PROJECT_CONFIG$;=
