[interface]
classification = alignment

[parameters]
;; Method to search through the template sequence.
$;SEARCH_ALGORITHM$; = [ kmer|blast|suffix ]
;; Size of kmers (only used when searching with kmer method)
$;KSIZE$; = 8
;; Alignment method
$;ALIGN_ALGORITHM$; = [ needleman|gotoh|blastn ]
;; Reward and penalty values used during pairwise alignment
$;MATCH_VALUE$; = 1
$;MISMATCH_VALUE$; = -1
$;GAPOPEN_VALUE$; = -2
$;GAPEXTEND_VALUE$; = -1

[input]
$;INPUT_FILE_LIST$; =
$;INPUT_FILE$; =
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa 
;; Alignment database
$;TEMPLATE_FILE$; = 

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;ALIGNMENT_FILE_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.align.list
$;ALIGNMENT_REPORT_FILE_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.align.report.list

[component]
$;COMPONENT_NAME$; = mothur_align_seqs
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$; = $Revision: 5801$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; =
$;COMPONENT_XML$; =
$;PIPELINE_XML$; =
$;PIPELINEID$; =

[include]
$;PROJECT_CONFIG$;=

