<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2">
    <title>ergatis - archive/delete a pipeline</title>
    <!-- bring in the styles -->
    <link rel="stylesheet" type="text/css" href="/ergatis/css/common.css">
</head>

<body>

<div id='bannertop'>
    <img src='/ergatis/banner_main.png' alt='banner' title='banner' />
</div>
<div id='bannerbottom'>
    <div class='buttons'>
        <a href=''><img class='navbutton' src='/ergatis/button_blue_pipeline_list.png' alt='pipeline list' title='pipeline_list'></a>
        <a href='http://htc.tigr.org/antware/cgi-bin/sgestatus.cgi'><img class='navbutton' src='/ergatis/button_blue_grid_info.png' alt='grid info' title='grid info'></a>
    </div>
</div>

<div id='page_content'>

    <h2><TMPL_VAR NAME=MESSAGE_HEADER></h2>
    <p>
        <TMPL_VAR NAME=MESSAGE>
    </p>

</div>

</body>

</html>
