<div id='comment_container'>
    <form name='comment_form'>
        <label for='pipeline_comment'>
            pipeline comment: 
            <span class='comment_control' id='comment_add'>click to add</span>
            <span class='comment_control' id='comment_save'>save</span>
            <span class='comment_control' id='comment_cancel'>cancel</span>
        </label>
        <textarea name='pipeline_comment' id='pipeline_comment' cols='10' rows='5'></textarea>
        <input type='hidden' name='pipeline_comment_file' value='<TMPL_VAR NAME=PIPELINE_COMMENT_FILE>'>
        <div id='pipeline_comment_shadow'><TMPL_VAR NAME=PIPELINE_COMMENT></div>
    </form>
</div>
