<html>

<head>
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2">
    <title>ergatis pipeline creation interface prototype</title>
    <!-- bring in the styles -->
    <link rel="stylesheet" type="text/css" href="/ergatis/css/common.css">
    <link rel="stylesheet" type="text/css" href="/ergatis/css/creator.css">
    <link rel="stylesheet" type="text/css" href="/ergatis/css/nav_tree.css">
    <!-- bring in the functionality -->
    <script type="text/javascript" src="/ergatis/javascript/common.js"></script>
    <script type="text/javascript" src="/ergatis/javascript/positioning.js"></script>
    <script type="text/javascript" src="/ergatis/javascript/ie_fixes.js"></script>
    <script type="text/javascript" src="/ergatis/javascript/ie_methods.js"></script>
    <script type="text/javascript" src="/ergatis/javascript/draggable.js"></script>
    <script type="text/javascript" src="/ergatis/javascript/creator.js"></script>
    <script type="text/javascript">
        var repository_root = '<TMPL_VAR NAME=REPOSITORY_ROOT>';
    </script>
</head>

<body>

<div id='blocker'></div>
<div id='bannertop'>
    <img src='/ergatis/banner_main.png' alt='banner' title='banner' />
</div>
<div id='bannerbottom'>
    <div class='buttons'>
        <a href=''><img class='navbutton' src='/ergatis/button_blue_pipeline_list.png' alt='pipeline list' title='pipeline_list'></a>
        <a href='http://htc.tigr.org/antware/cgi-bin/sgestatus.cgi' target='_blank'><img class='navbutton' src='/ergatis/button_blue_grid_info.png' alt='grid info' title='grid info'></a>
    </div>
</div>

<div id='controls'>
    <h3>available components</h3>
    <div id='component_selector'>
        <ul id="nav_tree">
<TMPL_VAR NAME=COMPONENT_CHOOSER_HTML>
        </ul>
    </div>
    <h3>input definitions</h3>
    <ul id='input_list'>
        <li><span class='input_type'>[dir ]</span>/tmp/fasta_in</li>
        <li><span class='input_type'>[list]</span>output of split multifasta::default</li>
        <li><span class='input_type'>[list]</span>output of aat aa::AllGroup.niaa</li>
        <li><span class='input_type'>[list]</span>output of aat na::default</li>
        <li><span class='input_type'>[list]</span>output of augustus:default</li>
        <li><span class='input_type'>[list]</span>output of glimmerHMM:default</li>
        <li><span class='input_type'>[list]</span>output of tRNAscan-SE:default</li>
        <li><span class='input_type'>[list]</span>output of bsml2fasta:default</li>
        <li><span class='input_type'>[list]</span>output of wu-blastp:AllGroup.niaa</li>
        <li><span class='input_type'>[list]</span>output of hmmpfam:default</li>
        <li><span class='input_type'>[list]</span>output of signalp:default</li>
    </ul>
</div>

<div id='build_area'>
    <div id='current_config_container'></div>
    <h3>pipeline build area</h3>
</div>

<!-- this holds the values for the pipeline -->
<div id='pipeline_build_data'>
    <!-- all values will be added here as they are built -->
    <form name='pipeline' method='post' action='./build_pipeline.cgi'>
        <input type='text' name='repository_root' value='<TMPL_VAR NAME=REPOSITORY_ROOT>'>
    </form>
</div>

</body>

</html>
