<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>ergatis</title>
    <!-- bring in the styles -->
    <link rel="stylesheet" type="text/css" href="/ergatis/css/common.css">
    <link rel="stylesheet" type="text/css" href="/ergatis/css/header.css">
</head>

<body class='documentation'>

<div id='page_container'>

<TMPL_INCLUDE NAME="header.tmpl">

    <div id='content_container'>
        <h2>documentation</h2>
        <p>
            I'm just throwing some notes here to get an idea of the sort of documents I want to be
            available.  The only one that is currently available is the component documentation.  Later
            versions of this page will probably not look much like this.
        </p>
        <dl>
            <dt><a>overview</a></dt>
            <dd>
                Not yet available. 
            </dd>
            <dt><a href='http://jorvis-lx:8080/egc.components.html'>component documentation</a></dt>
            <dd>
                Here you'll find the documentation for each of the workflow components available within
                ergatis, along with the progess notes of those under development.  This currently links
                to an external file which should soon be reformatted and incorporated within the ergatis
                CVS area.
            </dd>
            <dt><a>component creation tutorial</a></dt>
            <dd>
                Not yet available.  This should be a technical tutorial demonstrating how to create a
                workflow component for ergatis.
            </dd>
            <dt><a>directory structure convention</a></dt>
            <dd>
                Not yet available.  This should be a technical tutorial demonstrating how to create a
                workflow component for ergatis.
            </dd>
            <dt><a>pipeline creation tutorial</a></dt>
            <dd>
                Not yet available.  This should be a technical tutorial demonstrating how to create a
                pipeline with ergatis.
            </dd>
        </dl>
        
    </div> <!-- end content_container -->

</div> <!-- end page_container -->

</body>

</html>
