<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2">
    <link rel='stylesheet' type='text/css' href='/ergatis/css/common.css'>
    <link rel='stylesheet' type='text/css' href='/ergatis/css/header.css'>
    <link rel='stylesheet' type='text/css' href='/ergatis/css/monitor.css'>
    <link rel='stylesheet' type='text/css' href='/ergatis/css/pipeline_list.css'>
    <title>ergatis | pipeline list</title>
</head>

<body class='pipelines'>

<div id='page_container'>

<TMPL_INCLUDE NAME="header.tmpl">

    <div id='info_container'>
        <ul id='info_elements'>
            <li><span class='info_label'>repository root:</span> <TMPL_VAR NAME=REPOSITORY_ROOT></li>
            <TMPL_IF NAME=DISPLAY_CODEBASE>
            <li><span class='info_label'>codebase:</span> <TMPL_VAR NAME=ERGATIS_DIR></li>
            </TMPL_IF>
            <li><span class='info_label'>project quota:</span> <TMPL_VAR NAME=QUOTA_STRING></li>
        </ul>
    </div>

    <div id='content_container'>

        <TMPL_IF NAME=ERRORS_FOUND>
        <div class='error_container'>
            <h3>ERROR:</h3>
        <TMPL_LOOP NAME=ERROR_MSGS>
            <TMPL_VAR NAME=MSG><br>
        </TMPL_LOOP>
        </div>
        <TMPL_ELSE>

        <div id='pipeline_list'>
            
            <TMPL_IF NAME=COMPONENT_VIEW>
                <TMPL_INCLUDE NAME="pipeline_list_component_view.tmpl">   
            <TMPL_ELSE>
                <TMPL_INCLUDE NAME="pipeline_list_pipeline_view.tmpl">  
            </TMPL_IF> <!-- if COMPONENT_VIEW -->   
            
        </div> <!-- end pipelinelist -->

        </TMPL_IF> <!-- if ERRORS_FOUND -->
    </div>
</div>

</body>

</html>









