<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2">
    <title><TMPL_VAR NAME=PAGE_TITLE></title>
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="/ergatis/css/common.css">
    <link rel="stylesheet" type="text/css" href="/ergatis/css/header.css">
    <link rel="stylesheet" type="text/css" href="/ergatis/css/monitor.css">
    <!-- functionality -->
    <script type='text/javascript' src='/ergatis/javascript/common.js'></script>
    <script type="text/javascript" src="/ergatis/javascript/view_pipeline.js"></script>

</head>

<body class='pipelines'>

<div id='page_container'>

<TMPL_INCLUDE NAME="header.tmpl">

    <div id='info_container'>
<TMPL_INCLUDE NAME="pipeline_summary.tmpl">
    </div>

    <div id='content_container'>

        <div class='timer' id='pipeline_timer_label'></div>

        <div class='pipeline_marker'>start</div>
        
<TMPL_VAR NAME=COMPONENT_HTML>
    
        <div class='pipeline_marker'>end</div>

    </div> <!-- end content_container -->

</div> <!-- end page_container -->

</body>

</html>
