[interface]
classification = RNA-Seq

[parameters]
;;source of Genbank file:(e.g. NCBI, EMBL etc.) [Genbank]
$;SOURCE$; = 
;; use --v for verbose summary, --f for fasta file
$;OTHER_ARGS$; = --v --f

[input]
;;Path to genbank file or directory containing genbank files to be converted.
$;INPUT_FILE$; = 
;;Path to list file of genbank files to be converted
$;INPUT_FILE_LIST$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = info

[output]
;;use a unique sample name
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;;generate GTF file list
$;OUTPUT_GTF_FILE$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.gtf.list
;;generate FASTA file list
$;OUTPUT_FASTA_FILE$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.fa.list

[component]
$;COMPONENT_NAME$; = genbank2gtf
$;DESCRIPTION$; = Convert Genbank file into GTF reference file
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;genbank2gtf version
$;VERSION$; = 0.1.0

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$; = 
