[parameters]
$;OTHER_OPTS$; = -sum -pretty
;;work_dir is the location where an asmbl_id subdir is created and the .fsa and .pep files are posted for each protein best hit and corresponding genome location substring. 
$;WORK_DIR$; = $;OUTPUT_DIRECTORY$;/work_dir
;;length of sequence to extend each end of a genomic location to be aligned
$;PADDING_LENGTH$; = 500
;;minimum score for a protein alignment chain to be considered for realignment using genewise
$;MIN_CHAIN_SCORE$; = 50
;;the number of best protein alignments to find per location
$;NUM_TIERS$; = 3
;;percentage length candidate protein must align
$;MIN_PERCENT_ALIGN_CHAIN$; = 70

[input]
;;list of BSML files containing database match output (eg: aat_aa) for preparing genewise input
$;BSML_INPUT_LIST$; =
;;you don't need to change any of these.  this component generates its own input list.
$;INPUT_FILE_LIST$; = $;OUTPUT_DIRECTORY$;/genewise.input.list
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;BSML_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bsml.list
$;RAW_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.raw.list

[component]
$;COMPONENT_NAME$; = genewise 
$;DESCRIPTION$; = 
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


