[interface]
classification = RNA-Seq

[parameters]


;; other arguments that can be passed to align_tophat_stats
$;OTHER_PARAMETERS$; = 

[input]
;; path to bam list file
$;INPUT_FILE$; =
;; path to list file for all input files
$;INPUT_FILE_LIST$; = 
;; path to directory of multiple single mate sequence files
$;INPUT_DIRECTORY$; = 
;; path to list of bam files from alignment of split_fastq files
$;SPLITBAM_LIST$; =
;; file extension for single mate sequence files (to be used when iterating over an INPUT_DIRECTORY)
$;INPUT_EXTENSION$; = 
;; path to bowtie index directory

[output]
;; use a unique sample name
$;OUTPUT_TOKEN$; = tophat_stats

;; output directory for component results
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; list of stats txt files
$;OUTPUT_ALIGNMENT_TXT_FILE$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.txt.list

[component]
$;COMPONENT_NAME$; = align_tophat_split_stats
$;DESCRIPTION$; = Calculates alignment statistics for Tophat Alignment
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 6089 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$; = 
