[interface]
classification = RNA-Seq

[parameters]
;; path to single reference GTF file to be used with all cuffdiff comparisons
$;GTFFILE$; =
;; path to list file with information on all cufflinks or cuffcompare GTF files
$;GTF_LISTFILE$; =
;; path to list info file with information on all alignment SAM files sorted by position
$;SAM_LISTFILE$; =
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[input]
;; path to sample info file with information on all samples to be analyzed
$;SAMPLE_INFO$; =
;; Cuffsuite program (Cuffcompare or Cuffdiff) to create files for
$;CUFF_PROG$; = Cuffcompare
;; string of groups to compare. e.g. "GRP#2vsGRP#1,GRP#3vsGRP#1"
$;GRP_COMP$; =

[output]
;; use a unique sample name
$;OUTPUT_TOKEN$; = cuffcompare
;; output directory for component results
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; list of cuffsuite input files for subsequent cuffcompare or cuffdiff component
$;OUTPUT_PAIRED_LIST_FILE$; = $;OUTPUT_DIRECTORY$;/cuffsuite_input_file.list

[component]
$;COMPONENT_NAME$; = create_cuffsuite_files
$;DESCRIPTION$; =  Generates cuffcompare and cuffdiff input list files
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;;script version
$;VERSION$; = create_cuffsuite_files version 1.0.0

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$; = 
