[interface]
classification = RNA-Seq

[parameters]
;; path to annotation file in GTF format
$;ANNOTATION_FILE$; = 
;; prefix for output files
$;PREFIX$; = cuffcmp
;; path to Cufflinks package binary directory
$;CUFFLINKS_BIN_DIR$; = $;CUFFCOMPARE_BIN$;
;; additonal Cufflinks parameters
$;OTHER_PARAMS$; = -R
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[input]
;; path to Cufflinks GTF file or listfile of Cufflinks GTF files
$;INPUT_FILE$; = 
;; path to list of Cufflinks GTF files or list of sets of Cufflinks GTF files.
$;INPUT_FILE_LIST$; = 
;; path to directory of multiple Cufflinks GTF files.
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = gtf

[output]
;; use a unique sample name
$;OUTPUT_TOKEN$; = comparison
;; output directory for component results
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; list of combined GTF files for each comparison instance
$;OUTPUT_COMBINED_GTF$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.combined.gtf.list

[component]
$;COMPONENT_NAME$; = cuffcompare
$;DESCRIPTION$; = generates cuffcompare analysis for the given Cufflinks GTF file
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;;Cufflinks version
$;VERSION$; = Cufflinks version 1.3.0

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$; = 
