[bowtie_build]
;; path to bowtie package binary directory
$;BOWTIE_BIN_DIR$; = $;BOWTIE_BUILD_BIN$;
;; bowtie index prefix
$;BOWTIE_INDEX_PREFIX$; = 
;; additional bowtie-build parameters
$;OTHER_PARAMETERS$; = 
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[fastx_quality_stats]
;; path to fastx toolkit binary directory
$;FASTX_BIN_DIR$; = $;FASTX_BIN$;
;; use --z if input file is gzipped and --v for verbose summary
$;OTHER_ARGS$; = --v

[fastx_trimming]
;; path to fastx toolkit binary directory
$;FASTX_BIN_DIR$; = $;FASTX_BIN$;
;; first_base in trimming
$;FIRST_BASE$; = 
;; last_base in trimming
$;LAST_BASE$; = 
;; use --qs if 'trim length' to be derived from quality stats. use --z if input file is gzipped and --v for verbose summary
$;OTHER_ARGS$; = --v

[split_fastq]
;;SEQ_NUMBER must be either integer. Default 20,000,000
$;SEQ_NUMBER$; = 20000000
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; =
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fastq

[tophat]
;; path to bowtie package binary directory
$;BOWTIE_BIN_DIR$; = $;BOWTIE_BIN$;
;; path to samtools package binary directory
$;SAMTOOLS_BIN_DIR$; = $;SAMTOOLS_BIN$;
;; path to Tophat package binary directory
$;TOPHAT_BIN_DIR$; = $;TOPHAT_BIN$;
;; the expected (mean) inner distance between mate pairs. Default:200.
$;MATE_INNER_DIST$; = 
;; The standard deviation for the distribution on inner distances between mate pairs. Default:20.
$;MATE_STD_DEV$; = 
;; Tophat anchor length. Must be atleast 3. Default:8.
$;MIN_ANCHOR$; = 
;; The maximum number of mismatches that may appear in the "anchor" region of a spliced alignment. Default:0.
$;SPLICE_MISMATCHES$; = 
;; The minimum intron length. Default:50.
$;MIN_INTRON_LENGTH$; = 
;; The maximum intron length. Default:500000.
$;MAX_INTRON_LENGTH$; = 50000
;; The maximum insertion length. Default:3.
$;MAX_INSERTION_LENGTH$; = 
;; The maximum deletion length. Default:3.
$;MAX_DELETION_LENGTH$; = 
;; The number of threads to be used to align reads. Default:1.
$;NUMBER_THREADS$; = 
;; Allow up to this many alignments to the reference for a given read. Default:20.
$;MAX_MULTIHITS$; = 
;; TopHat will treat the reads as strand specific (Valid Options : fr-unstranded, fr-firststrand, fr-secondstrand)
$;LIBRARY_TYPE$; = 
;; Bowtie mode for initial read mapping ('n' or 'v'). Default:v
$;BOWTIE_MODE$; = 
;; Number of mismatches in initial read alignment. Default:2.
$;READ_MISMATCHES$; = 
;; Number of mismatches in each segment alignment. Default:2.
$;SEGMENT_MISMATCHES$; = 
;; Each read is cut up into segments, each at least this long. Default:25.
$;SEGMENT_LENGTH$; = 
;; Final read alignments having more than these many total length of gaps are discarded (For Tophat2). Default:2.
$;READ_GAP_LENGTH$; = 
;; Final read alignments having more than these many edit distance are discarded (For Tophat2). Default:2.
$;READ_EDIT_DIST$; = 
;; The minimum intron length that may be found during coverage search. Default:50.
$;MIN_COVERAGE_INTRON$; = 
;; The maximum intron length that may be found during coverage search. Default:20000.
$;MAX_COVERAGE_INTRON$; = 
;; The minimum intron length that may be found during split-segment search. Default:50.
$;MIN_SEGMENT_INTRON$; = 
;; The maximum intron length that may be found during split-segment search. Default:500000.
$;MAX_SEGMENT_INTRON$; = 50000
;; List of raw junctions
$;RAW_JUNCS_FILE$; = 
;; Annotation file in GTF or GFF3 format
$;ANNOTATION_FILE$; = 
;; path to transcriptome index prefix
$;TRANSCRIPTOME_INDEX_PREFIX$; = 
;; List of insertions file
$;REF_INSERTIONS_FILE$; = 
;; List of deletions file
$;REF_DELETIONS_FILE$; = 
;; additional tophat parameters
$;OTHER_PARAMETERS$; =
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[percent_mapped_stats]
;; Feature type from column 3 of annotation file. Required if used --alignment
$;FEATURE_TYPE$; = 
;; Attribute id from column 9 of the annotation file to be used as region id. Required if used --alignment
$;ATTRIBUTE_ID$; = 
;; Group_by id from column 9 of the annotation file. Required if used --alignment
$;GROUPBY_ID$; = 
;; path to bedtools package binary directory
$;BEDTOOLS_BIN_DIR$; = $;BEDTOOLS_BIN$;
;; path to samtools package binary directory
$;SAMTOOLS_BIN_DIR$; = $;SAMTOOLS_BIN$;
;; other arguments that can be passed to percent_mapped_stats
$;OTHER_PARAMETERS$; = 

[rpkm_coverage_stats]
;; feature type from column 3 of GTF or GFF3 file. Required if used --rpkm_analysis
$;FEATURE_ID$; = 
;; attribute id from column 9 of GTF or GFF3 file to be used as region ID. Required if used --rpkm_analysis
$;ATTRIBUTE_ID$; = 
;; group_by id from column 9 of GTF or GFF3 file to be used to group regions by. Require if used --rpkm_analysis
$;GROUPBY_ID$; = 
;; path to bedtools package binary directory
$;BEDTOOLS_BIN_DIR$; = $;BEDTOOLS_BIN$;
;; path to samtools package binary directory
$;SAMTOOLS_BIN_DIR$; = $;SAMTOOLS_BIN$;
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[bam2bigwig]
;; Whether the data is from a strand-specific assay (firststrand or secondstrand)
$;STRANDED$; = 
;; path to ucsc utilities directory
$;UCSC_UTIL_DIR$; =  $;UCSC_UTIL$;
;; path to bedtools package binary directory
$;BEDTOOLS_BIN_DIR$; = $;BEDTOOLS_BIN$;
;; path to samtools package binary directory
$;SAMTOOLS_BIN_DIR$; = $;SAMTOOLS_BIN$;
;; use --w to include WIG format files in the output and --v for verbose execution
$;OTHER_ARGS$; = --v

[htseq]
;; path to Python binary directory
$;PYTHON_BIN_DIR$; = 
;; path to Python library directory
$;PYTHON_LIB_DIR$; = 
;; Mode to handle reads overlapping more than one feature. [Values: union, intersection-strict or intersection-nonempty]
$;MODE$; = union
;; Feature type (3rd column in GFF file) to be used
$;TYPE$; = exon
;; Skip all reads with alignment quality lower than the given minimum value
$;MIN_QUAL$; = 
;; Whether the data is from a strand-specific assay
$;STRANDED$; = no
;; GFF attribute ID to be used as feature ID
$;ATTRIBUTE_ID$; = gene_id
;; additonal htseq parameters
$;OTHER_PARAMS$; = 
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[deseq]
;; path to annotation file in tab-delimited format
;; First column of annotation file must be same as ID used for read counting.
$;ANNOTATION_FILE$; = 
;; path to R statistical package binary directory
$;R_BIN_DIR$; = 
;; additonal R parameters
$;R_PARAMS$; = --slave --vanilla
;; path to R Script for DESeq Analysis. Optional [deseq.R]
$;R_SCRIPT$; = 
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[edgeR]
;; First column of annotation file must be same as ID used for read counting.
$;ANNOTATION_FILE$; = 
;; path to R statistical package binary directory 
$;R_BIN_DIR$; = 
;; additonal R parameters
$;R_PARAMS$; = 
;; path to R Script for edgeR Analysis. Optional [edgeR.v1.1.R]
$;R_SCRIPT$; = 
;; use --v for verbose summary
$;OTHER_ARGS$; = --v


[filter_deseq]
;; Filters FDR=0.5,RC=10:FDR=0.3,RC=5:FDR=0.05,RC=15,P=0.05,UFC=1,DFC=-1
$;FILTERS_VAL$; = FDR=0.05,RCP=0.1,UFC=1,DFC=-1:FDR=0.05,RCP=0.25,UFC=1,DFC=-1:P=0.05,RCP=0.1,UFC=1,DFC=-1:P=0.05,RCP=0.25,UFC=1,DFC=-1
;; Project name
$;PROJECT_NAME$; = test

[filter_edgeR]
;; Filters FDR=0.5,RC=10:FDR=0.3,RC=5:FDR=0.05,RC=15,P=0.05,UFC=1,DFC=-1
$;FILTERS_VAL$; = FDR=0.05,RC=10,UFC=1,DFC=-1:FDR=0.01,RC=10,UFC=1,DFC=-1:FDR=0.1,RC=10,UFC=1,DFC=-1:P=0.05,RC=10,UFC=1,DFC=-1:P=0.01,RC=10,UFC=1,DFC=-1
;; Project name
$;PROJECT_NAME$; = test

[cufflinks]
;; /path/to/cufflinks bin directory
$;CUFFLINKS_BIN_DIR$; = $;CUFFLINKS_BIN$;
;; Cufflinks will treat the reads as strand specific (Valid Options : fr-unstranded, fr-firststrand, fr-secondstrand)
$;LIBRARY_TYPE$; = 
;; expected (mean) fragment length
$;FRAG_LEN_MEAN$; = 
;; standard deviation for the distribution on fragment lengths
$;FRAG_LEN_STD_DEV$; = 
;; sets the number of iterations allowed during maximum likelihood estimation of abundances. [5000]
$;MAX_MLE_ITERATIONS$; = 
;; Sets the maximum number of fragments a locus may have before being skipped. [1000000]
$;MAX_BUNDLE_FRAGS$; = 
;; prefix for transfrags in GTF format
$;LABEL$; = CUFF
;; filters out transcripts with very low abundance. [0.1]
$;MIN_ISOFORM_FRACTION$; = 
;; parameter to filter out alignments that lie within the intronic intervals. [0.15]
$;PRE_mRNA_FRACTION$; = 
;; minimum intron size allowed. [50]
$;MIN_INTRON_LEN$; = 
;; maximum intron length. [300000]
$;MAX_INTRON_LEN$; = 50000
;; alpha value for the binomial test (spliced alignment filtration). [0.001]
$;JUNC_ALPHA$; = 
;; Spliced reads with small anchors are filtered out. [0.09]
$;SMALL_ANCHOR_FRACTION$; = 
;; Assembled transfrags supported by minimum fragments. [10]
$;MIN_FRAGS_PER_TRANSFRAG$; = 
;; The number of bp allowed to enter the intron of a transcript. [8]
$;OVERHANG_TOLERANCE$; = 
;; Maximum genomic length allowed for a given bundle. [3500000]
$;MAX_BUNDLE_LENGTH$; = 
;; Minimum average coverage required to attempt 3' trimming. [10]
$;TRIM3_AVGCOV_THRESH$; = 
;; The fraction of average coverage below which to trim the 3' end of an assembled transcript. [0.1]
$;TRIM3_DROPOFF_FRAC$; = 
;; Use # threads to align reads. [1]
$;NUM_THREADS$; = 
;; additional Cufflinks parameters
$;OTHER_PARAMS$; = --quiet
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[cuffcompare]
;; path to Cufflinks package binary directory
$;CUFFLINKS_BIN_DIR$; = $;CUFFCOMPARE_BIN$;
;; prefix for output files
$;PREFIX$; = cuffcmp
;; additonal Cufflinks parameters
$;OTHER_PARAMS$; = -R
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[cuffdiff]
;; path to Cufflinks package binary directory
$;CUFFLINKS_BIN_DIR$; = $;CUFFDIFF_BIN$;
;; Label Ids for each sample to be analyzed
$;LABEL$; = 
;; Use # threads to compare isoforms. [1]
$;NUM_THREADS$; = 
;; The minimum number of alignments in a locus for needed to conduct significance testing on changes in that locus observed between samples. [10]
$;MIN_ALIGNMENT_COUNT$; = 
;; FDR threshold. [0.05]
$;FDR$; = 
;; Cuffdiff will treat the reads as strand specific (Valid Options : fr-unstranded, fr-firststrand, fr-secondstrand)
$;LIBRARY_TYPE$; = 
;; sets the number of iterations allowed during maximum likelihood estimation of abundances. [5000]
$;MAX_MLE_ITERATIONS$; = 
;; filters out transcripts with very low abundance. [.00001]
$;MIN_ISOFORM_FRACTION$; = 
;; Sets the maximum number of fragments a locus may have before being skipped. [1000000]
$;MAX_BUNDLE_FRAGS$; = 
;; additonal Cufflinks parameters
$;OTHER_PARAMS$; = -q
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[cuffdiff_filter]
;; Filters  FDR=0.5,FPKM=10:FDR=0.3,P=0.01:FDR=0.05,FPKM=15,P=0.05,UFC=1,DFC=-1
$;FILTERS_VAL$; =  FDR=0.05,FPKM=10,UFC=1,DFC=-1:FDR=0.01,FPKM=10,UFC=1,DFC=-1:FDR=0.1,FPKM=10,UFC=1,DFC=-1:P=0.05,FPKM=10,UFC=1,DFC=-1:P=0.01,FPKM=10,UFC=1,DFC=-1
;; Project name
$;PROJECT_NAME$; = test 


[expression_plots]
;; log fold change cutoff for cuffdiff/deseq
$;LFC$; = 
;; false discovery rate cutoff/deseq
$;FDR$; = 
;; gene column number for rpkm analysis
$;GENE_COL$; = 
;; rpkm column number for rpkm analysis
$;RPKM_COL$; = 

[cummerbund]
$;R_BIN_DIR$; = 
;; additonal R parameters
$;R_PARAMS$; = 
;; path to R Script for CummeRbund Analysis. Optional [cummerbund_isoform_analysis.R]
$;R_SCRIPT$; = 
;; use --v for verbose summary
$;OTHER_ARGS$; = 
