[interface]
classification = RNA-Seq

[parameters]
;; path to fastx toolkit binary directory
$;FASTX_BIN_DIR$; = $;FASTX_BIN$;
;; quality string type for FastQ files (33 or 64)
$;QUALITY_STRING$; = 33
;; first_base in trimming
$;FIRST_BASE$; = 
;; last_base in trimming
$;LAST_BASE$; = 
;; use --qs if 'trim length' to be derived from quality stats. use --z if input file is gzipped and --v for verbose summary
$;OTHER_ARGS$; = --qs --z --v

[input]
;; path to input FastQ/A sequence file
$;INPUT_FILE$; = 
;; path to list of input FastQ/A sequence files
$;INPUT_FILE_LIST$; = 
;; path to directory of multiple input FastQ/A sequence files
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = txt

[output]
;; use a unique sample name
$;OUTPUT_TOKEN$; = read1
;; output directory for component results
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; list of quality statistics files for each input FastQ file
$;OUTPUT_QUALITY_STATS$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.stats.list
;; list of quality box plots for each input FastQ file
$;OUTPUT_QUALITY_BOX_PLOT$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.plots.list
;; list of trimmed sequence files for each input FastQ file
$;OUTPUT_TRIMMED_SEQUENCE_FILE$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.trimmed.sequence.list

[component]
$;COMPONENT_NAME$; = fastx_trimming
$;DESCRIPTION$; = generates trimmed FastX sequences for the given input FastX file
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;;fastx toolkit version
$;VERSION$; = fastx_toolkit-0.0.13

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$; = 
