<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>ergatis</title>
    <!-- bring in the styles -->
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/header.css">
    <!-- functionality -->
    <script type='text/javascript' src='../javascript/jquery/jquery.min.js'></script>
    <script type='text/javascript' src='../javascript/common.js'></script>
</head>

<body class='admin'>

<div id='page_container'>

<TMPL_INCLUDE NAME="header.tmpl">

    <div id='content_container'>
        <h2>choose an action</h2>
        <dl>
            <dt><a href='./create_project.cgi'>create project</a></dt>
            <dd>
                This will help you create the directory and file structure required by ergatis/workflow. This
                includes the definition of the project's configuration file.
            </dd>
            <dt><a href='./view_formatted_ini_source.cgi?file=ergatis.ini'>view ergatis settings</a></dt>
            <dd>
                Though not currently editable, you can view the current ergatis settings here.
            </dd>
        </dl>
        
    </div> <!-- end content_container -->

</div> <!-- end page_container -->

</body>

</html>
