<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>ergatis - archive/delete a pipeline</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/header.css">
    <link rel="stylesheet" type="text/css" href="../css/monitor.css">
    <link rel="stylesheet" type="text/css" href="../css/archive.css">
    <!-- functionality -->
    <script type='text/javascript' src='../javascript/jquery/jquery.min.js'></script>
    <script type='text/javascript' src='../javascript/common.js'></script>
    <script type="text/javascript" src="../javascript/archive_pipeline_form.js"></script>
</head>

<body class='pipelines'>

<div id='page_container'>

<TMPL_INCLUDE NAME="header.tmpl">

    <div id='content_container'>
        <h2>archive/delete a pipeline</h2>

        <div id='choice_dialogue'>
            <p>
                This page is used to delete or archive an existing pipeline and all its associated output data.  Please
                choose an action for pipeline <TMPL_VAR NAME=PIPELINE_ID>.
            </p>
            <ul id='archive_choices'>
                <li><a onclick='javascript: showDialogue("archive_verification_dialogue")'>archive in place</a></li>
                <li><a onclick='javascript: showDialogue("temp_archive_verification_dialogue")'>archive to <TMPL_VAR NAME=ARCHIVE_ROOT></a></li>
                <li><a onclick='javascript: showDialogue("delete_dialogue")'>delete</a></li>
            </ul>
        </div>

        <div id='archive_verification_dialogue'>
            <h3 class='warning'>archive in place verification</h3>
            <p>
                Are you sure you want to archive pipeline <TMPL_VAR NAME=PIPELINE_ID>? The pipeline will be compressed in place.
            </p>
            <div class='actions'>
                <a href='./archive_pipeline.cgi?repository_root=<TMPL_VAR NAME=REPOSITORY_ROOT>&amp;pipeline_id=<TMPL_VAR NAME=PIPELINE_ID>&amp;action=archive_in_place&amp;process_output=0'>Yes</a>
                <a href='./archive_pipeline.cgi?repository_root=<TMPL_VAR NAME=REPOSITORY_ROOT>&amp;pipeline_id=<TMPL_VAR NAME=PIPELINE_ID>&amp;action=archive_in_place&amp;process_output=1'>Yes, and archive output</a>
                <a onclick='javascript: hideDialogue("archive_verification_dialogue")'>No</a>
            </div>
        </div>

        <div id='temp_archive_verification_dialogue'>
            <h3 class='warning'>archive to temp verification</h3>
            <p>
                Are you sure you want to archive pipeline <TMPL_VAR NAME=PIPELINE_ID>? The pipeline will be compressed 
                and moved to <TMPL_VAR NAME=ARCHIVE_ROOT>.
            </p>
            <div class='actions'>
                <a href='./archive_pipeline.cgi?repository_root=<TMPL_VAR NAME=REPOSITORY_ROOT>&amp;pipeline_id=<TMPL_VAR NAME=PIPELINE_ID>&amp;action=archive_to_location&amp;process_output=0'>Yes</a>
                <a href='./archive_pipeline.cgi?repository_root=<TMPL_VAR NAME=REPOSITORY_ROOT>&amp;pipeline_id=<TMPL_VAR NAME=PIPELINE_ID>&amp;action=archive_to_location&amp;process_output=1'>Yes, and archive output</a>
                <a onclick='javascript: hideDialogue("temp_archive_verification_dialogue")'>No</a>
            </div>
        </div>

        <div id='delete_dialogue'>
            <h3 class='warning'>delete verification</h3>
            <p>
                Are you sure you want to delete pipeline <TMPL_VAR NAME=PIPELINE_ID>? You will not be able to undo
                this action.
            </p>
            <div class='actions'>
                <a href='./archive_pipeline.cgi?repository_root=<TMPL_VAR NAME=REPOSITORY_ROOT>&amp;pipeline_id=<TMPL_VAR NAME=PIPELINE_ID>&amp;action=delete&amp;process_output=0'>Yes</a>
                <a href='./archive_pipeline.cgi?repository_root=<TMPL_VAR NAME=REPOSITORY_ROOT>&amp;pipeline_id=<TMPL_VAR NAME=PIPELINE_ID>&amp;action=delete&amp;process_output=1'>Yes, and delete output</a>
                <a onclick='javascript: hideDialogue("delete_dialogue")'>No</a>
            </div>
        </div>

    </div>
</div>

</body>

</html>
