<div class='command' id='id<TMPL_VAR NAME=ID>_bar'>
    <div class='leftside'>
        <img class='status' src='../images/status_<TMPL_VAR NAME=STATE>.png' title='<TMPL_VAR NAME=STATE>' alt='<TMPL_VAR NAME=STATE>'>
        <TMPL_VAR NAME=NAME>
    </div>
    <div class='rightside'>
        <span class='run_time'><TMPL_VAR NAME=RUN_TIME></span>
        <span class='infolabel' id='id<TMPL_VAR NAME=ID>_infolabel' onclick='toggle_cmd_info("id<TMPL_VAR NAME=ID>")'>show info</span>
    </div>
</div>
<div class='cmdinfo' id='id<TMPL_VAR NAME=ID>_info'>
    <table class='cmd_stats'>
        <tr>
            <th>workflow id:</th><td><TMPL_VAR NAME=ID></td>
        </tr>
        <tr>
            <th>state:</th><td><TMPL_VAR NAME=STATE></td>
        </tr>
        <tr>
            <th>start time:</th><td><TMPL_VAR NAME=START_TIME></td>
        </tr>
        <tr>
            <th>end time:</th><td><TMPL_VAR NAME=END_TIME></td>
        </tr>
        <tr>
            <th>duration:</th><td><TMPL_VAR NAME=RUN_TIME></td>
        </tr>
        <tr>
            <th>return value:</th><td><TMPL_VAR NAME=RETURN_VALUE></td>
        </tr>
        <tr>
            <th>stdout:</th><td><a href='view_formatted_log_source.cgi?file=<TMPL_VAR NAME=STDOUT>&pipeline_id=<TMPL_VAR NAME=PIPELINE_ID>'><TMPL_VAR NAME=STDOUT></a></td>
        </tr>
        <tr>
            <th>stderr:</th><td><a href='view_formatted_log_source.cgi?file=<TMPL_VAR NAME=STDERR>&pipeline_id=<TMPL_VAR NAME=PIPELINE_ID>'><TMPL_VAR NAME=STDERR></a></td>
        </tr>
        <tr>
            <th colspan='2'>command:</th>
        </tr>
        <tr>
            <td colspan='2'><TMPL_VAR NAME=COMMAND_STRING></td>
        </tr>
    </table>
</div>
<TMPL_IF NAME=MESSAGE>
<div class='messageblock'>
    return value: <TMPL_VAR NAME=RETURN_VALUE><br>
    message: <TMPL_VAR NAME=MESSAGE>
</div>
</TMPL_IF>

