<div id='running_pipeline_container'>
    <h2>
        running pipelines 
        <span class='header_note'><a href='./index.cgi?update_cache=1'>cached from <TMPL_VAR NAME=CACHE_FILE_AGE> min ago</a></span>
        <!--<img id='rss_feed' src='../images/rss.gif' alt='rss feed'>-->
    </h2>
    
    <TMPL_IF NAME=RUNNING_PIPELINE_COUNT>
    <table class='pipeline_list'>
        <tr>
            <th>project</th>
            <th>pipeline id</th>
            <th>state</th>
            <th>user</th>
            <th>contents</th>
            <th>last mod</th>
            <th>run time</th>
        </tr>
    <TMPL_LOOP NAME=RUNNING_PIPELINES>
        <tr>
            <td><a href='<TMPL_VAR NAME=PROJECT_URL>'><TMPL_VAR NAME=LABEL></a></td>
            <td><a href='<TMPL_VAR NAME=PIPELINE_URL>'><TMPL_VAR NAME=PIPELINE_ID></a></td>
            <td class='pipeline_state'>
                <span class='state <TMPL_VAR NAME=STATE>'><TMPL_VAR NAME=STATE></span>
                <TMPL_IF NAME=ERROR_MESSAGE>
                <div>
                    <span class='error_message_header'>top-level error message</span>
                    <hr>
                    <TMPL_VAR NAME=ERROR_MESSAGE>
                </div>
                </TMPL_IF>
            </td>
            <td><TMPL_VAR NAME=PIPELINE_USER></td>
            <td class='component_review'>
                <a href='<TMPL_VAR NAME=PIPELINE_URL>'><TMPL_VAR NAME=COMPONENT_COUNT><TMPL_VAR NAME=COMPONENT_LABEL></a><br>
                <div>
                    <span class='component_review_header'>pipeline <TMPL_VAR NAME=PIPELINE_ID> component list</span><br />
                    <hr/>
                <TMPL_IF NAME=COMPONENT_COUNT>
                <TMPL_LOOP NAME=COMPONENTS>
                    <TMPL_IF NAME=ERROR_COUNT>
                    <span class='error'><TMPL_VAR NAME=COUNT> x <TMPL_VAR NAME=NAME></span><br>
                    <TMPL_ELSE>
                    <TMPL_VAR NAME=COUNT> x <TMPL_VAR NAME=NAME><br>
                    </TMPL_IF> <!-- ERROR_COUNT if -->
                </TMPL_LOOP> <!-- COMPONENT_COUNT loop -->
                <TMPL_ELSE>
                    no components found
                </TMPL_IF>
                </div>
            </td>
            <td><TMPL_VAR NAME=LAST_MOD></td>
            <td><TMPL_VAR NAME=RUN_TIME></td>
        </tr>
    </TMPL_LOOP>
    </table>
    <TMPL_ELSE>
        <TMPL_INCLUDE NAME="pipeline_list_empty.tmpl">
    </TMPL_IF> <!-- end running pipeline count if -->
</div>

<div id='other_active_pipelines_container'>
    <h2>
        other active pipelines 
        <span class='header_note'>within last <TMPL_VAR NAME=ACTIVE_PIPELINE_AGE> hours</span>
    </h2>
    <TMPL_IF NAME=ACTIVE_PIPELINE_COUNT>
    <table class='pipeline_list'>
        <tr>
            <th>project</th>
            <th>pipeline id</th>
            <th>state</th>
            <th>user</th>
            <th>contents</th>
            <th>last mod</th>
            <th>run time</th>
        </tr>
    <TMPL_LOOP NAME=ACTIVE_PIPELINES>
        <tr>
            <td><a href='<TMPL_VAR NAME=PROJECT_URL>'><TMPL_VAR NAME=LABEL></a></td>
            <td><a href='<TMPL_VAR NAME=PIPELINE_URL>'><TMPL_VAR NAME=PIPELINE_ID></a></td>
            <td class='pipeline_state'>
                <span class='state <TMPL_VAR NAME=STATE>'><TMPL_VAR NAME=STATE></span>
                <TMPL_IF NAME=ERROR_MESSAGE>
                <div>
                    <span class='error_message_header'>top-level error message</span>
                    <hr>
                    <TMPL_VAR NAME=ERROR_MESSAGE>
                </div>
                </TMPL_IF>
            </td>
            <td><TMPL_VAR NAME=PIPELINE_USER></td>
            <td class='component_review'>
                <a href='<TMPL_VAR NAME=PIPELINE_URL>'><TMPL_VAR NAME=COMPONENT_COUNT><TMPL_VAR NAME=COMPONENT_LABEL></a><br>
                <div>
                    <span class='component_review_header'>pipeline <TMPL_VAR NAME=PIPELINE_ID> component list</span><br />
                    <hr/>
                <TMPL_IF NAME=COMPONENT_COUNT>
                <TMPL_LOOP NAME=COMPONENTS>
                    <TMPL_IF NAME=ERROR_COUNT>
                    <span class='error'><TMPL_VAR NAME=COUNT> x <TMPL_VAR NAME=NAME></span><br>
                    <TMPL_ELSE>
                    <TMPL_VAR NAME=COUNT> x <TMPL_VAR NAME=NAME><br>
                    </TMPL_IF> <!-- ERROR_COUNT if -->
                </TMPL_LOOP> <!-- COMPONENT_COUNT loop -->
                <TMPL_ELSE>
                    no components found
                </TMPL_IF>
                </div>
            </td>
            <td><TMPL_VAR NAME=LAST_MOD></td>
            <td><TMPL_VAR NAME=RUN_TIME></td>
        </tr>
    </TMPL_LOOP>
    </table>
    <TMPL_ELSE>
        <TMPL_INCLUDE NAME="pipeline_list_empty.tmpl">
    </TMPL_IF> <!-- end active_pipeline_count if --> 
</div>
