<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2">
    <link rel='stylesheet' type='text/css' href='../css/common.css'>
    <link rel='stylesheet' type='text/css' href='../css/header.css'>
    <link rel='stylesheet' type='text/css' href='../css/monitor.css'>
    <link rel='stylesheet' type='text/css' href='../css/commenting.css'>
    <link rel='stylesheet' type='text/css' href='../css/pipeline_list.css'>

    <!-- functionality -->
    <script type='text/javascript' src='../javascript/jquery/jquery.min.js'></script>
    <script type='text/javascript' src='../javascript/common.js'></script>
    <script type='text/javascript' src='../javascript/pipeline_list.js' defer='defer'></script>
    <script type='text/javascript' src='../javascript/commenting.js'></script>
    <title>ergatis | pipeline list</title>
</head>

<body class='pipelines'>

<div id='page_container'>

<TMPL_INCLUDE NAME="header.tmpl">
    <div id='modify_groups_container'>
        <p id='modify_groups_instructions'>
            Choose pipelines below, enter one or more group labels separated by commas then click 'add' or 'remove'
        </p>
        <input id='groups_entered' type='text' name='groups_entered' value=''>
        <span class='button' onclick='modifyGroups("add")'>add labels</span>
        <span class='button' onclick='modifyGroups("remove")' id='view_by_category'>remove labels</span>
        <span class='button' onclick='cancelGroupModificationMenu("component")'>cancel</span>
        <form id='modify_groups_form' name='modify_groups_form' method='post' action='./modify_pipeline_groups.cgi'>
            <input type='text' id='pipeline_ids' name='pipeline_ids' value=''>
            <!-- action here will be either add/remove -->
            <input type='text' id='action' name='action' value=''>
            <input type='text' name='group_labels' value=''>
            <input type='text' name='repository_root' value='<TMPL_VAR NAME=REPOSITORY_ROOT>'>
        </form>
    </div>

    <div id='info_container'>
        <ul id='info_elements'>
            <li><span class='info_label'>repository root:</span> <TMPL_VAR NAME=REPOSITORY_ROOT></li>
            <TMPL_IF NAME=DISPLAY_CODEBASE>
            <li><span class='info_label'>codebase:</span> <TMPL_VAR NAME=ERGATIS_DIR></li>
            </TMPL_IF>
            <li><span class='info_label'>project quota:</span> <TMPL_VAR NAME=QUOTA_STRING></li>
            <TMPL_IF NAME=PROJECT_CODE>
            <li><span class='info_label'>project code:</span> <TMPL_VAR NAME=PROJECT_CODE></li>
            </TMPL_IF>
        </ul>

        <div id="comment_container">
            <form name='comment_form'>
                <label for='comment'>
                    project comment: 
                    <span class='comment_control' id='comment_add'>click to add</span>
                    <span class='comment_control' id='comment_save'>save</span>
                    <span class='comment_control' id='comment_cancel'>cancel</span>
                </label>
                <textarea name='comment' id='comment' cols='10' rows='5'></textarea>
                <input type='hidden' name='comment_file' value='<TMPL_VAR NAME=PROJECT_COMMENT_FILE>'>
                <div id='comment_shadow'><TMPL_VAR NAME=PROJECT_COMMENT></div>
            </form>
        </div>
    </div>

    <div id='content_container'>


        <TMPL_IF NAME=ERRORS_FOUND>
        <div class='error_container'>
            <h3>ERROR:</h3>
        <TMPL_LOOP NAME=ERROR_MSGS>
            <TMPL_VAR NAME=MSG><br>
        </TMPL_LOOP>
        </div>
        <TMPL_ELSE>
        
        <div id='pipeline_list'>
            
            <TMPL_IF NAME=COMPONENT_VIEW>
                <TMPL_INCLUDE NAME="pipeline_list_component_view.tmpl">   
            <TMPL_ELSE>
                <TMPL_IF NAME=GROUP_VIEW>
                    <TMPL_INCLUDE NAME="pipeline_list_group_view.tmpl"> 
                <TMPL_ELSE>
                    <TMPL_INCLUDE NAME="pipeline_list_pipeline_view.tmpl"> 
                </TMPL_IF> 
            </TMPL_IF> <!-- if COMPONENT_VIEW -->   
            
           <!--  <div class="actions" id="archdel_all"><a href="www.google.com">archive/delete all selected</a></div> -->
        </div> <!-- end pipelinelist -->

        </TMPL_IF> <!-- if ERRORS_FOUND -->

    </div>
</div>
<div id='user_message_container'></div>
</body>

</html>









