<ul id='info_elements'>
    <li id='pipeline'><TMPL_VAR NAME=PIPELINE_FILE></li>
    <li id='starttime'><span class='info_label'>start:</span> <TMPL_VAR NAME=START_TIME></li>
    <li><span class='info_label'>end:</span> <TMPL_VAR NAME=END_TIME></li>
    <li><span class='info_label'>last mod:</span> <TMPL_VAR NAME=LAST_MOD_TIME></li>
    <li id='state'><span class='info_label'>state:</span> <span id='pipeline_state' class='<TMPL_VAR NAME=PIPELINE_STATE>'><TMPL_VAR NAME=PIPELINE_STATE></span></li>
    <li><span class='info_label'>pipeline id:</span> <span id='pipelineid'><TMPL_VAR NAME=PIPELINE_ID></span></li>
    <li><span class='info_label'>user:</span> <TMPL_VAR NAME=USER></li>
    <li><span class='info_label'>runtime:</span> <TMPL_VAR NAME=RUNTIME></li>
    <li id='project'><span class='info_label'>project:</span> <span id='projectid'><TMPL_VAR NAME=PROJECT></span></li>
    <li><span class='info_label'>quota:</span> <TMPL_VAR NAME=QUOTA_STRING></li>
</ul>
