<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>ergatis</title>
    <!-- bring in the styles -->
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/header.css">
    <!-- functionality -->
    <script type='text/javascript' src='../javascript/common.js'></script>
</head>

<body>

<div id='page_container'>

<TMPL_INCLUDE NAME="header.tmpl">

    <div id='content_container'>
        <h2>search results - no matches found</h2>
        <p>
            The quick search box in the upper-right hand corner can be used to enter project names
            like aa1, which are registered in the ergatis.ini file, or any pipeline ID for any
            registered project.
        </p>
        
    </div> <!-- end content_container -->

</div> <!-- end page_container -->

</body>

</html>
