<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2">
    <title><TMPL_VAR NAME=PAGE_TITLE></title>
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/header.css">
    <link rel="stylesheet" type="text/css" href="../css/monitor.css">
    <!-- functionality -->
    <script type='text/javascript' src='../javascript/jquery/jquery.min.js'></script>
    <script type="text/javascript" src="../javascript/common.js"></script>
    <script type="text/javascript" src="../javascript/view_component.js"></script>
    <script type="text/javascript" src="../javascript/StateCollection.js"></script>
    <script type='text/javascript'>
        elementsByState = new StateCollection();
        <TMPL_LOOP NAME=STATE_IDS>
        elementsByState['<TMPL_VAR NAME=NAME>'].push( '<TMPL_VAR NAME=ID>' );
        </TMPL_LOOP>
    </script>
</head>

<body class='pipelines'>

<div id='page_container'>

<TMPL_INCLUDE NAME="header.tmpl">

    <div id='info_container'>
<TMPL_INCLUDE NAME="pipeline_summary.tmpl">
    </div>
    <div id='display_filters'>
        display filters:
        <ul id='state_counts'>
            <TMPL_LOOP NAME=STATE_COUNTS>
            <li id='<TMPL_VAR NAME=NAME>_state_count'>
                <span class='<TMPL_VAR NAME=NAME>' onclick='show_state("<TMPL_VAR NAME=NAME>", elementsByState)'><TMPL_VAR NAME=NAME></span> (<TMPL_VAR NAME=COUNT>)
            </li>
            </TMPL_LOOP>
            <li> - <span onclick='show_state("all", elementsByState)'>show all</span></li>
        </ul>
    </div>

    <div id='content_container'>

        <div class='timer' id='pipeline_timer_label'></div>

        <div class='pipeline_marker'>start</div>
        
        <TMPL_LOOP NAME=ELEMENTS>
        <TMPL_IF NAME=IS_COMMAND>                                                                                                 
            <TMPL_INCLUDE NAME="command_list_element.tmpl">
        <TMPL_ELSE>
            <div class='subflow'>
                <h1 class='subflow_label'>
                    <TMPL_VAR NAME=SUBFLOW_LABEL>
                </h1>
                <TMPL_LOOP NAME=SG_PROPS>
                    <TMPL_INCLUDE NAME="commandset_list_element.tmpl">
                </TMPL_LOOP>
            <br clear='both'>
            </div>
        </TMPL_IF> <!-- end is_command conditional -->
        </TMPL_LOOP> <!-- end elements loop -->
    
        <div class='pipeline_marker'>end</div>

    </div> <!-- end content_container -->

<div id='debug_box'></div>

</div> <!-- end page_container -->

</body>

</html>
