[parameters restoredb]
$;DATABASE$; = 
$;SERVER$; = SYBTIGR
$;DATABASE_TYPE$; = sybase
$;BATCHSIZE$; = 30000
$;BCP_EXTENSION$; = out

[input restoredb]
$;BCP_DIR$;= 
;; This input file list should be a file containing a new-line separated list of BCP files
$;INPUT_FILE_LIST$; = 
;; This input file value should be a comma-separated list of BCP files
$;INPUT_FILE$; = 
;; This input directory value should the fullpath to a directory containing BCP files
$;INPUT_DIRECTORY$; = 

[output restoredb]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$;=$;TMP_DIR$;

[component]
$;COMPONENT_NAME$; = restoredb
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;     = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;    = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

$;ITERATOR1$; = sqlforce
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml
$;ITERATOR2$; = sql
$;ITERATOR2_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR2$;.xml
$;ITERATOR3$; = load_bcp
$;ITERATOR3_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR3$;.xml


;Distributed options
$;GROUP_COUNT$; = 1
; no-distrib = 0 ensures that all executes in series and never parallel
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
