<!-- component documentation -->

<h3>Overview</h3>
<p>
    start_site_curation.pl - Looks at the start sites of genes in a bsml file and will
    move the start site based on alignment evidence
</p>

<h3>Description</h3>
<p>
    A voting based start site curation algorithm.  The algorithm uses evidence generated
    by BER alignments, as well as taking into consideration ribosomal binding sites
    (shine delgarno consensus sequence) as well as start site probabilities.  Reads gene
    information from gene describing BSML input (such as that output from promote_gene_prediction
    or glimmer3) and also evidence (a list of BSML output files from BER alignment run).  

    A start site will be changed according to the following algorithm:

    1. BER Evidence
       - All alignments not passing the percent_identity and p_value cutoffs are eliminated
       - Any alignment which begins at a start site within the query sequence gets a vote
       - A bonus is added if the subject sequence is a characterized protein (characterized_
         vote_bonus).
       - The start site with the highest number of votes is chosen as new start if the
         number of votes is greater than or equal to the min_vote_cutoff.  If there is a 
         tie (i.e. two start sites with the same vote count):
    2. Ribosomal Binding Site
       - The sequence upstream of the start site is searched (20 nucleotides upstream
         to 5 nucleotides upstream [coords -20 -> -5 relative to start site] ).
       - Lengths of sequences of size sliding_window_size are measured for AG content. If
         the AG percentage is greater than or equal to the percent_ag_cutoff, the start
         site is considered to have an RBS and is given one vote.
    3. Start Site probabilities
       - The occurence of all the start sites is counted and the relative frequencies are
         calculated.  The relative frequency is added to the vote total.  This will never be
         greater than one vote, and therefore will only be useful in deciding ties at this 
         point.
</p>
<h3>Input</h3>
<p>
    Input is a gene describing bsml document.  It should contain a Sequence element 
    representing the genomic sequence with Feature children representing the genes.
    Each gene should have a Feature element of class polypeptide, CDS, gene, transcript,
    and exon and their relationships should be described with Feature-groups.  The Sequence
    element must also have a Seq-data-import linking to fasta.  Attributes of the Sequence
    element that are exptected are:
      Sequence[@molecule]
      Sequence[@class]
      Sequence[@id]

    Ids for the Feature elements are assumed to be generated by Ergatis::IdGenerator and
    in the format proj.feature_type.12345.1 . 

    The BER evidence input is a list of BER bsml files which are generated using the 
    ergatis component.  The BSML is formatted as our standard usage for alignment
    analyses.  

</p>

<h3>Output</h3>
<p>
    The output is a gene describing bsml document.  The version number on the genes and
    related features where start site changes have occurred are incremented to indicate 
    a new version of the gene.  

    The script can print two sets of bsml files.  The first set includes the all genes
    and is representative of the working models for the sequence.  The second set is a 
    collection of bsml files which only list the genes which have changed.  The second
    set bsml files (only changed features) is optional and will not be printed if the 
    --changed_features_bsml option is not used.
</p>

<h3>Options</h3>
<p>
--ber_extension,-b
    OPTIONAL. Default = 300.  The number of nucleotides used in the ber extension

--percent_identity_cutoff,-p
    OPTIONAL. Default = 60.  The percent identity of BER hits.  Filter out
    all those hits with a lower percent_identity.

--p_value_cutoff,-P
    OPTIONAL. Default = 1e-30.  The p_value cutoff for BER alignments.

--characterized_vote_bonus,-C
    OPTIONAL. Default = 4.  The bonus number of votes a start site will receive when 
    confirmed by a characterized protein. (1 non-characterized match = 1 vote)

--min_vote_cutoff,-m
    OPTIONAL. Default = 2.  The number of votes a start_site should receive before being
    considered. Basically, gives a bonus to current start sites.

--rbs_sliding_window_size,-r
    OPTIONAL. Default = 6.  The window size over which percent AG is calculated when
    searching for ribosomal binding site.

--rbs_ag_percent_cutoff,-a
    OPTIONAL. Default = 75.  The percent presence of As and Gs in the sliding window. If
    percent AG is higher than this cutoff, the sequence is considered to have a RBS.
</p>