[interface]
classification = functional prediction

[parameters]
;;BER evidence list
$;BER_EVIDENCE$; =
;; File based database of characterized proteins
$;CHARACTERIZED_DB$; = $;CHAR_DB$;
;; Can use a database instead of file based database
;; but you need to enter a username and password
$;DB_USERNAME$; = 
$;DB_PASSWORD$; = 
;;Path to coding_hmm.lib.db file (to lookup
;;cutoff scores)
$;HMM_CODING_DB$;= $;HMM_LIB_DB$;
;; The extension (in nucleotides) used in BER
$;BER_EXTENSION$; = 300
;; Ber Percent Identity cutoff
$;PERCENT_IDENTITY_CUTOFF$; = 60
;; p-value cutoff
$;P_VALUE_CUTOFF$; = 1e-30
;; Bonus votes for characterized protein matches
$;CHARACTERIZED_VOTE_BONUS$; = 4
;; If a start site has fewer votes than this parameter, it will
;; not be considered (the higher this paramter, the more likely
;; NOT to change a start site from the original).
$;MIN_VOTE_CUTOFF$; = 2
;; The window size used to find ribosome binding sites
$;RBS_SLIDING_WINDOW_SIZE$; = 6
;; Percent AG of sliding window needed to call an RBS
$;RBS_AG_PERCENT_CUTOFF$; = 75

;; The BSML Input File
;; Should be gene describing bsml
$;BSML_INPUT_FILE$; = 
$;BSML_INPUT_LIST$; = 

[input]
$;INPUT_FILE_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.each.bsml.list
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;BSML_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bsml.list
$;ONLY_CHANGED_BSML_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.changed.bsml.list
$;ALL_BSML_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.each.bsml.list

[component]
$;COMPONENT_NAME$; = start_site_curation
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 4680 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml
$;ITERATOR2$; = i2
$;ITERATOR2_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR2$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


