[interface]
classification = RNA-Seq

[parameters]
;; path to reference FastA file
$;REFERENCE_FASTA$; = 
;; path to samtools package binary directory
$;SAMTOOLS_BIN_DIR$; = $;SAMTOOLS_BIN$;
;; samtools view parameters
$;SAMTOOLS_VIEW_PARAMETERS$; = 
;; samtools sort parameters
$;SAMTOOLS_SORT_PARAMETERS$; = 
;; use --v for verbose summary
$;OTHER_ARGS$; = --v

[input]
;; path to alignment file
$;INPUT_FILE$; = 
;; path to list of alignment files
$;INPUT_FILE_LIST$; = 
;; path to directory of multiple alignment files
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = bam
;; input alignment file format (BAM or SAM)
$;INPUT_FILE_FORMAT$; = 
;; string of options for file conversion (eg : 123)
;; 1 - BAM to sorted BAM, 2 - sorted BAM to indexed BAM, 3 - BAM to SAM, and 4 - SAM to BAM
$;OPTIONS$; = 

[output]
;; use a unique sample name
$;OUTPUT_TOKEN$; = default
;; output directory for component results
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
;; list of alignment BAM files
$;OUTPUT_BAM$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bam.list
;; list of alignment BAM files sorted by position
$;OUTPUT_SORTED_BY_POSITION_BAM$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.sorted_by_position_bam.list
;; list of alignment BAM files sorted by name
$;OUTPUT_SORTED_BY_NAME_BAM$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.sorted_by_name_bam.list
;; list of alignment SAM files
$;OUTPUT_SAM$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.sam.list
;; list of alignment SAM files sorted by position
$;OUTPUT_SORTED_BY_POSITION_SAM$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.sorted_by_position_sam.list
;; list of alignment SAM files sorted by name
$;OUTPUT_SORTED_BY_NAME_SAM$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.sorted_by_name_sam.list

[component]
$;COMPONENT_NAME$; = samtools_file_convert
$;DESCRIPTION$; = converts alignment files between SAM and BAM file formats
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;;samtools version
$;VERSION$; = samtools version 0.1.18

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$; = 
