[interface]
classification = utility

[parameter]
;;Optional.Comma-separated list of desired output formats for the circleator figure (pdf, jpg, png). Default is pdf,jpg
$;OUTPUT_FORMAT$; = 
;;Optional.Height of the figure. Default is 3000
$;OUTPUT_HEIGHT$; =
;;Optional.Width of the figure. Default is 3000
$;OUTPUT_WIDTH$; =

[input]
;;Path to list of GenBank files
$;GENBANK_LIST$; =
;;Path to file containing SNPs for all the compared genomes 
$;SNP_FILE$; = 
;;Path to gene summary file
$;INPUT_FILE$; = 
;;Path to list of gene summary files
$;INPUT_FILE_LIST$; =
;;Path to directory containing gene summary files
$;INPUT_DIRECTORY$; =  
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = gene_summary.txt

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;SVG_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.svg.list
$;PDF_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.pdf.list
$;PNG_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.png.list

[component]
$;COMPONENT_NAME$; = make_comparative_circleator_figure
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$; = $Revision: 6048 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
