#configuration file for the Wait workflow

[parameters]
$;TIME$; = 10

[input]
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; input_extension is only used in combination with input_directory
$;INPUT_EXTENSION$; = fsa

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;

[workflowdocs]
;The version here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;REVISION$;            = $Revision$
$;TAG$;                 = $Name$
$;NAME$; = wait 
$;TEMPLATE_XML$; = $;WORKFLOWDOCS_DIR$;/wait.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;WORKFLOWDOCS_DIR$;/wait.$;ITERATOR1$;.xml

;The following keys are as examples of multiple iterators and can be
;excluded by if using a single iterator
$;ITERATOR2$; = undef
$;ITERATOR2_XML$; = undef
$;ITERATOR3$; = undef
$;ITERATOR3_XML$; = undef

$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/Workflow/$;NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;GROUP_COUNT$; = 150
;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;NODISTRIB$;            = 0

[include]
$;SHARED_CONFIG$;=

#see file sharedconf.ini for additional configuration settings
